.if-lleswfp-h-ugd-show { display:inline; }
.if-lleswfp-h-ugd-showblock { display:block; }
.if-lleswfp-h-ugd-show-trff { display:inline;    }  /* table rows in firefox (before ie! sigh) */
.if-lleswfp-h-ugd-show-trie { display:table-row; }  /* table rows in ie */
.if-lleswfp-h-ugd-show-tcff { display:inline; }
.if-lleswfp-h-ugd-show-tcie { display:table-cell; }
.if-lleswfp-h-ugd-hide { display:none; }
