.overdueDate {
		color:					#ff0000;
}

.textHeading {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight:			bold;
		font-size:			small;
}

.textPara {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			x-small;
}

.textItem {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			x-small;
}

.warningAdminPage {
		color:					#990000;
}
