#edocs {
	font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	width: 604px;
	color: #456395;
	border: solid black thin;
	background-color: #e2f1f6;
}

input.alert {
	font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	width: 210px;
	color: #e44317;
	border-style: none;
	background-color: #e2f1f6;
}

input.readonly {
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	width: 180px;
	color: #000000;
	background-color: #e2f1f6;
	border-style: none;
}

input.textbox1 {
	width: 180px;
}

fieldset {
	border: none;
	padding: 0px;
	margin: 0 0 0 0px;
	width:  600px;
}

legend {
	font-size: 18px;
	background-color: #84c6df;
	color: #27424b;
	width: 100%;
}

label.field {
	text-align: left;
	padding: 2px;
	width: 180px;
	float: left;
	font-size: small;
}

