.contentTable {
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin: 0;
	padding: 0;
	width: 100%;
}

.contentTable img {
	margin: 0 0.5em;
	vertical-align: text-bottom;
}

.contentTable td {
	border:1px outset white;
	position: relative;
	padding: 5px;
}

.contentTable thead, .contentTable tfoot{
	background-image: url('../fon-table-header-gray.gif');
	background-repeat: repeat-x;
	height: 28px;
}

.contentTable thead {
	border-bottom: 1px solid grey;
	line-height: 28px;
	text-align: left;
}

.contentTable tfoot {
	text-align: center;
}

.innerTable {
	padding: 0px;
    border: 0px;
}

.innerTable TD{
	white-space: nowrap;
    border: 0px;
}

.hintStyle {
	color:	gray;
	font-style: italic;
}

.hintStyle, .inputTextStyle {
	width: 50em;
}

.contentTblForeground TD{
	padding: 5px;
	background-color:	#FFFFFF;
}

.inputCheckboxStyle{
	border: 2px solid red;
}


