.inputFieldError {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:		 		11px; 
		font-weight:	 		normal;
		color:					#ff0000;
}

.errorString {
		color:					#ff0000;
}

.dispDialogCls {
	background-color: #F7F8F8;
	border-top: 1px solid #A9B7C6;
	border-left: 1px solid #A9B7C6;
	border-bottom: 1px solid #657F97;
	border-right: 1px solid #657F97;
	padding: 10px;
}

.titleClass {
	font-weight: bold;
	background-color: #F7F8F8;
	border-top: 1px solid #A9B7C6;
	border-left: 1px solid #A9B7C6;
	border-bottom: 1px solid #657F97;
	border-right: 1px solid #657F97;
	border-style: solid;
	background: url( "tb_button.gif" ) repeat-x scroll center center transparent;
    color: #666666;
    cursor: default;
    font-size: 10pt;
    font-weight: bold;
    padding: 2px 0 2px 10px;
}

.contentClass{
	font: 1em "Courier New",Courier,monospace;
	font-weight: bold;
}

.dispButtons {
	background: url( "button_background.gif" ) repeat-x;
	border: 1px solid #a9b7c6;
	color: #666;
	font-size: 8pt;	
	height: 18px; 
	margin: 0px 5px 0px 0px;
	padding: 0 5px 1px 5px;
	width: 75px;
}

.dispButtons-hover {
	background: url( "button_background_hover.gif" ) repeat-x;
	color: #00609e;
}

.dispDialogTable {
	padding: 15px;
	border: 20px;
}

.dispApplyTo {
	font-weight: bold;
	background-color: #F7F8F8;
    color: #666666;
    cursor: default;
    font-size: 8pt;
    padding: 2px 0 2px 10px;
}

.dispDlgTxt {
	background-color: #F7F8F8;
    color: #666666;
    cursor: default;
    font-size: 8pt;
}

.dlgTextBox {
	background: #fff;
    font-family: Tahoma;
	font-size: 8pt;
	border: 1px solid #a9b7c6;
}

.dispCommentPara {
	text-indent: -30px;
	margin: 0px 0px 0px 30px;
}
