.skye-ListView-UserListView {
	width: 100%;
}

.skye-ListWidget-UserListView {
	width: 100%;
}

.skye-ListWidget .photo {
	margin: 0;
	padding: 5px 10px 5px 5px;
	width: 0;
	text-align: center;
}

.skye-ListWidget .photo .gwt-Image {
    cursor: pointer;
}

.cop-MemberInfo-text-grey {
	color: #666;
	font: 8pt Tahoma;
	text-align: top;
}

.cop-MemberInfo-text {
	font: 8pt Tahoma;
	text-align: top;
	color: #000;
	line-height: 10px;
}

.cop-MemberInfo-text-bold {
	color: #000;	
	font: bold 8pt Tahoma;
	text-align: top;
	line-height: 10px;
}

.skye-ListWidget skye-ListWidget-RequestList {
	width: 100%;
}

.ListTitle {
	font: Tahoma 8pt bold #666666;
	padding: 0 0 10px 0;
}


.name .cop-MemberInfo-text-bold {
	cursor: pointer;
}

.skye-ListWidget skye-ListWidget-UserListView {
	color: #000;
}

.cop-MemberInfo-link-bold {
	border: 0;
	color: #00609e;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.cop-MemberInfo-link-bold:hover {
	text-decoration: none; 
	border-bottom: 1px solid #D39300; 
	color: #D39300; 
}

a.cop-MemberInfo-link-bold { 
	text-decoration: none; 
}

a.cop-MemberInfo-link-bold:hover { 
	text-decoration: none; 
	border-bottom: 1px solid #D39300; 
	color: #D39300; 
}
		
.cop-MemberInfo-link {
	border: 0;
	color: #00609e;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.cop-MemberInfo-link:hover {
	text-decoration: none; 
	border-bottom: 1px solid #D39300; 
	color: #D39300; 
}

a.cop-MemberInfo-link { 
	text-decoration: none; 
}

a.cop-MemberInfo-link:hover { 
	text-decoration: none; 
	border-bottom: 1px solid #D39300; 
	color: #D39300; 
}

.cop-experts-List {
	font-size: 8pt;
	list-style: none;
	margin: 0;
	padding: 0 0 0 8pt;
	line-height: 12px;
}

.skye-DisclosurePanel {
	background: #FFFFFF;
	border-top: 1px solid #a9b7c6;
	border-left: 1px solid #a9b7c6;
	border-right: 2px solid #a9b7c6;
	border-bottom: 2px solid #a9b7c6;
}

.copRequestMessage {
	font-style : italic;
	color: #666666;
	overflow: auto;
}

.skye-ListWidget TD {

	WHITE-SPACE: normal;

}