/*
CSS stylenames are in the form/pattern:

.skye-Object[-Object][-state][-state]

or

.skye-Object .object[-state][-state]
*/

/* Input Controls ----------------------------------------------------------------- */

.skye-List {
	font-size: 8pt;
	margin: 0;
	padding: 0 0 0 1.5em;
}


.skye-TextBox, .skye-PasswordTextBox, .skye-TextArea, .skye-SuggestBox, .skye-ListBox, .skye-DatePicker {
	background: #fff;
	font-size: 8pt;
	border: 1px solid #a9b7c6;
}

.skye-RadioButton, .skye-CheckBox {
	color: #666;
	font-size: 8pt;
}

.skye-TextBox-readonly, .skye-PasswordTextBox-readonly, .skye-TextArea-readonly, .skye-SuggestBox-readonly, .skye-ListBox-readonly, .skye-DatePicker-readonly, .skye-RadioGroup-readonly {
	background: #eee;
	border: none;
}

.skye-TextBox-disabled, .skye-PasswordTextBox-disabled, .skye-TextArea-disabled, .skye-SuggestBox-disabled, .skye-ListBox-disabled, .skye-DatePicker-disabled {
	background: #eee;
	border: 1px solid #ccc;
}

.gwt-SuggestBoxPopup {
	background: #fff;
}

.skye-CheckBox-readonly{ 
}

.skye-ListBox {
	min-width: 120px;
}

.skye-DatePicker-readonly {
	color: #000;
}

.skye-InputControl-Label, .skye-InputControl-Label-disabled, .skye-InputControl-Label-readonly{
	color: #666;
	font-size: 8pt;
}

.skye-InputControl-Label .mandatory, .skye-InputControl-Label-disabled .mandatory, .skye-InputControl-Label-readonly .mandatory{
	color: #daa200;
}

.skye-InputControl-Error, .skye-InputControl-Error-disabled, .skye-InputControl-Error-readonly{
	color: #f00;
	font-size: 7pt;
}

.skye-InputControl-Help, .skye-InputControl-Help-disabled, .skye-InputControl-Help-readonly{
	color: #666;
	font-size: 7pt;
}

.skye-InputControl-Spacer {
	height:5px;
}

.skye-InputControl-LabelCell {
	padding-top: 3px;
}

.skye-InputControl-WarningIcon {
	margin-right: 5px;
}

.skye-SearchWidget {
	border: 1px solid #a9b7c6;
}

.skye-SearchWidget-TextBox{
	border: 0;
	color: black;
	font-size: 8pt;
	height: 16px;
}

.skye-SearchWidget-TextBoxPrompt {
	font-style: italic;
	color: #666;
}

.skye-SearchWidget-Icon {
	background: white;
	font-size: 8pt;
}

.skye-AnimatedSearch-icon {
    padding: 32px;
	border-top: 1px solid #657f97;
	border-left: 1px solid #657f97;
	border-bottom: 1px solid #7f9db9;
	border-right: 1px solid #7f9db9;
	background: #ffffff;
	font-size: 8pt;
	text-align: center;
}


.skye-AnimatedSearch-icon-OuterBorder {
	border-top: 1px solid #96b2cd;
	border-left: 1px solid #96b2cd;
	border-bottom: 1px solid #657f97;
	border-right: 1px solid #657f97;
	background: #ffffff;
}

.skye-AnimatedSearch-IconLabel {
	padding: 8px;
	color: black;
}

.skye-FilterWidget select {
	border: 1px solid #a9b7c6;
	margin-right: 8px;
}

.skye-StandardButton, .skye-ImageButton {
	background: url(img/button_background.gif) repeat-x;
	border: 1px solid #a9b7c6;
	color: #666;
	font-size: 8pt;	
	height: 18px; 
/**	line-height: 1em; */
	line-height: 16px;
	margin: 0 0 0 5px;
	padding: 0;
	width: 75px;
}

.skye-StandardButton-hover, .skye-ImageButton-hover  {
	background: url(img/button_background_hover.gif) repeat-x;
	color: #00609e;
}

.skye-StandardButton-active, .skye-ImageButton-active {
	background: #fff;	  
	color: #00609e;
}

.skye-StandardButton-disabled, .skye-ImageButton-disabled {
	background: #eee;
	border: 1px solid #ccc;
	color: #ccc;
}

.skye-ButtonPanel {
	margin: 8px;
}

.skye-LookupButton {
	background: url(img/browse18.gif);
	cursor: pointer;
	width: 18px;
	height: 18px;
}
.skye-LookupButton-onMouseOver {
	background: url(img/browse18_mo.gif);
}
.skye-LookupButton-onMouseDown {
	background: url(img/browse18_on.gif);
}

.skye-Image-Button-icon {
	background: url(img/actions.gif);
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Image-Button-icon-onMouseOver {
	background: url(img/actions_hot.gif);
}

/*----- Forms -------------------------------------------*/

.skye-Form-ButtonPanel {
	height: 32px;
}

.skye-Form-ContentRow {
}

.skye-SimpleForm {
	background: #e8eef7;
}

.skye-SimpleForm-Controls {
	margin: 8px;
	width: 100%;
}

.skye-TabbedForm {
	background: #e8eef7;
}

.skye-TabbedForm-TabPanel {
	background: #e8eef7;
	margin-top: 4px;
}

.skye-TabbedForm .gwt-TabPanelBottom {
	background: #e8eef7;
}

.skye-TabbedForm-TabBar {
	background: #fff;
	border-bottom: 4px solid #87b3ff;
	padding-top: 2px;
}

.skye-TabbedForm-TabBar .gwt-TabBarFirst {
}

.skye-TabbedForm-TabBar .gwt-TabBarRest {
}

.skye-TabbedForm-TabBar .gwt-TabBarItem {
	background: #e8eef7;
	border-bottom: 2px solid white;
	cursor: pointer;
	cursor: hand;
	margin-right: 2px;
	padding: 4px;

}

.skye-TabbedForm-TabBar .gwt-TabBarItem-selected {
	background: #87b3ff;
	border-bottom: 2px solid #87b3ff;
	cursor: default;
	font-weight: bold;
	margin-right: 2px;
	padding: 4px;
}

/*----- MessagePanel -------------------------------------------*/

.skye-MessagePanel,
.skye-MessageDialogBox {
	background: #eee;
	border: 1px solid #a9b7c6;
	margin: 8px;
	padding: 10px;
}
.skye-MessagePanel .skye-Icon {
	margin-right: 5px;
}

.skye-MessagePanel .skye-ButtonPanel {
	margin: 8px 0 0;
}

.skye-MessagePanel-Header {
	color: #666;
	font-size: 10pt;
	font-weight: bold;
	width: 100%;
}

.skye-MessagePanel-Message {
	font: 8pt Verdana; 
}

.skye-MessagePanel-Field {
	font: 8pt Verdana; 
}

/*----- MessageDialogBox -------------------------------------------*/
.skye-MessageDialogBox .skye-MessagePanel {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
.skye-MessageDialogBox .skye-MessageDialogBox-CloseButton {
	background: url(img/close16.gif) no-repeat;
	border: 0;
	float: right;
	height: 16px;
	margin: 0 0 0 5px;
	padding: 0;
	text-indent: -9999px;
	width: 16px;
}

/*----- Tooltip -------------------------------------------*/
.skye-Tooltip {
	background: #fff;
	border: 1px solid #a9b7c6;
	color: 666;
	font-size: 8pt;
	padding: 2px;
}
.skye-Tooltip .skye-Caption {
	background: #e8eef7;
	border-bottom: 1px solid #a9b7c6;
	margin: -2px -2px 2px;
	padding: 2px;
}

/*----- LookupDialogs -------------------------------------------*/
.skye-LookupDialog {
	background: #fff;
	border: 2px outset;
}

.skye-LookupDialog .Caption {
	background: #c3d9ff;
	cursor: default;
	font-weight: bold;
	margin: 2px;
	padding: 3px;
}

.skye-LookupDialog-MainPanel {
	background: #e8eef7;
	width:100%;
}

.skye-LookupDialog-DialogButtonPanel {
}

/*----- SingleSelectListView/Widget -------------------------------------------*/
.skye-ListView-SingleColumnLookupListView {
	padding: 10px;
}

.skye-ListWidget-SingleColumnLookupListView .value {
	width: 250px;
}


/*----- MultiSelectListView/Widget/Dialog  -------------------------------------------*/

.skye-MultiSelectSimpleLookup-selectRowButton {
	background: url(img/browse18.gif);
	cursor: pointer;
	width: 18px;
	height: 18px;
}

.skye-MultiSelectSimpleLookup-selectRowButton-onMouseOver {
	background: url(img/browse18_mo.gif);
}

.skye-MultiSelectSimpleLookup-selectRowButton-onMouseDown {
	background: url(img/browse18_on.gif);
}


.skye-MultiSelectSimpleLookup-deselectRowButton {
	background: url(img/browse18.gif);
	cursor: pointer;
	width: 18px;
	height: 18px;
}

.skye-MultiSelectSimpleLookup-deselectRowButton {
	background: url(img/browse18_mo.gif);
}

.skye-MultiSelectSimpleLookup-deselectRowButton {
	background: url(img/browse18_on.gif);
}


.skye-MultiSelectListView {
	padding: 10px;
}

.skye-MultiSelectListView-NoOfItemsSelectedCell {
}

.skye-MultiSelectListView-SelectedItemsListCell {
}

.skye-ListWidget-MultiSelectSimpleLookupDialog-AllItemsList .value {
	width: 250px;	
}

.skye-ListWidget-MultiSelectSimpleLookupDialog-AllItemsList .action {
	width: 20px;	
}

.skye-ListWidget-MultiSelectSimpleLookupDialog-AllItemsList {
	height: 100px;
}	

.skye-ListWidget-MultiSelectSimpleLookupDialog-SelectedItemsList .value {
	width: 250px;
}

/*.skye-ListWidget-MultiSelectSimpleLookupDialog-SelectedItemsList .action {
	width: 20px;	
}*/

.skye-ListWidget-MultiSelectSimpleLookupDialog-SelectedItemsList {
	margin-left: 10px;
	height: 150px;
}

.skye-MultiSelectListView-NoOfSelectedItemsLabel {
	font-family: Tahoma;
	font-size: 8pt;
	color: #666666;	
	margin-bottom: 5px;
}


/*----- ListView/Widget -------------------------------------------*/

.skye-ListView-SearchPanel {
	float: right;
	margin: 5px 0px;
}

.skye-ListView-PaginationPanel {
	margin: 0px 0px;
}

.skye-ListWidget {
	border: 1px solid #a9b7c6;
	font-family: Tahoma;
	font-size: 8pt;
}

.skye-ListWidget-ScrollPanel {
	max-width:780px;
	max-height:400px;
    
    /* Needed by IE 'cause max-width etc doesn't work prior to IE 7 and doesn't work very well in IE7 */
    
    /* 18 is the size of the scrollbar */
    height: expression(Math.min(parseInt(this.children[0].offsetHeight) + 18, 400) + "px");
    width: expression(Math.min(parseInt(this.children[0].offsetWidth),  780) + "px");
}	

.skye-ListWidget-ListHeader {
	background: #eee;
}	

.skye-ListWidget-TableHeaderCell {
	height: 20px;
	margin-bottom: 1px;
	margin-top: 1px;
	border-bottom: 1px solid #a9b7c6;
}

.skye-ListWidget td {
	font: 8pt/18px Tahoma;
	overflow: hidden;
	white-space: nowrap;
}


.skye-ListWidget .selectorColumn {
    width: 30px;
}

.skye-ListWidget-shaded {
	 background: #f3f2f9;
}

.skye-ListWidget-unshaded {
	background: #fff;
}

.skye-ListWidget-rowSelected {
	background: #E2EBF3;
}	

.skye-ListWidget-NoItemsLabel {
    background: #fff;
	padding-left: 8px;
}

.skye-ListWidget-CheckBox {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}

.skye-SortableHeading {
	color: #00609e;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: top;
	float: left;
	cursor: pointer;
}

.skye-SortableHeading-sortNone {
	background-image: none;
	padding-right: 0;
}
.skye-HeaderNotSorted {
	color: #00609e;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: top;
	float: left;
	background-image: none;
	padding-right: 0;
}

.skye-SortableHeading-sortNone-composite {
	background-image: none;
	padding-right: 16px;
}

.skye-SortableHeading-sortAsc {
	background: url(img/column_sort_ascend16.gif) no-repeat right center;
	padding-right: 16px;
}

.skye-SortableHeading-sortAsc-composite {
	background: url(img/column_sort_ascend16.gif) no-repeat right center;
	padding-right: 16px;
	margin-right: 8px;
}

.skye-SortableHeading-sortDesc {
	background: url(img/column_sort_descend16.gif) no-repeat right center;
	padding-right: 16px;
}

.skye-SortableHeading-sortDesc-composite {
	background: url(img/column_sort_descend16.gif) no-repeat right center;
	padding-right: 16px;
	margin-right: 8px;
}

/*----- Pagination -------------------------------------------*/

.skye-Pagination-PagesPanel {
	margin-left: 5px;	
}
.skye-Pagination-Grid {
	padding: 0px;
}
.skye-Pagination-PagesNav {	
	background: #eee;
	color: #00609e;	
	border: 1px solid #eee;
	font: 8pt Tahoma;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}
.skye-Pagination-PagesNav-onMouseOver {
	background: #ffd35a;
	border: 1px solid #a9b7c6;
}
.skye-Pagination-PagesNav-currentPage {
	background: #fff;
	border: 1px solid #a9b7c6;
	cursor: text;
	padding-left: 4px;
	padding-right: 4px;
}

.skye-Pagination-Label {
	font-family: Tahoma;
	font-size: 8pt;
	color: #666666;	
	margin-bottom: 5px;
}

.skye-Pagination-VisibleItemsPerPage {
	color: #00609e;
	margin-left: 5px;
}
.skye-Pagination-GotoPageIcon {
/*	margin-left: 5px;		*/
	background: url(img/page_goto16.gif);
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Pagination-GotoPageIcon-onMouseOver {
	background: url(img/page_goto16_mo.gif);
}
.skye-Pagination-GotoPageTextBox {
	font-family: Tahoma;
	font-size: 8pt;
	width: 30px;
	margin-left: 5px;
}
.skye-Pagination-GotoCloseIcon {
	margin-left: 5px;
	cursor: pointer;
}
.skye-Pagination-GotoCloseIcon-tooltip {
	background: #ffff99;
}
.skye-Pagination-NavNextIcon {
	background: url(img/page_next16.gif);
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Pagination-NavNextIcon-onMouseOver {
	background: url(img/page_next16_mo.gif);
}
.skye-Pagination-NavPreviousIcon {
	background: url(img/page_previous16.gif);
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Pagination-NavPreviousIcon-onMouseOver {
	background: url(img/page_previous16_mo.gif);
}

/**
.skye-Pagination-GotoCloseIcon:hover {
	src: img/goto_close1216_mo.gif;
}
*/


/* Toolbars ---------------------------------------------------------------- */
.skye-Toolbar,
.skye-Toolbar-selected {
	background: url(img/tb_button.gif) repeat-x center;
	border: 1px solid #a9b7c6;
	border-right: 0;
	border-collapse: collapse;
	color: #666;
	cursor: default;
	font: 8pt/18px Tahoma;
	height: 18px;
	margin: 0;
	padding: 0;
}
	.skye-Toolbar .skye-MenuItem,
	.skye-Toolbar .skye-MenuItemWithIcon,
	.skye-Toolbar-selected .skye-MenuItem,
	.skye-Toolbar-selected .skye-MenuItemWithIcon {
		border-right: 1px solid #a9b7c6;
		padding: 0 9px 2px;
	}
	.skye-Toolbar .skye-MenuItemWithIcon,
	.skye-Toolbar-selected .skye-MenuItemWithIcon {
		padding-bottom: 0;
	}
	.skye-Toolbar .skye-MenuItem-hover,
	.skye-Toolbar .skye-MenuItemWithIcon-hover,
	.skye-Toolbar-selected .skye-MenuItem-hover,
	.skye-Toolbar-selected .skye-MenuItem-selected,
	.skye-Toolbar-selected .skye-MenuItem-selected-hover,
	.skye-Toolbar-selected .skye-MenuItemWithIcon-hover,
	.skye-Toolbar-selected .skye-MenuItemWithIcon-selected,
	.skye-Toolbar-selected .skye-MenuItemWithIcon-selected-hover {
		background: url(img/tb_button_hot.gif) repeat-x center;
		color: #00609e;
	}
	.skye-Toolbar .skye-MenuItem-parent .skye-MenuItemWrapper,
	.skye-Toolbar .skye-MenuItem-parent-hover .skye-MenuItemWrapper,
	.skye-Toolbar .skye-MenuItemWithIcon-parent .Toolbar-Label,
	.skye-Toolbar .skye-MenuItemWithIcon-parent-hover .Toolbar-Label {
		background: url(img/actions.gif) no-repeat right center;
		margin-right: -4px;
		spadding-bottom: 2px;
		padding-right: 17px;
	}
	.skye-Toolbar .skye-MenuItemWithIcon .Toolbar-Icon {
		display: block;
		height: 16px;
		margin: 2px 2px 2px 0;
		padding: 0;
		position: relative;
		width: 16px;
	}
	.skye-Toolbar .skye-MenuItemWithIcon .Toolbar-Label {
		color: #666666;
		font: 8pt/18px Tahoma;
		height: 18px;
	}
		
/*
	.skye-Toolbar-selected .skye-MenuItem-parent-hover .skye-MenuItemWrapper {
		background: url(img/actions_hot.gif) no-repeat right center;
		margin-right: -4px;
		padding-right: 17px;
	}
	*/

/* Toolbar wrapper, used with the ListPanel */
.skye-ToolbarWrapper {
	background: url(img/tb_button.gif) repeat-x center;
	border-bottom: 1px solid #a9b7c6;
	height: 20px;
	padding: 0;
}
	.skye-ToolbarWrapper .skye-Toolbar {
		border-bottom: 0;
		margin: -1px;
	}
/* Menubars */
.skye-Menu {
	background: #fff;
	border: 1px solid #a9b7c6;
	cursor: default;
	min-width: 113px;
}
	.skye-Menu .skye-MenuItem {
		border-left: 20px solid #e2ebf3;
		font: 8pt/20px Tahoma;
		height: 20px;
		margin: 0;
		padding: 0;
	}
		.skye-Menu .skye-MenuItem .skye-MenuItemWrapper {
			margin: 1px 1px 1px 2px;
			padding: 0 18px 0 2px;
		}
		.skye-Menu-selected .skye-MenuItem-hover .skye-MenuItemWrapper,
		.skye-Menu-selected .skye-MenuItem-selected .skye-MenuItemWrapper,
		.skye-Menu-selected .skye-MenuItem-selected-hover .skye-MenuItemWrapper {
			background: #ffd35a;
		}
		.skye-Menu-selected .skye-MenuItem-parent .skye-MenuItemWrapper,
		.skye-Menu-selected .skye-MenuItem-parent-hover .skye-MenuItemWrapper {
			background-image: url(img/menu_flyout.gif);
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 34px;
		}
	    .skye-Menu .skye-MenuItem .Toolbar-Label {
	        color: #666666;
			font: 8pt/20px Tahoma;
			height: 18px;
	    }
	    	
	.skye-Menu .skye-MenuItemWithIcon {
	}
		
		.skye-Menu .skye-MenuItemWithIcon .Toolbar-Icon {
			background: #e2ebf3;
			border: 0 solid #e2ebf3;
			border-width: 3px 2px;
			display: block;
			height: 16px;
			margin: 0;
			padding: 0;
			width: 16px;
		}
		.skye-Menu .skye-MenuItemWithIcon .Toolbar-Label {
			border: 0 solid #fff;
			border-width: 1px 1px 1px 2px;
			color: #666666;
			font: 8pt/20px Tahoma;
			height: 18px;
			padding: 0 18px 2px 2px;
			width: 100%
		}
		.skye-Menu-selected .skye-MenuItemWithIcon-hover .skye-MenuItemWrapper,
		.skye-Menu-selected .skye-MenuItemWithIcon-selected .skye-MenuItemWrapper,
		.skye-Menu-selected .skye-MenuItemWithIcon-selected-hover .skye-MenuItemWrapper {
			background: #ffd35a;
		}
		.skye-Menu-selected .skye-MenuItemWithIcon-parent .skye-MenuItemWrapper .label,
		.skye-Menu-selected .skye-MenuItemWithIcon-parent-hover .skye-MenuItemWrapper .label {
			background-image: url(img/menu_flyout.gif);
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 34px;
		}
	
	.skye-Menu .skye-MenuSeparator {
		height: 5px;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
		.skye-Menu .skye-MenuSeparator .nullIcon {
			background: #e2ebf3;
			font-size: 5px;
			height: 5px;
			line-height: 5px;
			width: 20px;
		}
		.skye-Menu .skye-MenuSeparator .theSeparator {
			border-bottom: 1px solid #a9b7c6;
			height: 2px;
			font-size: 2px;
			line-height: 2px;
			margin-left: 4px;
			width: 100%;
		}
	
	
/* DisclosurePanel ------------------------------------------------------------------------- */

.skye-DisclosurePanel {
	border: 1px solid #a9b7c6;
}
	.skye-DisclosurePanel .header,
	.skye-DisclosurePanel-close .header {
		background: #f4f7fc url(img/disclosure_expand16.gif) no-repeat 6px 3px;
		/**border: 1px solid #a9b7c6;*/
		color: #666;
		font: 8pt/20px Tahoma;
		margin: 0;
		outline: 0;
		padding: 0 8px 0 28px;
	}
	.skye-DisclosurePanel-open .header {
		background-image: url(img/disclosure_collapse16.gif);
		border-bottom: 1px solid #a9b7c6;
	}
	.skye-DisclosurePanel .header-hover,
	.skye-DisclosurePanel-close .header-hover {
		background-image: url(img/disclosure_expand16_mo.gif);
		color: #00609e;
		cursor: pointer;
		cursor: hand;
	}
	.skye-DisclosurePanel-open .header-hover {
		background-image: url(img/disclosure_collapse16_mo.gif);		
		color: #00609e;
		cursor: pointer;
		cursor: hand;
	}
	.skye-DisclosurePanel-special .header {
		background-color: #fcf1d3;
		color: #000;
	}

	.skye-DisclosurePanel .spacer .content {		
		/**padding: 10px; */
	}
	
	.skye-DisclosurePanel .spacer {
		/**border: 0 solid #a9b7c6;
		border-width: 0 1px 1px;*/
		margin: 10px;
	}
	
/* Wiki -------------------------------------------------------------------------- */
.skye-WikiText {
	background: #fff;
	border: solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-width: 0 1px 1px;
	color: #222;
	font: 1em "Courier New",Courier,monospace;
	height: 99%;
	line-height: 1.5em;
	width: 99%;
}

.skye-RichText .gwt-RichTextArea {
	background: #fff;
	border: solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-width: 0 1px 1px;
	color: #222;
	font: 1em "Trebuchet MS",sans-serif;
	sheight: 99%;
	line-height: 1.5em;
	width: 99%;
}

.skye-RichTextButton {
	background: #ddd;
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	color: #222;
}

.skye-RichTextButton-on {
	background: #bbb;
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	color: #222;
}

.skye-BoldButton {
	font-weight: bold;
}
.skye-ItalicButton {
	font-style: italic;
}

.skye-WikiPreview {
	background: #fff;
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	color: #222;
	display: block;
	height: 99%;
	width: 99%;
}

/* TreeView ------------------------- */
.skye-TreeView {
	background: #FFFFFF;
	border: 1px; #A9B7C6;
	padding: 4px;
}
    .skye-TreeView .rootNode {
        margin-left:4px;
    }
    
	.skye-TreeView .rootNode .icon {
		height: 16px;
    	width: 16px;	
	}
	.skye-TreeView .rootNode .label {
		font: 8pt Tahoma;
		margin-left:4px;
		margin-top:3px;
		color: #000000;			
	}

.skye-TreeViewItem {
    font: 8pt Tahoma;
}
	.skye-TreeViewItem .label-normal {
		margin-left:4px;
		margin-top:3px;
		color: #000000;			
	}
	
	.skye-TreeViewItem .label-hover {
	    margin-left:4px;
	    margin-top:3px;
		color: #00609E;			
	}
	
	.skye-TreeViewItem .label-selected {
	    margin-left:4px;
	    margin-top:3px;
		color: #00609E;	
		background: #E2EBF3		
	}


.skye-DropShadowPanel {
	background: url(img/ds_bottom.png) no-repeat left bottom;
	margin: 0;
	padding: 0;
	clear:both;
	float:left;
}
	.skye-DropShadowPanel .right {
		background: url(img/ds_right.png) no-repeat right top;
		margin: 0;
		padding: 0;
	}
	.skye-DropShadowPanel .right .bottomRight {
		background: url(img/ds_bottom-right.png) no-repeat right bottom;
		margin: 0;
		padding: 0 2px 2px 0;
	}
