/* *********************** ADMIN INDEX CLASSES ***************************** */

/*
 *	These classes control the different views of the admin index - tabbed and
 *	traditional.
 */
 
.allView table { width: 100%; }

.tabsView table {
	width: 100%;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	background-color: white;
}

#tabContainer { height: 100%; vertical-align: top; background:#EEE; }

#sectionContainer { width: 80%; vertical-align: top; margin: 3pt; 	}

#adminChoice { text-align: right; margin: 5pt; }

#tabContainer a, #tabContainer a:visited { color: black; text-decoration: none; }

#tabContainer a:hover, #tabContainer a:active { color: blue; text-decoration: none; }

.adminTab, .adminTabOpen, .adminTabEnd {
	display: block;
	font: bold 1em Arial;
	padding: 2pt;
	background-color: #eee;
	border-left: 5px solid #eee;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

a.adminTabOpen { color: blue !important; }

.adminTabEnd {
	background-color: #eee;
	cursor: auto;
}
* html {
	height: 100%;
}
.adminTabOpen {
	color: blue;
	background-color: white;
	border-right: none;
	border-left: 5px solid blue;
	cursor: auto;
}

.adminSection, .adminSectionOpen {
	display: none;
	border-top: 1px solid gray;
}

.adminSectionOpen { display: block; }

.adminSectionHead {
	margin: 0.25em;
	padding: 0.25em;
	font: bold 1em Arial;
	background-color:#cccccc;
	color: #555555;
}

.tabsView #tabContainer { display: table-cell; }

.tabsView .adminSectionHead { display: none; }

.allView #tabContainer { display: none; width: 0%; }

.allView #sectionContainer { width: 100%; }

.allView .adminSection, .allView .adminSectionOpen { display: block; border: none; }

.allView #allLink { display: none; }

.tabsView #tabsLink { display: none; }