#txtNewIP, #btnAddIP {
	display: block; float: left;
}

.ip-list-component {
	width: 200px;
}

.ip-list {
	width: 100%; height: 150px; border: solid 1px #000; overflow: auto; clear: both;
}

.ip-entry {
	clear: both; height: 15px; border: solid 0px red; padding: 3px;
}

.ip {
	float: left;
}

.delete-ip-button {
	display: block; float: right; border: solid 0px #000; cursor: pointer;
}
