/* @group Sidebar */

.OT_sidebar_header
{
	width: 					17em;
	height: 				1.75em;
	background-color: 		#0072AA;
	border: 				1px solid #0072AA;
	border-radius: 			.35em;
	-webkit-border-radius: 	.35em;
	-moz-border-radius: 	.35em;
	padding: 				0.75em 0;
}

.OT_sidebar_heading
{
	padding: 				0 1em;
}

.OT_sidebar_header_Outer_TR
{
	width: 					19.5em;
}

.OT_sidebar_container
{
	width: 					17em;
	border: 				1px solid #99B2C2;
	background-color: 		#FFFFFF;
	border-radius: 			.35em;
	-webkit-border-radius: 	.35em;
	-moz-border-radius: 	.35em;
	-moz-box-shadow: 		0px 1px 4px rgba(0,63,103,0.2);
	-webkit-box-shadow: 	0px 1px 4px rgba(0,63,103,0.2);
	box-shadow: 			0px 1px 4px rgba(0,63,103,0.2);
	align: 					left;
}

.OT_sidebar_header_title
{
	font: 					Arial, Helvetica, Segoe, "Segoe UI", Tahoma, "Sans Serif";
	color: 					#ffffff;
	text-transform: 		uppercase;
	font-weight: 			bold;
	font-size: 				12px;
	line-height: 			1.4em;
}

.OT_sidebar_container ul{
	padding: 				0;
	margin: 				0;
	list-style: 			none;
	list-style-type: 		none;
}

.OT_sidebar_container li{
	padding: 				0.75em 0 0.75em 0.75em;
	border: 				1px solid #FFFFFF;
	background-color: 		#FFFFFF;
	border-radius: 			0.25em;
	-webkit-border-radius: 	0.25em;
	-moz-border-radius: 	0.25em;
	text-decoration: 		none;
}

.OT_sidebar_container li.selected, .OT_sidebar_container li.selected:hover
{
	padding-left:			1.1em;
	border: 				1px solid #96D1EF;
	background-color: 		#EAF6FC;
	font-weight: 			bold;
}

.OT_sidebar_container a:link, .OT_sidebar_container a:visited{
	padding:				0.25em 0.45em 0.25em 0.45em;
	text-decoration: 		none;
	border: 				1px solid #FFFFFF;
	background-color: 		#FFFFFF;
}

.OT_sidebar_container li:hover{
	border: 				1px solid #ECDA71;
	background-color: 		#FFFFD9;
}

.OT_sidebar_container li:hover a{
	text-decoration: 		underline;
	background-color: 		#FFFFD9;
	border: none;
}

.OT_sidebar_container li a{
	position:				relative;
	overflow:				hidden;
	word-wrap:				break-word;
}

.OT_sidebar_container li span{
	position:				relative;
	overflow:				visible;
	word-wrap:				break-word;
}

.moduleList td a:link, .moduleList td a:visited{
	text-decoration: 		none;
	border: 				1px solid #FFFFFF;
	background-color: 		#FFFFFF;
	font-size:				13px;
}
.moduleList td a:hover{

	text-decoration: 		underline;
	border: 				1px solid #ECDA71;
	background-color: 		#FFFFD9;
}

.td_divider_h_solid
{
	width: 					100%;
	height: 				1px;
	font-size: 				1px;
	background-color: 		#CCD9E1;
}

.td_divider_h_gradient
{
	width: 					auto;
	height: 				1px;
	top: 					10px
	position:				relative;
	background-image: 		-webkit-gradient(linear, left top, right top, color-stop( 0.0, #FFFFFF ), color-stop( 0.500, #D9E2E8 ), color-stop( 1.0, #FFFFFF ));
	background-image: 		-webkit-linear-gradient(left, #FFFFFF, #D9E2E8 50.0%, #FFFFFF );
	background-image: 		-moz-linear-gradient(left, #FFFFFF, #D9E2E8 50.0%, #FFFFFF );
	background-image: 		-ms-linear-gradient(left, #FFFFFF, #D9E2E8 50.0%, #FFFFFF );
	background-image: 		-o-linear-gradient(left, #FFFFFF, #D9E2E8 50.0%, #FFFFFF );
	background-image: 		linear-gradient(left, #FFFFFF, #D9E2E8 50.0%, #FFFFFF );
}

.td_label_column
{
	width: 					250px;
}

.tbody_hidden{
	display: 				none;
}

.header_text{
	font-weight: 			bold;
	font-size:				13px;
}

.OT_section_label, .OT_section_sublabel
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:				15px;
	font-weight:			bold;
	font-style:				normal;
	text-decoration:		none;
	color: 					#0073AE;
}

.OT_section_sublabel
{
	font-size:				13px;
}

.rounded_bordered_table {
	border:					0;
	padding:				0;
	margin:					0;
	width:					100%;
	border: 				solid #ccc 1px;
	-moz-border-radius: 	6px;
	-webkit-border-radius: 	6px;
	border-radius: 			6px;
	-webkit-box-shadow: 	0 1px 1px #ccc;
	-moz-box-shadow: 		0 1px 1px #ccc;
	box-shadow: 			0 1px 1px #ccc;
}

.rounded_bordered_table_80 {
	border:					0;
	padding:				0;
	margin:					0;
	width:					80%;
	border: 				solid #ccc 1px;
	-moz-border-radius: 	6px;
	-webkit-border-radius: 	6px;
	border-radius: 			6px;
	-webkit-box-shadow: 	0 1px 1px #ccc;
	-moz-box-shadow: 		0 1px 1px #ccc;
	box-shadow: 			0 1px 1px #ccc;
}

.label_tag
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 				13px;
	font-style: 			normal;
	text-decoration: 		none;
	color: 					#333333;
	width:					15%;
	text-align:				left;
	white-space:			nowrap;
	padding-left:			20px;
}
.label_tag_bold
{
	font-weight: 			bold;
}

.heading_tag
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 				13px;
	font-style: 			normal;
	text-decoration: 		none;
	color: 					#333333;
	width:					15%;
	text-align:				left;
	white-space:			nowrap;
	font-weight: 			bold;
}

.text_label
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 				13px;
	font-style: 			normal;
	text-decoration: 		none;
	color: 					#333;
	white-space:			normal;
}

.text_status
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 				13px;
	font-style: 			normal;
	text-decoration: 		none;
	color: 					#333333;
	white-space:			nowrap;
}

.text_status_good
{
	color: 					#00dd00;
}

.text_status_neutral
{
	color: 					#999999;
}

.text_status_error
{
	color: 					#dd0000;
}
#license_setup_table .tightTable
{
	margin-bottom:			15px;
}
#license_setup_table .td_divider_h_solid{
	display:				none;
}
.right_link{
	margin-left:			50px;
}

/** START IE styles **/
.OT_sidebar_header_IE
{
  width: 					17em;
  height: 					2.25em;
  background-color: 		#0072AA;
  border: 					1px solid #0072AA;
  border-radius: 			5px;
  padding: 					0.75em 0;
}

.OT_sidebar_heading_IE
{
	padding: 				0 1em;
}

.OT_sidebar_container_IE
{
  width: 					17em;
  border: 					1px solid #99B2C2;
  background-color: 		#FFFFFF;
  border-radius: 			5px;
  box-shadow: 				0px 1px 4px rgba(0,63,103,0.2);
  align: 					left;
}

.OT_sidebar_container_IE ul{
	padding: 				0;
	margin: 				0;
	list-style: 			none;
	list-style-type: 		none;
}

.OT_sidebar_container_IE li{
	padding:				0;
	border: 				1px solid #FFFFFF;
	background-color: 		#FFFFFF;
	border-radius: 			0.25em;
	text-decoration: 		none;
}

.OT_sidebar_container_IE li.selected
{
	padding: 				0.75em 0 0.75em 1em;
	border: 				1px solid #96D1EF;
	background-color: 		#EAF6FC;
	font-weight: 			bold;
}

.OT_sidebar_container_IE a:link, .OT_sidebar_container_IE a:visited{
	padding: 				0.75em 0 0.75em 1em;
	display:				block;
	width:					100%;
	text-decoration: 		none;
	border: 				1px solid #FFFFFF;
	background-color: 		#FFFFFF;
}

.OT_sidebar_container_IE a:hover{
	text-decoration: 		underline;
	border: 				1px solid #ECDA71;
	background-color: 		#FFFFD9;
}

.OT_sidebar_container_IE li a{
	position:				relative;
	overflow:				hidden;
	word-wrap:				break-word;
}

.OT_sidebar_container_IE li span{
	position:				relative;
	overflow:				visible;
	word-wrap:				break-word;
}

/** END IE styles **/