#addMetaLangSection { 
	margin: 0 10%; 
	padding-bottom: 5px; 
}

#languageHeader, #localLanguageHeader, #collationHeader { 
	width: 20%; 
	white-space: nowrap;
}

#languageCodeHeader { 
	width: 10%;
	white-space: nowrap; 
}

#actionsHeader { 
	width: 5%; 
}

.disabledLanguage { 
	color: #808080; 
}
