/********************** STANDARD AnswerDesk STYLE *******************/
/* This Stylesheet is used to control the Forums */
/*****************************************************************/
body		{
		font-family: arial; 
		margin: 0px;
		padding:0;
 		}
		 


a 		{
		text-decoration: none;
		color: blue;
		}

a:hover		{
		text-decoration: underline;
		color: blue;
		}


input.btn	{
   		background-color: orange;
   		}


.icon		{
		float: left;		
		font-family: times; 
		font-size: 36pt;
		margin-top: -11px;
		
		}

.answersection	{
		margin-top: 50px;
		}

.questionsection {
		

		}

.questionanswer	{
		margin-right: 5%;
		margin-left: 60px;
		margin-bottom: 20px;
		
		}


.entrytext	{
		}


.callout	{
		color:black;
		background-color:#FFC1C1;
		font-size: 12pt;
		font-weight: bold;
		font-style: italic;
		}

.new		{
		margin-top: 10%;
		color:blue;
		font-size: 14pt;
		text-align: center; 
		text-decoration: underline;
		}

.clarcallout	{
		font-weight: bold;
		font-style: italic;
		}

.clarification	{
		margin-top: 20px;
		margin-left: 100px;;
		margin-right: 10%;
		font-style: italic;
		font-size: 10pt;
		}

.Qbyline	{
		font-size: 9pt;
		font-style: normal;
		color: gray;
		}

.Qclosed 	{
		font-size: 12pt;
		color: black;
		text-align: center; 
		font-weight: bold;
		}

.responsesbox	{
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
		}

.responses	{
		margin-left: 20px;
		margin-right: 5%;
		}

.responsetext	{
		margin-top: 15px;
		font-size: 10pt;
		}

.responselabel	{
		font-size: 11pt;
		font-weight: bold;
		}


.actions	{
		font-size: 9pt;
		text-align: left;
		}

.options	{
		margin-top: 10px;
		font-size: 9pt;
		text-align: left;
		}


.relatedlabel	{
		font-size: 9pt;
		font-weight: bold;
		margin-left: 20px;
		margin-bottom: 2px;
		}


.ul.none 
		{
		list-style-type: none
		}

.artifacts	{
		font-size: 21pt;
		}


.questionSectionNew {
		background: #EBEBEB;
		border: thin;
		padding: 1.0em;
		border-style: solid;
		border: 1px solid;
		border-color: gray;
		}

.questionTitle {
		font-size: 14pt;
		line-height: 97%
		}

.question {
		font-size: 10pt;
		margin-top: 8px;
		margin-bottom: 8px;
		}

.questionInfo {
		font-size: 8pt;
		color: gray;
		}

.urgentStatus {
		color: red;
		}

.clarificationSection {
		margin-top: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: #dadada;
		}

.clarificationLabel {
		margin-left: 40px;
		font-size: 10pt;
		font-weight: bold;
		font-style: italic;
		}
		
.clarificationNew {
		margin-left: 75px;
		margin-top: 5px;
		font-size: 10pt;
		}

.infoMessage {
		margin-top: 5%;
		text-align: center; 
		}

.responseTypeComment {
		margin-left: 20px;
		font-size: 11pt;
		color: DimGray;
		font-weight: bold;
		margin-top: 25px;
		}
		
.responseTypeAccepted {
		margin-left: 20px;
		font-size: 11pt;
		color: #006600;
		font-weight: bold;
		margin-top: 25px;
		}

.responseTypeSuggested {
		margin-left: 20px;
		font-size: 11pt;
		color: #333399;
		font-weight: bold;
		margin-top: 25px;
		}

.responseTypeRejected {
		margin-left: 20px;
		font-size: 11pt;
		color: #990000;
		font-weight: bold;
		margin-top: 25px;
		}

.response {
		font-size: 10pt;
		margin-left: 40px;
		margin-top: 25px;
		width: 90%;
		}

.byLineNew {
		font-size: 8pt;
		color: gray;
		margin-left: 60px;
		margin-top: 10px;
		}

.separator {
		margin-left: 40px;
		margin-top: 25px;
		border-top: 1px solid;
		border-color: #e6e6e6;
		width: 90%;
		}

.attachments {
		margin-left: 40px;
		}

a.acceptLink:link, a.acceptLink:visited {
		text-decoration: none;
		color: #006600;
}

a.acceptLink:hover, a.acceptLink:active {
		text-decoration: underline;
		color: #006600;
}

a.rejectLink:link, a.rejectLink:visited {
		text-decoration: none;
		color: #990000;
}

a.rejectLink:hover, a.rejectLink:active {
		text-decoration: underline;
		color: #990000;
}

.myReview {
		align:			left;
		background:		#EBEBEB;
		border-color:	gray;
		border-style:	solid;
		border-width:	1px;
		display:		none;
		margin-left:	40px;
		margin-top:		0.5em;
		padding:		1.0em;
		text-align:		left;
		width:			90%;
}

.myReview_header {
		font-weight: bold;
}

.myReview_label {
		text-align: left;
}

.myReview_comment {
		width: 50%;
}

.myReview_explanation {
		width: 100%;
		rows: 3;
}

.myReview_button {
		display: inline;
		margin-left: 0px;
}

.allReviews {
		background:		#EBEBEB;
		border-color:	gray;
		border-style:	solid;
		border-width:	1px;
		display:		none;
		margin-left:	40px;
		margin-top:		0.5em;
		padding:		0.5em 1.0em 0.5em 1.0em;
		width:			90%;
}

a.review_delete {
		color: rgb(153, 0, 0);
}

.review_rating {
		align: left;
		padding-top: 0.5em;
		width: 10%;
}

.review_comment {
		font-weight: bold;
		align: left;
		padding-top: 0.5em;
}

.review_explanation {
		padding-bottom:	0.3em;
}

.review_userdate {
		text-align: right;
		padding-bottom: 0.3em;
		border-bottom: 1px solid;
		border-color: #D0D0D0;
}
