/**
	 DEFAULT CLASSIFICATION STYLESHEET (NETSCAPE)
*/

/**
 *	Used on the classified item browse section to filter EL objects
 *
 *	See: classificationbrowse.html
 */
.browseFilterLabel {
		font-size: 			small; 
}

.classPaginationBar 
{
	font-size:				small;
}

.classPaginationBarEdit {
	font-size:		 		small; 	
}

/**************** CLASSIFICATION CUSTOM COLUMNS ****************************/
/** Overridden values to allow for customization **/

.browseListHeaderActions {
}

.browseListHeaderClassification {
}

.browseItemActions {
		font-size:			medium;
}

.browseItemClassification {
		font-size:			medium;
}
