.postedBy {
		font-size:			13px;
}

/*
 * Use this class for the create Item page to style the message text that you are
 * replying to.
 */
.messageRepliedTo {
		font-size:			small;
}

/*
 * The row for navigation that displays links for moving to the next topic, etc.
 *
 *	Use with:
 *		<TABLE>
 */
.navTable {
	text-align:				center;
}

/*
 * 	The row for navigation that displays links for moving to the next topic, etc.
 *
 *	Use with:
 *		Matches the <TD> tag inside the navTable
 */
.navTable TD {
	font-size:				x-small;
}

/*
 *	The bar above a discussion item that contains the title and posted by information.
 *
 *	Use with:
 *		<TABLE>
 */
.discussionItemTitleBar {
}

/*
 *	The discussion item's name section of the bar above the discussion item that contains the title and posted by information.
 *
 *	Use with:
 *		<TD>
 */
.itemBarName {
	font-size:				medium;
}

/*
 *	The discussion item's posted by section of the bar above the discussion item that contains the title and posted by information.
 *
 *	Use with:
 *		<TD>
 */
.itemBarPostedBy {
	font-size:				small;
}

/*
 *
 */
.inReplyToBar {
	font-size:				x-small;
}

/*
 *
 */
.discussionItem {
	font-size:				small;
}

/*
 *
 */
.attachmentsNameRow {
	font-size:				small;
}

/*
 * Use with:
 *	<TD>
 */
.discussionDivider {
}

/*
 *	The style to apply to the current discussion item displayed in the thread context section
 *	at the bottom of a viewed discussion item.
 */
.currentDiscussionItem { 
	font-size:				small;
}

/*
 *	The style to apply to discussion items other than the current one displayed in the thread context section
 *	at the bottom of a viewed discussion item.
 */
.otherDiscussionItem { 
	font-size:				small;
}

/*
 * The style applied to the subject in the topic context section at the bottom of a viewed discussion item.
 */
.subject {
	font-size:				small;
}

.unreadSubject {
	font-size:				small;
}

/*
 *
 * Use with:
 *	<SPAN>
 */
.date {
}

/*
 *
 * Use with:
 *	<SPAN>
 */
.user {
}