

/*
	RECOMMENDER STYLESHEET
	
*/

/* ---------------------------  RECOMMENDER STYLES  ---------------------------- */

/*
 * Defines the styles to apply to the rating items in a 
 * browse  header row. 
 *
 * Use with:
 * <TD>
 */
.browseListHeaderRating {
		text-align: 		center;
}


/*
 * The class applied to a Rating item in a browse list.
 *
 */
.browseItemRating {
		text-align: 		center;
}

/*
 * This class is applied to the statistics and labels in the side bar
 * of the recommender ratings page.
 *
 * Use with:
 * <TR> or <TD>
 *
 * See:
 * recommender/Ratings.html
 */
.ratingsSideHeaderText {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 		x-small;
		font-weight:	 	bold;
}

.ratingsTableHeader {
		background-image:	url( '../fon-table-header-gray.gif' );
		background-repeat:	repeat-x;
}

.ratingsTableHeader TD, .ratingsTableHeader TH {
		padding:		5px;
}

/*
 * The review input area on the ratings page for recommender. Used
 * to identify a collection polling inputs.
 *
 * Use with:
 * <TR>
 */
.recommenderInputArea {
		white-space:			nowrap;
		color:				#434343;
		background-color: 		#e2e2e2;
		border-left: 			1px solid #ffffff;
		border-top: 			1px solid #ffffff;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:			left;
		font-weight:			bold;
		font-size: 			11px;
}

/*
 * Used for the recommender summary report for the header of irregular columns
 *
 * See:
 *	recommender/Report.html
 */
.browseListReportHeader {
		text-align:			center;
}

/*
 * Used for the recommender summary report for items in irregular columns
 *
 * See:
 *	recommender/Report.html
 */
.browseReportItem {
		text-align:			left;
}

/** 
 * 	Used to format the decimal part of statistics in reports.
 * 
 *	Use with:
 * 		<SPAN>
 *
 *	See:
 *		recommender/report.html
 */
.decimalText {
	font-size:			11px;
}

/*
 * This class is applied to the synopsis text
 *
 * See:
 *		recommender/Ratings.html
 */
.synopsisText {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 		11px;
		color: 			#333333;
}
