

/*
	RECOMMENDER STYLESHEET
	
*/

/* ---------------------------  RECOMMENDER STYLES  ---------------------------- */

/*
 * Defines the styles to apply to the rating items in a 
 * browse  header row. 
 *
 * Use with:
 * <TD>
 */
.browseListHeaderRating {
}


/*
 * The class applied to a Rating item in a browse list.
 *
 */
.browseItemRating {
}

/*
 * This class is applied to the statistics and labels in the side bar
 * of the recommender ratings page.
 *
 * Use with:
 * <TR> or <TD>
 *
 * See:
 * recommender/Ratings.html
 */
.ratingsSideHeaderText {
		font-size: 		small;
}

/*
 * The review input area on the ratings page for recommender. Used
 * to identify a collection polling inputs.
 *
 * Use with:
 * <TR>
 */
.recommenderInputArea {
}

/*
 * Used for the recommender summary report for the header of irregular columns
 *
 * See:
 *	recommender/Report.html
 */
.browseListReportHeader {
}

/*
 * Used for the recommender summary report for items in irregular columns
 *
 * See:
 *	recommender/Report.html
 */
.browseReportItem {
}

/** 
 * 	Used to format the decimal part of statistics in reports.
 * 
 *	Use with:
 * 		<SPAN>
 *
 *	See:
 *		recommender/report.html
 */
.decimalText {
	font-size:			x-small;
}

/*
 * This class is applied to the synopsis text
 *
 * See:
 *		recommender/Ratings.html
 */
.synopsisText {
		font-size: 		small;
}
