#URLCreateArea {
	font-weight:bold;
	border: 1px solid #AAAAAA;
	margin-top:0px;
	background-color:#DCDCDC;
	padding:10px;
	width:400px;
}

#URLCreateArea UL {
	LIST-STYLE-TYPE: none;
}

LI{
	LIST-STYLE-TYPE: none;
	margin-bottom:2px;
}

#AddSubmit{
	text-align:center;
	margin-top:20px;
	margin-left:50px;
}

.fieldlabel {
	width:50;
}

#NavBarMenus {
	margin-right:10px;
}

.menueditItem{
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:0px;
	color:#05447e;	
	margin:0px;
	float:none;
}

.menueditItemSelected{
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:0px;
	color:#05447e;
	float:none;
	background-color:#DCDCDC;
}

div.menueditItemTxt{
}

div.menueditItemTxt a{
	cursor:move;
	color:#05447e;
}

div.menueditItemTxt a:hover{
	text-decoration:none;
}

.InfoText{ 
	font-weight:normal;
	font-style: italic;
	margin-top:10px;
	padding:0px;
}

.InfoBlock{	
	background-color:#FFFFFF;
	font-weight:normal;
	font-style: italic;
	display:block;
	margin:5px;
	padding:0px;
}

FORM.nospace{
	margin:0px 0px 0px 0px;
}

#ShortcutCreateArea {
	font-weight:bold;
	border: 1px solid #AAAAAA;
	margin-top:10px;
	background-color:#DCDCDC;
	padding:10px;
	width:400px;
}

#ShortcutCreateArea UL{
	LIST-STYLE-TYPE: none
}

#ManageItems {
	margin-top:10px;
	margin-left:150px;
}

.SectionLabel {
	font-weight:bold;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:5px;	
	border-bottom: 1px solid #AAAAAA;
	padding-left:0px;
	padding-bottom:5px;
	font-size:12px;
}

#Sidebars{
	border: 1px solid #ccc;
	padding-top:20px;
	padding-bottom:20px;
}

#NavMenuSetup {
	padding-top:10px;
	padding-bottom:10px;
}

.subsection {
	margin-left:30px;
}

#StandardSidebars {
	margin-left:0px;
}

#Customsidebars{
	margin-left:30px;
	border: 1px solid #B2B2B2;
	width:80%;
}

#AddSection{
	padding:10px;
	width:580px;
}

#LLItemsSection, #ExtUrlsSection, #EditArea, #CSidebars, #HideCSB, #seperatorSection{
	display:none;
}

#LLNewItems, #LLItemsSection, #ExtUrlsSection, #EditArea, #seperatorSection{
	padding:0px;
}

.ItemInputs{
	margin-top:10px;
	margin-left:10px;
	padding:0px;
}

#LLNewItems {
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	float:left;
	width:370px;
	height:400px;
	padding:0px;
	margin:0px;
}

#LLMenuItems {
	overflow:auto;
	height:170px;
	background-color:#FFFFFF;
	border:1px solid #B2B2B2;
	margin:0px;
	padding:0px;
}

.innerSection{
	margin:20px 20px 10px 20px;
	background-color:#EFEFEF;
	border: 1px solid #B2B2B2;
	padding:0px;
	height:260px;
}

#tabcontainer { background:#ddd;width: 30%; height: 200px;float:left;vertical-align: top;border-left: 1px solid gray;border-bottom: 1px solid gray;border-top: 1px solid gray;padding:0px;margin-left:10px;}



#sectionContainer { width: 80%; vertical-align: top; margin: 3pt; 	}



#adminChoice { text-align: right; margin: 5pt; }



#tabContainer a, #tabContainer a:visited { color: black; text-decoration: none;border-bottom: 1px solid #B2B2B2; }



#tabContainer a:hover, #tabContainer a:active { color: blue; text-decoration: none; }



.adminTab, .adminTabOpen, .adminTabEnd {

	display: block;

	font: bold 1em Arial;

	padding: 2pt;

	background-color: #eee;

}

a.adminTabOpen { color: blue !important; }



.adminTabEnd {

	height: 100%;

	background-color: #eee;

	cursor: auto;

}



.adminTabOpen {

	color: blue;

	background-color: white;

	border-right: none;

	border-left: 5px solid blue;

	cursor: auto;

}

#linktypetitle {
	text-align:center;
	width:100%;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#666666;
	height:25px;
	padding-top:0px;
	border-bottom: 1px solid #B2B2B2;
	white-space:nowrap;
}

.sectiontitle{
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#666666;
	margin:20px;
}

.imageButton{
	vertical-align:middle;
	text-align:center;
	height:26px;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size:11px;
}

.centered
    {
    vertical-align:middle;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
