// DIV.moduleheader		-> header bar of the modules (e.g. background-color of header)
// DIV.SectionData		-> content of section (e.g. background-color of section)

// LI.Module			-> module section on display page
// LI.EditModule		-> module section on edit page

// ul.editing			-> Area (header, footer, left, right) (e.g. color of 'edit box')

#DisplayModules {
margin-bottom:10px;
width:100%;
}

LI.OneModule {
border: 1px solid #ccc;
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;
width:100%;
margin:5px;
}

DIV.Module {
padding: 0px;
border: 1px solid #ccc;
width:47%;
margin:0px;
}

LI.Module {
xborder: 1px solid #ccc;
padding: 0px;
width:100%;
margin-bottom:20px;
list-style:none;
}

LI.EditModule {
border: 1px solid blue;
width:100%;
list-style:none;
margin-top:20px;
margin-bottom:20px;
margin-left: 0px;
margin-right: 0px;
background-color: #FFFFFF;
}

.moduleheader {
font: 12px verdana, arial, georgia, sans-serif;
color : #666;
text-align: left;
font-weight: bold;
width:100%;
margin-bottom:5px;
background-color: #E5ECF9;
border-top:1px solid #97ACD4;
padding: 0;
}

.moduleheader td {
padding: 0px 5px;
}

.draggableHeader {
cursor: move;
width:100%;
}

DIV.moduleheader img{
margin-left:10px;
}

DIV.SectionNoData { 
text-align:center;
padding:10px;
}

DIV.SectionData {
width:100%;
}

#ViewMore {
margin:10px;
text-align:center;
}

IMG.userfoto{
	border-width: 0px;
	clear: left;
	padding:2px;
}

#ContactInfo {
list-style:none;
height:90px;
}

#ContactName {
font-weight: bold;
}

#ContactEmail {
}

#AddItems{
width:152px;
}

#AddSubmit{
text-align:center;
margin-top:30px;
}

#AddArea{
text-align:center;
border: 1px solid #ccc;
float:left;
padding:5px;
background-color: #FFFFFF;
}

#addLink{
display:none;
}

#closeLink{
text-align:right;
display:block;
margin-bottom:5px;
}

#CurrentDisplay{
margin-left:5px;
float:left;
width:82%;
white-space:nowrap;
}

#AddTitle{
font-weight: bold;
font-size:14px;
text-align:center;
margin:5px;
border-bottom: 1px solid #ccc;
}

Div.AddModule TABLE{
text-align:left;
border-bottom: 1px solid #ccc;
}

#leftside{
float:left;
width:49%;
margin-top:5px;
margin-left:0px;
margin-bottom:5px;
padding:0px;
}

#rightside{
float:right;
width:49%;
margin-top:5px;
margin-left:10px;
margin-bottom:5px;
padding:0px;
}

#comm-header{
width:100%;
margin:0px;
padding:0px;
}

#comm-footer{
float:left;
width:100%;
margin:0px;
padding:0px;
}

ul.editing{
border: 1px solid #C3C3FF;
min-height:50px;
height: auto !important; 
height: 50px;
}

#NewModule{
position:absolute;
left:50px;
top:100px;
z-level:1;
background-color:#FFFFFF;
}

#TeamFolderEnabled {
padding:5px;
margin-top:10px;
background-color:#dddddd;
}

#ContactInfo {
padding:0px;
margin:0px;
LIST-STYLE-TYPE: none
}

#Contact {
border: 1px solid #dddddd;
background-color: #eeeeee;
PADDING: 0px; 
MARGIN-BOTTOM: 10px;
MARGIN-LEFT: 0px;
HEIGHT: 100px; 
TEXT-ALIGN: left
LIST-STYLE-TYPE: none
}

#Contact IMG {
BORDER: medium none;
PADDING: 0px;
FLOAT: left;
MARGIN: 10px;
WIDTH: 80px;  
HEIGHT: 80px
}

#Contact UL {
MARGIN-TOP: 10px;
MARGIN-LEFT: 0px
}

#Contact UL LI {
LIST-STYLE-TYPE: none
}

x#NodeInfoBox {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 5px; BACKGROUND: #dfeeff; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 45%; PADDING-TOP: 5px; BORDER-BOTTOM: #b2b2b2 1px solid; TEXT-ALIGN: center
}
#NodeInfoBox {
MARGIN 5px; 
WIDTH: 45%; 
FLOAT: left; 
}

#NodeInfoName {
PADDING: 10px; 
FONT-WEIGHT: bold; 
TEXT-ALIGN: center;
}

#NodeInfoName IMG {
xdisplay:block;
}

#NodeInfoComment {
PADDING: 10px;
MARGIN: 5px;
FONT-STYLE: italic; 
TEXT-ALIGN: center
}

#NodeInfoStats {
display:none;
PADDING-TOP: 0px;
PADDING-RIGHT: 10px; 
PADDING-LEFT: 15px; 
PADDING-BOTTOM: 5px; 
MARGIN: 5px;  
LIST-STYLE-TYPE: none; 
TEXT-ALIGN: left
}

#updatephoto{
color:red;
}
