.navmenu{
	width:152px;
	margin-bottom:10px;
}

.navmenutop div.topleft, .navmenutop div.topcenter, .navmenutop div.topright{
	float:left;
	height:5px;
	margin:0px;
	padding:0px;
	line-height:0px;
}

.navmenutop div.topleft{
	width:5px;
	background-image: url(../box-corner-top-left.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.navmenutop div.topcenter{
	width:142px;
	background:#FFFFFF;
	border-top:1px solid #CCCCCC;
}

.navmenutop div.topright{
	width:5px;
	background-image: url(../box-corner-top-right.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.navmenubottom div.bottomleft, .navmenubottom div.bottomcenter, .navmenubottom div.bottomright{
	float:left;
	height:7px;
	margin:0px;
	padding:0px;
	line-height:0px;
}

.navmenubottom div.bottomleft{
	width:5px;
	background-image: url(../box-corner-bottom-left.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.navmenubottom div.bottomcenter{
	width:140px;
	background:#FFFFFF;
	background-image: url(../box-bottom.gif);
	background-repeat:repeat-x;
}

.navmenubottom div.bottomright{
	width:7px;
	background-image: url(../box-corner-bottom-right.gif);
	background-repeat:no-repeat;
	background-position:right;
}


.navmenutitle, .navmenubody{
	background-color:#FFFFFF;
	border-left:1px solid #CCCCCC;
	background-image: url(../box-right.gif);
	background-repeat:repeat-y;
	background-position:right;
	margin:0px;
	padding-left:5px;
	padding-right:7px;
	padding-bottom:2px;
	padding-top:0px;
}

.navmenutitle div.title{
	width:100%;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#666666;
}

.navmenutitle div.divider{
	background-color:#666666;
	width:100%;
	margin-top:2px;
	height:1px;
}

.navmenubody div.divider{
	width:100%;
	margin-bottom:2px;
	margin-top:2px;
	background-color:AAAAAA;
	height:1px;
}

.navmenubody p{
	margin-top:0px;
	margin-bottom:4px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	text-transform: capitalize;
}

.navmenubody div.menuItem{
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:0px;
	color:#05447e;
	float:none;
	white-space:normal;
}

.menuspacer{
	width:1px;
	height:1px;
	border:0;
}

div.menuItemTxt{
}

div.menuItemTxtSub{
	background-image: url(../../submenuarrow.gif);
	background-repeat:no-repeat;
	background-position:right;
	margin-right:3px;
}

div.menuItemTxt a{
	color:#05447e;
}

div.menuItemTxtSub a{
	color:#05447e;
}

div.menuItemTxt a:hover{
	text-decoration:none;
}

div.menuItemTxtSub a:hover {
	text-decoration:none;
}

div.menuItemImg{
	text-align:right;
	background-image: url(../../submenuarrow.gif);
	background-repeat:no-repeat;
	background-position:right;
	margin-right:4px;
}

div.subMenuItem{
	position:absolute;
	left:150px;
	padding:4px;
	margin:0px;
	border:1px solid #CCCCCC;
	z-index:500;
	background-color:#FFFFFF;
	visibility:hidden;
}

div.subMenuItem a{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
	line-height:16px;
	display:block;
	white-space:nowrap;
	text-decoration:none;
}

div.subMenuItem a:hover{
	background-color:#DCDCDC;
	text-decoration:none;
	color:#05447e;
}

#showLink{
text-align:right;
margin-bottom:5px;
border:0;
}

#hideLink{
text-align:right;
margin-bottom:5px;
border:0;
}
