/* Notes:

Stylesheets in play (usually):

- livelink.css loads first, then localized version
- skins/standard.css loads next, then localized version
- skins/<theme>.css loads next, then localized version

Thus, theme.css need only touch those styles that vary in that theme.

See business.css for tricks with things like location display breadcrumbs.
*/

/*** UNIVERSAL COMPONENTS ***/

#mastheadComponent {}

#footerComponent {}

#navBarComponent { margin: 5px 10px; }

#navBarContent {}

#mainContent{}


/* begin Title Bar components */
#titleComponent {
	position: relative;
	width:100%;
	height: 44px;
	color: white;
	xbackground: red !important; /* !important required for backgrounds */
}

#pictogram {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
}

#titleText {
	position: absolute;
	top: 7px;
	left: 52px;
}

#headerTitle1 { white-space: nowrap; }
#headerTitle2 { white-space: nowrap; }

#titleIdentity {
	position: absolute;
	top: 7px;
	right: 100px;
	border-left: 1px solid #55f;
	border-right: 1px solid #55f;
}

#headerUserName {}
#headerCurrentDate {}

#chicklet{
	position: absolute;
	top: 8px;
	right: 0px;
	width: 100px; /* tweaks needed if titleHelp is on */
}

#chickletImage {}

#titleHelp{
	position: absolute;	top: 10px; right: 0px;
}

/* end Title Bar components */


/* containers for search bar and menu */

#searchMenuStrip {}

#searchStripCell {}

#menuStripCell {}

/* begin Search Bar components */

#searchComponent {}

#classicSearch { display: block; }

#simpleSearch { display: none; }

.simpleSearchAdvancedLabel {}


/* end Search Bar components */


/* begin Global Menu/Quicklinks components */

#menuComponent {}

.menuEdge {}
.menuFront {}
.menuBottom {}

.quicklinkBar {}
.quickLinks {}
.quickLink {}
.quicklinkBarDivider {}
.quicklinkBottom {}

/* end Global Menu/Quicklinks components */


/* begin Location Display components */

#locationDisplayComponent {}

.locationDisplayTrail {}

.locationDisplayTrailtop {}

.locationDisplayTrailNonterminalElement {}

.locationDisplayTrailTerminalElement {}

/* end Location Display components */


/* begin Add Items components */

#addItemComponent {
	float: right;
}

#addItemComponent .addItemMenuStrip {}

#addItemComponent .addItemTop {}
#addItemComponent .addItemBottom {}
#addItemComponent .addItemOutline {}
#addItemComponent .addItemMenuSelect {}
#addItemComponent .addItem {}
#addItemComponent .addItemSolo {}
#addItemComponent .addItemMenu {}

/* end Add Items components */

/* begin Simple View - temporary? */

#simpleItemView .browseListHeader, .headerRow {
		background-image:	url( '' );
		background-color:	#DDEEFF;
		font-size: 			11px;
		height:				20px;
}

#simpleItemView .browseListHeaderName {
		width: 99%;
}

#simpleItemView .browseListHeaderDate {
		width: 1%;
		text-align: left;
		padding-left: 100px;
}

#simpleItemView .browseItemDate {
	text-align: left;
	padding-left: 100px;
	font-size: 13px;
}

#simpleItemView .browseItemName a {
	font-size: 13px;
}



#simpleItemView .browseRow1 {
	height:30px;
	background-color: #FFFFFF;
}

#simpleItemView .browseRow2 {
	height:30px;
	background-color: #FFFFFF;
}

#simpleItemView .browseRowOver {
	height:30px;
	background-color: #EFEFFF;
}

/* end Simple View - temporary? */

/* end Browse - temporary? */

.browseBoxLabel {
	display: none;
}

/* end Browse - temporary? */

.infoIMG {
	float:left;
	margin-left:5px;
	margin-right:0px;
	padding:0px;
}

.infoData {
	list-style:none;
	margin-top:5px;
	margin-left:10px;
	float:left;
	padding:0px;
}

.infoName {
	font-weight:bold;
}
/* test


/**/