
a {
	font-family: MS san serif, Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color:#0000CC;
}

a.linkBold {
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	color:#333333;
}

.text {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: black; 
	text-align: left;
}

.text2 {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #999999; 
	text-align: left;
}

.textCenter {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: black; 
	text-align: center;
}
.textRight {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: black; 
	text-align: right;
}

.title {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #333333; 
	text-align: left;
}

.title2 {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: black; 
	text-align: left;
}

.title3 {
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: black; 
	text-align: left;
}

ul.list 
{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
}

table.dirsection {
	border-bottom: thin solid Gray;
	border-bottom-width: 1;	
}