#nav ul.menu-horizontal li ul li, #nav li ul li.last-menu-item{
	background-image:none;
}
#nav ul.menu-horizontal li ul li a, #nav ul.menu-horizontal li ul li a:hover{
	background-image:none;
	padding:0;
	border-right:solid 1px #CCCCCC;
}
#nav li ul li.last-menu-item a, #nav li ul li.last-menu-item a:hover{
	background-image:none;
	padding:0;
	border-bottom:solid 1px #CCCCCC;
}
.menu-horizontal a span .topmenu-icon{
	background-image:url(images/actions_sprite.gif);
	display:inline;
}
#nav .help-menu-item div.help-icon{
	background-image:url(images/help16_b8.png);
}
.show-search-panel{
	background-image:url(images/panel_buttons_sprite.gif);
}