/* Copyright 2011 Resonate KT Limited */

body {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #DDD;
	font-size: 12px;
}

.alignLeft { text-align: left; }
.alignCenter { text-align: center; }
.alignRight { text-align: right; }
.width1 { width: 1%; }

table {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 0;
	width: 98%;
	margin:0px auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.highlight {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFEE;
}

table.tagguide {	
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

img.draggable {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-right: 5px;
	vertical-align: middle;
}

table.tagguide tr td:first-child div.short {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	white-space:nowrap;
}

table.tagguide tr, table.tagguide td, table.tagguide th {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px black solid;
	padding: 0.6em;
	vertical-align: top;
}

/*table.tagguide tbody thead th { */
table.tagguide thead > tr > th {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EEE;
	font-weight: bold;
	text-align: left;
}

table.tagguide tbody > tr > th {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
}

table.tagguide td {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	cursor: pointer;
}

li {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	list-style-type: disc;
	margin-left: 3em;
}

blockquote {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	margin-left: 2em;
}

th.cctagname {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 350px;
}

blockquote, table.tagguide, table.tagguide table, ul {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0.5em 1em;
}

div.long, div.short {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height:1.2em;	
}

div.long {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	display:none;
}

h3 {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	line-height:2em;
}

.hidden {
	display:none;
}

p {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 1em;
}

p:first-child {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 0;
}