/************************** COMMENTS STYLE ***********************/
/* This Stylesheet is used to control the comments               */
/*****************************************************************/

/********************** DEFAULT TABLE STYLE *******************/
/* These Table and Table-related tags are the default styles. */
/* The "class" defintions override and augment these ones.    */
/**************************************************************/

TABLE.CommentList {
	width: 100%;
}

TD.CommentList {
}

TABLE.CommentBox {
	width: 100%;
	border: 1px solid black;
	border-right: 1px solid black;
	padding: 10pt;
}

TD.CommentBox {
	width: 100%;
	padding: 1px;
	margin: 0px;
	padding: 3pt;
}

TABLE.CommentHL {
	width: 100%;
	margin: 0pt;
}

TD.CommentHL {
	width: 100%;
	padding: 3pt;
}

TABLE.CommentBody {
	width: 100%;
	padding: 3px;
}

TD.CommentBody {
	width: 100%;
	vertical-align: top;
	text-align: left;
	padding: 3pt;
}


TD.CommentHLPost {
	text-align: right;
	width: 100%;
}

TD.CommentHLTitle {
	width: 100%;
}
	
/******************************** MOAB tables shadows ********************************/

TABLE.shadow1 {
	text-align: center;
	width:	100%;
	border: none;
}

TD.shadow1 {
	width: 100%;
}

TABLE.shadow2 {
	width: 100%;
	border: none;
}

TD.shadow2 {
}

TABLE.shadowheader {
	background-repeat: repeat-x;
	width: 100%;
	background-image: url("../../fon-table-header-gray.gif");
	border: none;
}

TD.shadowheader {
	width: 100%;
	vertical-align: bottom;
	text-align: left;
}

TD.shadowpre3 {
}

TABLE.shadow3 {
	width: 100%;
	border: 0;
}

TD.shadowpost3 {
	background-repeat: repeat-y;
	width: 2;
	background-image: url("../../form-shadow-right.gif");
}

DIV.shadowpost3 {
	border: none;
	width: 2;
	height: 2;
	background-image: url("../../form-shadow-right.gif");
}

TD.shadowpostdiv {
	width: 100%;
	background-image: url("../../form-shadow-bottom.gif");
}

TD.shadowpostdiv2 {
	height: 2;
	vertical-align:	top;
	width: 100%;
	background-image: url("../../block-shadow-bottom-right.gif");
}

P.MsoNormal {
				FONT-SIZE: 12pt; MARGIN: 0in 0in 0pt;
				FONT-FAMILY: "Times New Roman"
}

LI.MsoNormal {
				FONT-SIZE: 12pt; MARGIN: 0in 0in 0pt;
				FONT-FAMILY: "Times New Roman"
}

DIV.MsoNormal {
				FONT-SIZE: 12pt; MARGIN: 0in 0in 0pt;
				FONT-FAMILY: "Times New Roman"
}

/*********************** comment reply quote ***************************/

SPAN.commentQuote {
	border: 1px solid gray;
	width: 90%;
	padding: 10px;
	margin: 5 2 2 5;
	color: gray;
}

SPAN.commentQuotedInfo {
	color: gray;
}

DIV.commentQuote {
	border: 1px solid gray;
	width: 90%;
	padding: 10px;
	margin: 5 2 2 5;
	color: gray;
}

DIV.commentQuotedInfo {
	color: gray;
}

