td.padded-left {
	 padding-left:10px;
}

.browseDependencyStatus {
	width:	30%;	
}

.browseDependencyButtons {
	width:	10%;	
}

.disabledButton {
	font-size: 			10px; 
}

td.editorColumn {
	white-space: nowrap;
}

.dependencyEditor, .dependencyViewer {
	white-space: nowrap;
}
