.navContainerTextCol h1 {
	font-size: 2.0em;
}

.adminNavLocationPath {
	font-size: 12px;
}

.mainNavContainer {
	min-width: 850px;
}

.minWidth {
	width:850px;
	height:0px;
	line-height:0;
}

.navLink {
	padding-bottom:4px;
	margin-left: 20px;
}

.navLink a {
	padding-left: 2px;
	padding-right: 2px;
}

.actionLink {
	line-height: 2em;
}


.actionLink a {
	text-decoration: none;
}

.navTreeContainer {
	width: 300px;
	float: left;
	margin-right: 10px;
	font-size: 12px;
}

.navTreeSidebarOuter {
	
	width:300px;
}

.navTreeSidebar {
    border:1px solid #B3CBDC;
    border-top:0;
    background-color:#FFF;
}


.navTree {
	list-style-type: none;
	margin: 0;
	padding: 3px;
}

.navTree li {
	padding: 5px 2px 0px 2px;
}

.navTree ul {
	white-space: nowrap;
}

ul.navTree ul {
	margin: 0;
	padding: 0 0 0 16px;
}

a.treeElement {
	cursor: pointer;
	padding: 1px 2px 1px 2px;
}


a.highlightedTreeItem {
	background: none repeat scroll 0 0 #FFF2D4;
	border: 1px solid #E7A614;
	padding: 0 1px 0 1px;
	color: #05447E;
}

a.selectedTreeItem {
	background: none repeat scroll 0 0 #E2EBF3;
	border: 1px solid #A9B7C6;
	padding: 0 1px 0 1px;
	font-weight: bold;
}

a.searchedTreeItem {
	background: none repeat scroll 0 0 #FFFF88;
}

.adminNavContainer {
	margin-bottom: 20px;
	margin-left: 320px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #B3CBDC;
}

.navContainerImgCol {
	position: relative;
	display:block;
	float:left;
	margin: 10px 15px 15px 15px;
}

.navContainerTextCol {
	position: relative;
	display:block;
	margin:0px 15px 0px 107px;
	font-family: verdana;
	font-size: 12px;
	line-height: 1.5em;
}

.navContainerTextCol a {
	font-family: verdana;
	font-size: 12px;
}



.navTreeRoot{
	height:594px;
	overflow: visible;
}

.sidebarPanelContents {
	width: 298px;
	height: 600px;
	overflow: auto;
}

.navSearchButton{
	background:#C0E1F8;
	overflow:hidden;
	border:solid 1px #BCCFD8;
	height:18px;
	width:18px;
	display:block;
	float:left;
}

.navSearchButtonIcon{
	background:#C0E1F8 url(../style/images/search_small16_dim.png) no-repeat left center;
}

.navTreeTitle {
	overflow: hidden;
	white-space: nowrap;
}

.navContainerTextCol ul {
	list-style-type: none;
	margin-left:20px;
	margin-top:0px;
	padding-left:0px
}

ul.columnList {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}

ul.columnList li {
	float: left;
	width:250px;
	margin: 5px 0;
	display: inline;
}

fieldset.adminSearch input.box {
	width: 264px;
}