/* Blog Controls CSS Document */

.fontsize {
  border:1px solid #CCCCCC;
  width:100px;
  height:20px;
  background:#FFFFFF;
  text-align:center;
  margin-left:20px;
}

.fonts{
  list-style:none;
  border:1px solid #CCCCCC;
  padding:5px;
  display:none;
	position:absolute;
	margin-top:18px;
  background:#FFFFFF;
}

.fonts li{
  border:1px solid #CCCCCC;
  margin-bottom:3px;
  padding:3px;
  width:130px;
}

.fonts li a{
  width:100%;
}

.fonts li a:hover{
	background-color:#DCDCDC;
	text-decoration:none;
	color:#05447e;
}

#headlinesSettings{
  border-left:1px solid #AAAAAA;
  border-right:1px solid #AAAAAA;
  border-bottom:1px solid #AAAAAA;
  width:80%;
  margin:20px;
}

#headlinesSettings TD{
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}
