/********************* JOURNAL FRONTPAGE STYLE *******************/
/*                                                               */
/* This Stylesheet is used to control the so-called "frontpage"  */
/* mini-reports.  It introduces a modular set of styles to be    */
/* used whenever one of the reports are rendered.                */
/*                                                               */
/*****************************************************************/

/*************************************************************/
/******************** STRUCTURAL STYLES **********************/
/*************************************************************/

/* The "content" section on the right side */
TABLE.blog_main_content {
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
}

	TD.blog_main_content {
		padding: 0px 3px 0px 5px;
		vertical-align: top;
	}

/* The "reports" section on the left sidebar */
/* This table only includes the extra reports below the nav console */
TABLE.blog_main_reports {
	width: 152px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	border-collapse: collapse;
}

	TD.blog_main_reports {
		padding: 0px 0px 0px 0px;
		vertical-align: top;
	}
		

/*********** Browse View: Report Structural Classes ********/

DIV.blog_report {
	margin: 0px 0px 10px 0px;
}

/*********** Report: Headlines ********/

TABLE.headlines {
}

	A.headlines_title {
		font-size: 14pt;
		padding: 0px 5px 5px 0px;
		font-weight: bold;
	}
	
		#headlines_title_1 {
			font-color: pink;
			font-size: 24pt;
			text-transform: capitalize;
			font-weight: bold;
		}
	
		#headlines_title_2 {
			font-size: 18pt;
			font-weight: bold;
		}
	
		#headlines_title_3 {
			font-size: 18pt;
			font-weight: bold;
		}
	
		#headlines_title_8 {
			font-size: 8pt;
		}
	
		#headlines_title_9 {
			font-size: 8pt;
		}
	
		#headlines_title_10 {
			font-size: 8pt;
		}
	
		#headlines_title_11 {
			font-size: 8pt;
		}
	
		#headlines_title_12 {
			font-size: 8pt;
		}

	TD.headlines_body {
		font-size: 9pt;
		padding: 0px 5px 5px 3px;
	}
	
		#headlines_body_8 {
			display: none;
		}
	
		#headlines_body_9 {
			display: none;
		}
	
		#headlines_body_10 {
			display: none;
		}
	
		#headlines_body_11 {
			display: none;
		}
	
		#headlines_body_12 {
			display: none;
		}
	
		SPAN.headlines_body_date {
		}
	
		SPAN.headlines_body_abstract {
			padding-left: 5px;
		}
	
		SPAN.headlines_body_bloglink {
			font-size: 8pt;	
			padding-left: 0px;
			white-space: nowrap;		
		}
	
/*********** Report: What's Out There ********/

TABLE.whatsoutthere {
}

	A.whatsoutthere_title {
		font-size: 9pt;
		padding: 0px 5px 5px 0px;
		font-weight: bold;
	}
	
	TD.whatsoutthere_body {
		font-size: 9pt;
		padding: 0px 5px 5px 3px;
	}
	
		SPAN.whatsoutthere_body_date {
		}
	
		SPAN.whatsoutthere_body_abstract {
			padding-left: 5px;
		}
	
		SPAN.whatsoutthere_body_bloglink {
			font-size: 8pt;	
			padding-left: 0px;
			white-space: nowrap;		
		}
	
/*********** Report: Special Report ********/

TABLE.SpecialReport {
}

	TD.SpecialReport_entry_empty {
		text-align: center;
		padding: 3px 6px 3px 6px;
		text-transform: capitalize;
	}
	
	A.SpecialReport_entry_title {
		font-size: 8pt;
		text-align: left;
		font-weight: bold;
		margin: 0px;
		padding: 0px;
		text-transform: capitalize;
	}
	
	P.SpecialReport_entry_byline {
		font-weight: bold;
		margin: 1px 0px 0px 1px;
	}
	
	TD.SpecialReport_entry_content {
		white-space: normal;
		padding: 3px 0px 5px 5px;
	}
	
		IMG.SpecialReport_photo {
			width: 55px;
			margin: 2px 0px 1px 1px;
			float: right;
		}
	
	TD.SpecialReport_bloglink {
		text-align: center;
		padding: 0px;
	}
	
/*********** Report: Featured Journal ********/

TABLE.featuredblog {
}

	TD.featuredblog_entry_empty {
		text-align: center;
		padding: 3px 6px 3px 6px;
		text-transform: capitalize;
	}
	
	A.featuredblog_entry_title {
		font-size: 8pt;
		text-align: left;
		font-weight: bold;
		margin: 0px;
		padding: 0px;
		text-transform: capitalize;
	}
	
	TD.featuredblog_entry_content {
		white-space: normal;
		padding: 3px 0px 5px 5px;
	}
	
	TD.featuredblog_bloglink {
		text-align: center;
		padding: 0px;
	}
	
/*********** Reports: My Journals and New Journals ********/
	
TABLE.myweblogs {
	width: 100%;
}

TABLE.newweblogs {
}

	TD.report_list {
		padding: 2px 0px 0px 0px;
	}
	
		UL.report_list {
			margin: 0px 0px 0px 30px;
			padding: 0pt;
			text-align: left;
			list-style-image: url("current.gif");
		}
	
			LI.report_list_item {
				margin: 5px 0px 2px 0px;
				padding: 0px;
			}
	
	TD.myweblogs_newbloglink {
		padding: 5px 0px 5px 0px;
		font-weight: bold;
		text-align: center;
	}
	
	TD.newweblogs_allbloglink {
		padding: 5px 0px 0px 0px;
		font-weight: bold;
		text-align: center;
	}
	
/******************************** MOAB tables shadows ********************************/

TABLE.shadow1 {
	text-align: center;
	width:	100%;
	border: none;
}

	TD.shadow1 {
		width: 100%;
	}
	
		TABLE.shadow2 {
			width: 100%;
			border: none;
		}
		
			TD.shadow2 {
			}
			
				TABLE.shadowheader {
					background-repeat: repeat-x;
					width: 100%;
					background-image: url("../fon-table-header-gray.gif");
					border: none;
				}
				
					TD.shadowheader {
						width: 100%;
						vertical-align: bottom;
						text-align: left;
					}
	
			TD.shadowpre3 {
			}
			
				TABLE.shadow3 {
					width: 100%;
					border: 0;
				}
			
	TD.shadowpost3 {
		background-repeat: repeat-y;
		width: 2;
		background-image: url("../form-shadow-right.gif");
	}
	
		DIV.shadowpost3 {
			border: none;
			width: 2;
			height: 2;
			background-image: url("../form-shadow-right.gif");
		}
	
	TD.shadowpostdiv {
		width: 100%;
		background-image: url("../form-shadow-bottom.gif");	
	}
	
	TD.shadowpostdiv2 {
		height: 2;
		vertical-align:	top;
		width: 100%;
		background-image: url("../block-shadow-bottom-right.gif");		
	}
