.skye-ButtonPanel {
	margin-top: 10px;
}

.langPack-InstallProgressPopup  .gwt-Label,
.langPack-InstallProgressPopup  .gwt-HTML {
	font-size: 0.9em;
	font-weight: bold;
	font-family: tahoma;
	padding: 0 32px 24px;
}

.langPack-InstallProgressPopup {
	width: 464px;	
}

.gwt-PopupPanel {
	padding: 0;
	border-top: 1px solid #A9B7C6;
	border-right: 1px solid #657F97;
	border-bottom: 1px solid #657F97;
	border-left: 1px solid #A9B7C6;
  	background: white;
}

.gwt-PopupPanel .popupContent {
	border-top: 1px solid #657F97;
	border-right: 1px solid #A9B7C6;
	border-bottom: 1px solid #A9B7C6;
	border-left: 1px solid #657F97;
}

#installLanguagePackProgressBar {
	background-color: #F3F3F3; 
	width: 400px; /* max. to match background image */
	height: 16px; /* to match background image */
	height: 14px;
	border: 1px solid #fff1d3;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	overflow: hidden;
	margin: 32px 32px 1em 32px;
}
	
#pb-bar {
	background-color: #0072aa;
	width: 0;
	background-image: url(img/horizontal_progress400x16.gif);
	height: 100%;
	top: 0px; 
	left: 0px; 
	position: relative; 
	overflow: hidden;
}


#installLanguagePackProgressBar #pb-bar.IE6Sux,
#installLanguagePackProgressBar #pb-bar.done {
	background-image: none;
}
