.projectSectionBar {
		font-weight:			bold;
		color:				white;
		text-align:			center;
}

.currentStep {
		width:				1%;
		font-weight:			bold;
}

.notCurrentStep {
		width:				1%;
		color:				#999999;
}

.statusBar {
		background-color:		#cccccc;
}

.roleLabel {
		color:		#999999;
}
.lineProjectDivider {
		color:		#999999;
}

