
/* Footer */
.skye-Dialog .multilingualeditor-footer-buttonPanel {
	margin-left:	10px;
	margin-bottom: 	10px;
	margin-top:		5px;
}

.skye-Dialog .multilingualeditor-footer-okbutton {
	margin-right: 5px;
}
/* End of Footer */


.skye-Dialog .multilingualeditor-field-label {
	margin-left:	10px;
	font-size:	10pt;
	font-weight:	bold;
	text-align:	left;
}
/* End of Header */

/* Navigation Panel */
.skye-Dialog .multilingualeditor-disabled {
	color:	grey;
	text-decoration:	none;	
}

.skye-Dialog .multilingualeditor-nav-panel {
	margin-left:	10px;
	margin-top:		10px;
	margin-bottom:	5px;
}

.skye-Dialog .multilingualeditor-nav-panel * {
	padding:	1px;
}
/* End of Navigation Panel */


/* Input Control Panel */
.skye-Dialog .multilingualeditor-iContainer {
	margin: 10px;
}

.skye-Dialog .multilingualeditor-iContainer .skye-TextArea,
.skye-Dialog .multilingualeditor-iContainer .skye-TextBox {
	margin: 3px 2px 2px 0;
}
/* End of Input Control Panel */
