 /*
CSS stylenames are in the form/pattern:

.skye-Object[-Object][-state][-state]

or

.skye-Object .object[-state][-state]
*/


/* Input Controls ----------------------------------------------------------------- */

.skye-List {
	font-size: 8pt;
	margin: 0;
	padding: 0 0 0 1.5em;
}


.skye-TextBox, .skye-PasswordTextBox, .skye-TextArea, .skye-SuggestBox, .skye-ListBox, .skye-DatePicker {
	background: #fff;
    font-family: Tahoma;
	font-size: 8pt;
	border: 1px solid #a9b7c6;
}

.skye-RadioButton, .skye-CheckBox , .skye-LookupControl {
	color: #666;
	font-size: 8pt;
}

.skye-TextBox-readonly, .skye-PasswordTextBox-readonly, .skye-TextArea-readonly, .skye-SuggestBox-readonly, .skye-ListBox-readonly, .skye-DatePicker-readonly, .skye-RadioGroup-readonly {
	background: #eee;
	border: none;
}

.skye-TextBox-disabled, .skye-PasswordTextBox-disabled, .skye-TextArea-disabled, .skye-SuggestBox-disabled, .skye-ListBox-disabled, .skye-DatePicker-disabled {
	background: #eee;
	border: 1px solid #ccc;
}

.gwt-SuggestBoxPopup {
	background: #fff;
}

.skye-CheckBox-readonly { 
}

.skye-ListBox {
	/* Doesn't work in IE7 or earlier - you will have to in code call 'setWidth' if you want to control the width in IE  */
	min-width: 120px;
	border: 1px solid #A9B7C6;
}

.skye-DatePicker-readonly {
	color: #000;
}

.skye-InputControl-Label, .skye-InputControl-Label-disabled, .skye-InputControl-Label-readonly{
	color: #666;
	font-size: 8pt;
}

.skye-InputControl-Label .mandatory, .skye-InputControl-Label-disabled .mandatory, .skye-InputControl-Label-readonly .mandatory{
	color: #daa200;
}

.skye-InputControl-important{
	font-weight: bold;
}


.skye-InputControl-Error, .skye-InputControl-Error-disabled, .skye-InputControl-Error-readonly{
	color: #f00;
	font-size: 7pt;
}

.skye-InputControl-Help, .skye-InputControl-Help-disabled, .skye-InputControl-Help-readonly{
	color: #666;
	font-size: 7pt;
}

.skye-InputControl-Spacer {
	height:5px;
}

.skye-InputControl-LabelCell {
	padding-top: 3px;
}

.skye-InputControl-WarningIcon {
	margin-right: 5px;
}

.skye-SearchWidget {
	border: 1px solid #a9b7c6;
}

.skye-SearchWidget-TextBox{
	border: 0;
	color: black;
	font-size: 8pt;
	height: 16px;
}

.skye-SearchWidget-TextBoxPrompt {
	font-style: italic;
	color: #666;
}

.skye-SearchWidget-Icon {
	background: white;
	font-size: 8pt;
}

.skye-AnimatedSearch-icon {
    padding: 32px;
	border-top: 1px solid #657f97;
	border-left: 1px solid #657f97;
	border-bottom: 1px solid #7f9db9;
	border-right: 1px solid #7f9db9;
	background: #ffffff;
	font-size: 8pt;
	text-align: center;
}


.skye-AnimatedSearch-icon-OuterBorder {
	border-top: 1px solid #96b2cd;
	border-left: 1px solid #96b2cd;
	border-bottom: 1px solid #657f97;
	border-right: 1px solid #657f97;
	background: #ffffff;
}

.skye-AnimatedSearch-IconLabel {
    padding: 8px;
    color: #666;
    font-size: 8pt;
	font-weight: bold;
}

.skye-FilterWidget select {
	border: 1px solid #a9b7c6;
	margin-right: 8px;
}

.skye-StandardButton, .skye-ImageButton {
	background: url(img/button_background.gif) repeat-x;
	border: 1px solid #a9b7c6;
	color: #666;
	font-size: 8pt;	
	height: 18px; 
	margin: 0px 5px 0px 0px;
	padding: 0 5px 1px 5px;
	width: 75px;
}

/* Use when the buttons have to be on the right side of a panel (so require no padding on right and have padding on left) */
.skye-StandardButton-leftMargin, .skye-ImageButton-leftMargin {
	margin: 0px 0px 0px 5px;
}

.skye-StandardButton-hover, .skye-ImageButton-hover  {
	background: url(img/button_background_hover.gif) repeat-x;
	color: #00609e;
}

.skye-StandardButton-active, .skye-ImageButton-active {
	background: #fff;	  
	color: #00609e;
}

.skye-StandardButton-disabled {
	background: #eee;
	border: 1px solid #ccc;
	color: #ccc;
}

.skye-ButtonPanel {
	margin: 0px 5px 0px 0px;
	vertical-align: bottom;
}

.skye-LookupButton {
	background: url(img/browse18.gif) no-repeat;
	cursor: pointer;
	width: 18px;
	height: 18px;
}
.skye-LookupButton-onMouseOver {
	background: url(img/browse18_mo.gif) no-repeat;
}
.skye-LookupButton-onMouseDown {
	background: url(img/browse18_on.gif) no-repeat;
}
.skye-LookupButton-disabled {
	background: url(img/browse18_dis.gif) no-repeat;
	cursor: default;
}

.skye-Image-Button-icon {
	background: url(img/actions.gif) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Image-Button-icon-onMouseOver {
	background: url(img/actions_hot.gif) no-repeat;
}

/*----- Forms -------------------------------------------*/

.skye-Form-ButtonPanel {
	height: 32px;
	vertical-align: bottom;	
}

.skye-Form-ContentRow {
}

.skye-SimpleForm {
	background: #F7F8F8;
}

.skye-SimpleForm-Controls {
	width: 100%;
}

.skye-TabbedForm {
	background: #F7F8F8;
}

.skye-TabbedForm-TabPanel {
	background: #F7F8F8;
	margin-top: 4px;
}

.skye-TabbedForm .gwt-TabPanelBottom {
	background: #F7F8F8;
}

.skye-TabbedForm-TabBar {
	background: #fff;
	border-bottom: 4px solid #87b3ff;
	padding-top: 2px;
}

.skye-TabbedForm-TabBar .gwt-TabBarFirst {
}

.skye-TabbedForm-TabBar .gwt-TabBarRest {
}

.skye-TabbedForm-TabBar .gwt-TabBarItem {
	background: #F7F8F8;
	border-bottom: 2px solid white;
	cursor: pointer;
	cursor: hand;
	margin-right: 2px;

}

.skye-TabbedForm-TabBar .gwt-TabBarItem-selected {
	background: #87b3ff;
	border-bottom: 2px solid #87b3ff;
	cursor: default;
	font-weight: bold;
	margin-right: 2px;
}

/*----- Wizard -------------------------------------------*/

.skye-Wizard {
	background: #F7F8F8;
	color: #666;
	min-height: 300px;
}

* html .skye-Wizard { /* IE fix */
	height: 300px;
}

.skye-Wizard-ButtonPanel {
	margin: 15px 0px 0px 9px;
}


.skye-Wizard-ButtonPanel .skye-ButtonPanel {
	margin-right: 0px;
}

.skye-Wizard-ContentPanel {
	margin-right: 6px;
	height: 3px;
}

* html .skye-Wizard-ContentPanel { /* IE fix */
	height: 300px;
}

.skye-Wizard-ContentPanel .skye-SimpleForm-Controls {
	margin: 8px;
	width: 100%;
}

.skye-Wizard-TitlePanel {
}

.skye-Wizard-TitlePanel-TitleLabel {
	font-size: 10pt;
	font-weight: bold;	
	margin-left: 7px;
	margin-top: 8px;
}

.skye-Wizard-TitlePanel-SubTitleLabel {
	font-size: 8pt;
	margin-left: 7px;
}

.skye-Wizard-StepsPanelDecorator {
	width: 150px;
	border: 1px solid #a9b7c6;	
}

.skye-Wizard-StepsPanel {
	width: 150px;
}

.skye-Wizard-StepsPanel-Label {
	color: #666;
	font-size: 8pt;
	font-weight: normal;
}

.skye-Wizard-StepsPanel-Label-disabled {
   	 color: #CCCCCC;
  	 font-weight: normal;
}

.skye-Wizard-StepsPanel-Label-selected {
	color: #666;
	font-weight: bold;
}


/*----- MessagePanel -------------------------------------------*/

.skye-MessagePanel, .skye-MessageDialogBox {
	background: #FFF1D3; 
	border: 1px solid #A9B7C6;
	margin: 0px;
	padding: 10px;
}
.skye-MessagePanel .skye-Icon {
	margin-right: 5px;
}

.skye-MessagePanel .skye-ButtonPanel {
	margin: 8px 0 0;
}

.skye-MessagePanel-Header {
	color: #666;
	font-size: 10pt;
	font-weight: bold;
	width: 100%;
}

.skye-MessagePanel-Message {
	font: 8pt Verdana; 
	color: #666;
}

.skye-MessagePanel-Field {
	font: 8pt Verdana; 
}

/*----- InputControlGroup -----------------------------------------*/

.skye-InputControlGroup {
	width: 100%;
}

.skye-InputControlGroup hr {
	border: none 0; 
	border-top: 1px solid #ccc;
	width: 90%;
	height: 1px;
	margin: 15px auto 0 0; /** align mozilla */
	text-align: left;    /** align IE */	      
}

.skye-InputControlGroup-heading {
	color: #666;	
	font: 8pt Tahoma;	
	font-weight: bold;
	margin-top: 5px;	
}

.skye-InputControlGroup-InputControl {
	padding-left: 15px;	
}

/*----- MessageDialogBox -------------------------------------------*/
.skye-MessageDialogBox .skye-MessagePanel {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
.skye-MessageDialogBox .skye-MessageDialogBox-CloseButton {
	background: url(img/button_background.gif) repeat-x;
	border: 0;
	float: right;
	color: #666;
	font-size: 8pt;	
	height: 18px; 
	margin: 0px 5px 0px 0px;
	padding: 0;
	text-indent: -9999px;
	width: 16px;
}

/*----- Tooltip -------------------------------------------*/
.skye-Tooltip {
	background: #fff;
	border: 1px solid #a9b7c6;
	color: 666;
	font-size: 8pt;
	padding: 2px;
}
.skye-Tooltip .skye-Caption {
	background: #e8eef7;
	border-bottom: 1px solid #a9b7c6;
	margin: -2px -2px 2px;
	padding: 2px;
}

/*----- Dialogs -------------------------------------------*/
.skye-Dialog {
	background-color: #F7F8F8;
	border-top: 1px solid #A9B7C6;
	border-left: 1px solid #A9B7C6;
	border-bottom: 1px solid #657F97;
	border-right: 1px solid #657F97;
}

.skye-ListWidget-scrollpanel
{
	height: 280px;
	width: 250px;
}

.skye-Dialog .Caption {
	background: url(img/tb_button.gif) repeat-x center;
	border-top: 1px solid #657F97;
	border-bottom: 1px solid #A9B7C6;
	color: #666666;
	cursor: default;
	font-size: 10pt;
	font-weight: bold;	
    	padding: 2 0 2 10px;
}

.skye-Dialog .dialogMiddleCenter {
	border-top: 1px solid #657F97;
}

.skye-Dialog .dialogTopLeft, .skye-Dialog .dialogMiddleLeft, .skye-Dialog .dialogBottomLeft {
	background-color: #657F97;
	width: 1px;
}

.skye-Dialog .dialogBottomCenter {
	background-color: #A9B7C6;
	height: 1px;
}

.skye-Dialog .dialogTopRight, .skye-Dialog .dialogMiddleRight, .skye-Dialog .dialogBottomRight {
	background-color: #A9B7C6;
	width: 1px;
}

.skye-Dialog-MainPanel {
	background: #F7F8F8;
	width:100%;
}

.skye-GlassPanel {
	background-color:	#000000;	
	position:	absolute;
	top:	0px;
	left:	0px;
	/*Firefox*/
	height: 100%;
	width:	100%;
	/*IE7+*/
	height:	expression((document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight) + 'px');
	width:	expression((document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth) + 'px');
	
}

/* Overrides the above rules for compliant browsers.  Allows the glass
   panel to function correctly. */
html>body .skye-GlassPanel {
	position:	fixed;
	bottom:	0px;
	right:	0px;
}


/*----- LookupDialog -------------------------------------------*/

.skye-LookupDialog-MainPanel {
}

.skye-LookupDialog-DialogButtonPanel {
}


/*----- MultiSelectListView/Widget/Dialog  -------------------------------------------*/

.skye-MultiSelectSimpleLookup-selectRowButton {
	background: url(img/moveItem_right16.gif) no-repeat;
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.skye-MultiSelectSimpleLookup-selectRowButton-onMouseOver {
	background: url(img/moveItem_right16_mo.gif) no-repeat;
}

.skye-MultiSelectSimpleLookup-selectRowButton-onMouseDown {
	background: url(img/moveItem_right16_md.gif) no-repeat;
}

.skye-MultiSelectSimpleLookup-selectRowButton-disabled {
	background: url(img/moveItem_right16_dis.gif) no-repeat;
	cursor: default;
}

.skye-MultiSelectSimpleLookup-deselectRowButton {
	background: url(img/moveItem_left16.gif) no-repeat;
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.skye-MultiSelectSimpleLookup-deselectRowButton-onMouseOver {
	background: url(img/moveItem_left16_mo.gif) no-repeat;
}

.skye-MultiSelectSimpleLookup-deselectRowButton-onMouseDown {
	background: url(img/moveItem_left16_md.gif) no-repeat;
}


.skye-MultiSelectListView {
	padding: 10px;
}

.skye-MultiSelectListView-NoOfItemsSelectedCell {
	height: 100%;
}

.skye-MultiSelectListView-SelectedItemsListCell {
}

.skye-MultiSelectListView-NoOfSelectedItemsLabel {
	font-family: Tahoma;
	font-size: 8pt;
	color: #666666;	
	margin-bottom: 5px;
	margin-left: 12px;
	margin-top: 3px;
}

/* ----- SingleColumnListView ----- */
.skye-ListView-SingleColumnListView {
	padding: 0px;
}

.skye-ListWidget-SingleColumnListView {
	height: 245px;
}

.skye-ListWidget-SingleColumnListView .value {
	width: 250px;	
}
	
/* ----- SingleColumnMultiSelectListView ----- */

.skye-ListView-SingleColumnMultiSelectListView {
	padding: 0px;
}

.skye-ListWidget-SingleColumnMultiSelectListView .table {
	height: 245px;
}

.skye-ListWidget-SingleColumnMultiSelectListView .value {
	width: 250px;	
}

.skye-ListWidget-SingleColumnMultiSelectListView .button {
	width: 20px;	
}

.skye-ListWidget-SingleColumnMultiSelectListView-SelectedItemsList {
	margin-left: 10px;
}

.skye-ListWidget-SingleColumnMultiSelectListView-SelectedItemsList .table {	
	height: 245px;
}

.skye-ListWidget-SingleColumnMultiSelectListView-SelectedItemsList .value {
	width: 250px;
}

.skye-ListWidget-SingleColumnMultiSelectListView-SelectedItemsList .button {
	width: 20px;	
}


/*----- ListView/Widget -------------------------------------------*/

.skye-ListView-SearchPanel {
	float: right;
	margin-bottom: 5px;
}

.skye-ListView-PaginationPanel {
	margin: 0px 0px;
}

.skye-ListWidget {
	font-family: Tahoma;
	font-size: 8pt;
}


.skye-ListWidget-FlexTable {
}

.skye-ListWidget-FlexTable-withinScrollPanel {
}


.skye-ListWidget-ScrollPanel {
	border: 1px solid #a9b7c6;
	max-width:780px;
	max-height:245px;
    
	/* Needed by IE because max-width etc doesn't work prior to IE 7 and doesn't work very well in IE7 */    
	/* 18 is the size of the scrollbar */
	xxheight: expression(Math.min(parseInt(this.children[0].offsetHeight) + 18, 245) + "px");
	xxwidth: expression(Math.min(parseInt(this.children[0].offsetWidth),  780) + "px");
}

.skye-ListWidget-TitleLabel {
	color: #666666; 
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
}
.skye-ListWidget-Border {
	border: 1px solid #a9b7c6;
}
	
.skye-ListWidget-ListHeader {
	background: #eee;
}	

.skye-ListWidget-TableHeaderCell {
	height: 20px;
	margin-bottom: 1px;
	margin-top: 1px;
	border-bottom: 1px solid #a9b7c6;
}

.skye-ListWidget td {
	font: 8pt/18px Tahoma;
	overflow: hidden;
	white-space: nowrap;
}


.skye-ListWidget .selectorColumn {
	width: 30px;
}

.skye-ListWidget-shaded {
	 background: #f3f2f9;
}

.skye-ListWidget-unshaded {
	background: #fff;
}

.skye-ListWidget-rowSelected {
	background: #E2EBF3;
}

.skye-ListWidget-rowDisabled {
	color: #666;
}

.skye-ListWidget-NoItemsLabel {
	background: #fff;
	padding-left: 8px;
}

.skye-ListWidget-CheckBox {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}

.skye-SortableHeading {
	color: #00609e;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: top;
	float: left;
	cursor: pointer;
}

.skye-SortableHeading-sortNone {
	background-image: none;
	padding-right: 0;
}
.skye-HeaderNotSorted {
	color: #00609e;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: top;
	float: left;
	background-image: none;
	padding-right: 0;
}

.skye-SortableHeading-sortNone-composite {
	background-image: none;
	padding-right: 16px;
}

.skye-SortableHeading-sortAsc {
	background: url(img/column_sort_ascend16.gif) no-repeat right center;
	padding-right: 16px;
}

.skye-SortableHeading-sortAsc-composite {
	background: url(img/column_sort_ascend16.gif) no-repeat right center;
	padding-right: 16px;
	margin-right: 8px;
}

.skye-SortableHeading-sortDesc {
	background: url(img/column_sort_descend16.gif) no-repeat right center;
	padding-right: 16px;
}

.skye-SortableHeading-sortDesc-composite {
	background: url(img/column_sort_descend16.gif) no-repeat right center;
	padding-right: 16px;
	margin-right: 8px;
}

/*----- Pagination -------------------------------------------*/

.skye-Pagination-PagesPanel {
	margin-left: 5px;	
	font-family: Tahoma;
	font-size: 8pt;
}
.skye-Pagination-Grid {
	padding: 0px;
}
.skye-Pagination-PagesNav {	
	background: #eee;
	color: #00609e;	
	border: 1px solid #eee;
	font: 8pt Tahoma;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}
.skye-Pagination-PagesNav-onMouseOver {
	background: #ffd35a;
	border: 1px solid #a9b7c6;
}
.skye-Pagination-PagesNav-currentPage {
	background: #fff;
	border: 1px solid #a9b7c6;
	cursor: text;
	padding-left: 4px;
	padding-right: 4px;
}

.skye-Pagination-Label {
	font-family: Tahoma;
	font-size: 8pt;
	color: #666666;
	white-space: nowrap;
}

 .skye-Pagination-HTML {
	font-family: Tahoma;
	font-size: 8pt;
	color: #666666;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
 }

.skye-Pagination-VisibleItemsPerPage {
	color: #00609e;
	margin-left: 5px;
	font-family: Tahoma;
	font-size: 8pt;
}

.skye-Pagination-GotoPageIcon {
	background: url(img/page_goto16.gif) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Pagination-GotoPageIcon-onMouseOver {
	background: url(img/page_goto16_mo.gif) no-repeat;
}
.skye-Pagination-GotoPageTextBox {
	font-family: Tahoma;
	font-size: 8pt;
	width: 30px;
	margin-left: 5px;
	border: 1px solid #a9b7c6;
}
.skye-Pagination-GotoCloseIcon {
	margin-left: 5px;
	cursor: pointer;
}
.skye-Pagination-GotoCloseIcon-tooltip {
	background: #ffff99;
}
.skye-Pagination-NavNextIcon {
	background: url(img/page_next16.gif) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Pagination-NavNextIcon-onMouseOver {
	background: url(img/page_next16_mo.gif) no-repeat;
}
.skye-Pagination-NavPreviousIcon {
	background: url(img/page_previous16.gif) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.skye-Pagination-NavPreviousIcon-onMouseOver {
	background: url(img/page_previous16_mo.gif) no-repeat;
}


/* Toolbars ---------------------------------------------------------------- */
.skye-Toolbar,
.skye-Toolbar-selected {
	background: url(img/tb_button.gif) repeat-x center;
	border: 1px solid #a9b7c6;
	border-right: 0;
	border-collapse: collapse;
	color: #666;
	cursor: default;
	font: 8pt/18px Tahoma;
	height: 22px;
	margin: 0;
	padding: 0;
}
.skye-Toolbar .skye-MenuItem,
.skye-Toolbar .skye-MenuItemWithIcon,
.skye-Toolbar-selected .skye-MenuItem,
.skye-Toolbar-selected .skye-MenuItemWithIcon {
	background: url(img/tb_button.gif) repeat-x center;
	border-right: 1px solid #a9b7c6;
	padding: 0 9px 2px;
	height: 20px;
}
.skye-Toolbar .skye-MenuItemWithIcon,
.skye-Toolbar-selected .skye-MenuItemWithIcon {
	padding-bottom: 0;
}
.skye-Toolbar .skye-MenuItem-hover,
.skye-Toolbar .skye-MenuItemWithIcon-hover,
.skye-Toolbar-selected .skye-MenuItem-hover,
.skye-Toolbar-selected .skye-MenuItem-selected,
.skye-Toolbar-selected .skye-MenuItem-selected-hover,
.skye-Toolbar-selected .skye-MenuItemWithIcon-hover,
.skye-Toolbar-selected .skye-MenuItemWithIcon-selected,
.skye-Toolbar-selected .skye-MenuItemWithIcon-selected-hover {
	background: url(img/tb_button_hot.gif) repeat-x center;
	color: #00609e;
}
.skye-Toolbar .skye-MenuItem-parent .skye-MenuItemWrapper,
.skye-Toolbar .skye-MenuItem-parent-hover .skye-MenuItemWrapper,
.skye-Toolbar .skye-MenuItemWithIcon-parent .Toolbar-Label,
.skye-Toolbar .skye-MenuItemWithIcon-parent-hover .Toolbar-Label {
	background: url(img/actions.gif) no-repeat right center;
	margin-right: -4px;
	padding-bottom: 2px;
	padding-right: 17px;
}
.skye-Toolbar .skye-MenuItemWithIcon .Toolbar-Icon {
	display: block;
	height: 16px;
	margin: 2px 2px 2px 0;
	padding: 0;
	position: relative;
	width: 16px;
}
.skye-Toolbar .skye-MenuItemWithIcon .Toolbar-Label {
	color: #666666;
	font: 8pt/16px Tahoma;
	height: 16px;
	white-space: nowrap;
}
.skye-Toolbar .skye-MenuItem .Toolbar-Label {
	white-space: nowrap;
	color: #666666;
	font: 8pt/ 16px Tahoma;
	height: 16px;
}

/* Toolbar wrapper, used with the ListPanel */
.skye-ToolbarWrapper {
	background: url(img/tb_button.gif) repeat-x center;
	border-bottom: 1px solid #a9b7c6;
	height: 22px;
	padding: 0;
}
.skye-ToolbarWrapper .skye-Toolbar {
	border-bottom: 0;
	margin: -1px;
}
/* Menubars */
.skye-Menu {
	background: #fff;
	border: 1px solid #a9b7c6;
	cursor: default;
	min-width: 113px;
}
.skye-Menu .skye-MenuItem {
	border-left: 20px solid #e2ebf3;
	font: 8pt/20px Tahoma;
	height: 20px;
	margin: 0;
	padding: 0;
}
.skye-Menu .skye-MenuItem .skye-MenuItemWrapper {
	margin: 1px 1px 1px 2px;
	padding: 0 18px 0 2px;
}
.skye-Menu-selected .skye-MenuItem-hover .skye-MenuItemWrapper,
.skye-Menu-selected .skye-MenuItem-selected .skye-MenuItemWrapper,
.skye-Menu-selected .skye-MenuItem-selected-hover .skye-MenuItemWrapper {
	background: #ffd35a;
}
.skye-Menu-selected .skye-MenuItem-parent .skye-MenuItemWrapper,
.skye-Menu-selected .skye-MenuItem-parent-hover .skye-MenuItemWrapper {
	background-image: url(img/menu_flyout.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 34px;
}
.skye-Menu .skye-MenuItem .Toolbar-Label {
	color: #666666;
	font: 8pt/20px Tahoma;
	height: 18px;
}

.skye-Menu .skye-MenuItemWithIcon {
}

.skye-Menu .skye-MenuItemWithIcon .Toolbar-Icon {
	background: #e2ebf3;
	border: 0 solid #e2ebf3;
	border-width: 3px 2px;
	display: block;
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}
.skye-Menu .skye-MenuItemWithIcon .Toolbar-Label {
	border: 0 solid #fff;
	border-width: 1px 1px 1px 2px;
	color: #666666;
	font: 8pt/20px Tahoma;
	height: 16px;
	padding: 0 18px 0 2px;
}
.skye-Menu-selected .skye-MenuItemWithIcon-hover .skye-MenuItemWrapper,
.skye-Menu-selected .skye-MenuItemWithIcon-selected .skye-MenuItemWrapper,
.skye-Menu-selected .skye-MenuItemWithIcon-selected-hover .skye-MenuItemWrapper {
	background: #ffd35a;
}
.skye-Menu-selected .skye-MenuItemWithIcon-parent .skye-MenuItemWrapper .Toolbar-Label,
.skye-Menu-selected .skye-MenuItemWithIcon-parent-hover .skye-MenuItemWrapper .Toolbar-Label {
	background-image: url(img/menu_flyout.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 34px;
}

.skye-Menu .skye-MenuSeparator {
	height: 5px;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.skye-Menu .skye-MenuSeparator .nullIcon {
	background: #e2ebf3;
	font-size: 5px;
	height: 5px;
	line-height: 5px;
	width: 20px;
}
.skye-Menu .skye-MenuSeparator .theSeparator {
	border-bottom: 1px solid #a9b7c6;
	height: 2px;
	font-size: 2px;
	line-height: 2px;
	margin-left: 4px;
	width: 100%;
}
	
	
/* DisclosurePanel ------------------------------------------------------------------------- */

.skye-DisclosurePanel {
	border: 1px solid #a9b7c6;
	background: #fff;
	width: 100%;
}
.skye-DisclosurePanel .header,
.skye-DisclosurePanel-close .header {
	background: #f4f7fc url(img/disclosure_expand16.gif) no-repeat 6px 3px;
	color: #666;
	font: 8pt/20px Tahoma;
	margin: 0;
	outline: 0;
	padding: 0 8px 0 28px;
	font-weight: bold;
}
.skye-DisclosurePanel-open .header {
	background-image: url(img/disclosure_collapse16.gif);
	border-bottom: 1px solid #a9b7c6;
	font-weight: bold;
}
.skye-DisclosurePanel .header-hover,
.skye-DisclosurePanel-close .header-hover {
	background-image: url(img/disclosure_expand16_mo.gif);
	color: #00609e;
	cursor: pointer;
	cursor: hand;
}
.skye-DisclosurePanel-open .header-hover {
	background-image: url(img/disclosure_collapse16_mo.gif);		
	color: #00609e;
	cursor: pointer;
	cursor: hand;
}
.skye-DisclosurePanel-special .header {
	background-color: #fcf1d3;
	color: #000;
}

.skye-DisclosurePanel .spacer .content {		
}

.skye-DisclosurePanel .spacer {
	margin: 10px;
}
	
/* Wiki -------------------------------------------------------------------------- */
.skye-WikiText {
	background: #fff;
	border: solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-width: 0 1px 1px;
	color: #222;
	font: 1em "Courier New",Courier,monospace;
	height: 99%;
	line-height: 1.5em;
	width: 99%;
}

.skye-RichText .gwt-RichTextArea {
	background: #fff;
	border: solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-width: 0 1px 1px;
	color: #222;
	font: 1em "Trebuchet MS",sans-serif;
	sheight: 99%;
	line-height: 1.5em;
	width: 99%;
}

.skye-RichTextButton {
	background: #ddd;
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	color: #222;
}

.skye-RichTextButton-on {
	background: #bbb;
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	color: #222;
}

.skye-BoldButton {
	font-weight: bold;
}
.skye-ItalicButton {
	font-style: italic;
}

.skye-WikiPreview {
	background: #fff;
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	color: #222;
	display: block;
	height: 99%;
	width: 99%;
}

/* TreeView ------------------------- */
.skye-TreeView {
	background: #FFFFFF;
	border: 1px; #A9B7C6;
	padding: 4px;
}
.skye-TreeView .rootNode {
	margin-left:4px;
}

.skye-TreeView .rootNode .icon {
	height: 16px;
	width: 16px;	
}
.skye-TreeView .rootNode .label {
	font: 8pt Tahoma;
	margin-left:4px;
	margin-top:3px;
	color: #000000;			
}

.gwt-TreeItem {
}

.gwt-Tree {
	color: red;
}

.gwt-Tree .gwt-TreeItem { 
	font: 8pt Tahoma; 
	color: #000000;			
}

.gwt-Tree .gwt-TreeItem-selected,
.gwt-Tree .gwt-TreeItem-selected .myHorizontalPanel {
    color: #00609E;		
    background-color: #E2EBF3		
}

.gwt-Tree .gwt-TreeItem-selected .myHorizontalPanel .label-normal {
	margin-left:4px;
	margin-top:3px;
}

.gwt-Tree .gwt-TreeItem  .myHorizontalPanel .label-normal {
	font: 8pt Tahoma;
	margin-left:4px;
	margin-top:3px;	
}

.gwt-Tree .gwt-TreeItem  .myHorizontalPanel .label-hover {
	font: 8pt Tahoma;
	margin-left:4px;
	margin-top:3px;	
	color: #00609E;	
}
 
.skye-TreeViewItem {
	font: 8pt Tahoma;
}

	
.skye-TreeViewItem .label-hover {
	margin-left:4px;
	margin-top:3px;
	color: #00609E;			
}

.skye-TreeViewItem .label-selected {
	margin-left:4px;
	margin-top:3px;
	color: #00609E;	
	background: #E2EBF3		
}


.skye-DropShadowPanel {
	background: url(img/ds_bottom.png) no-repeat left bottom;
	margin: 0;
	padding: 0;
	clear:both;
	float:left;
}
.skye-DropShadowPanel .right {
	background: url(img/ds_right.png) no-repeat right top;
	margin: 0;
	padding: 0;
}
.skye-DropShadowPanel .right .bottomRight {
	background: url(img/ds_bottom-right.png) no-repeat right bottom;
	margin: 0;
	padding: 0 2px 2px 0;
}

.skye-ListView-folderList {
	width: 100%;
	border: 1px solid #a9b7c6;
}

.skye-ListWidget-folderList {	
}

.skye-ListWidget-folderList .icon {
	width: 30px;
}

.skye-ListWidget-folderList .name {
}

.skye-ListWidget-folderList .edit {
	width: 40px;
}

.skye-ListWidget-folderList .open {
	width: 40px;
}

.skye-ListWidget-folderList .download {
	width: 60px;
}

.skye-ListWidget-folderList .size {
	width: 70px;
	float: right;
	padding-right: 15px;
}

.skye-ListWidget-folderList .size .skye-SortableHeading {
	float: right;
}

.skye-ListWidget-folderList td.size {
	text-align: right;
	padding-right: 10px;
}

.skye-ListWidget-folderList .date {
	width: 80px;
}


.skye-ListWidget-folderList .commandWidget {
	color: #00609E;
	display: inline;
}

.skye-ListWidget-folderList .commandWidget-hover {	
	color: #D39300;
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}
.skye-ListWidget-UserListView {
	border: 1px solid #a9b7c6;
}

.skye-ListWidget-UserListView .photo {
	width:60px;
}
.skye-ListWidget-UserListView .name {
	width:300px;
}
.skye-ListWidget-UserListView .login {
	width:100px;
}
.skye-ListWidget-UserListView .role {
	width:200px;
}

.skye-ListWidget-ExampleListView .value {
	width: 250px;
}

.skye-ListView-ExampleListView {
	padding-left: 10px;
	padding-right: 10px;
}

/*---- LookupControlsTab - UserLookupListView ---- */
.skye-ListView-UserLookupListView {
	padding: 0px;
}

.skye-ListWidget-UserLookupListView {
	height: 245px;
}

.skye-ListWidget-UserLookupListView .name {
	width: 125px;	
}

.skye-ListWidget-UserLookupListView .address {
	width: 125px;	
}

.skye-ListWidget-UserLookupListView .button {
	width: 20px;	
}

.skye-ListWidget-UserLookupListView-SelectedItemsList {
	margin-left: 10px;
}
.skye-ListWidget-UserLookupListView-SelectedItemsList .table {
	margin-left: 10px;
	height: 245px;
}

.skye-ListWidget-UserLookupListView-SelectedItemsList .name {
	width: 125px;
}

.skye-ListWidget-UserLookupListView-SelectedItemsList .address {
	width: 125px;
}

.skye-ListWidget-UserLookupListView-SelectedItemsList .button {
	width: 4px;	
}

