.heading
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#FFFFFF;
	background:#666666;
	padding: 5px 10px 5px 10px;
}

a.headingLink:link { color: #FFFFFF; }
a.headingLink:visited { color: #FFFFFF; }
a.headingLink:active { color: #FFFFFF; }
a.headingLink:hover { color: #DDDDDD; }


.column
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
	background:#E2E2E2;
	width: 1%;
	white-space: nowrap;
	padding: 5px 10px 5px 10px;
}

.text
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
}

.link
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
}

.warning
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#FF0000;
}

.required
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#900000;
}

.rowDark
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
	background:#EEEEEE;
}

.rowLight
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
	background:#FFFFFF;
}

.small
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:8pt;
	color:#000000;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}
