.languageColumn {
	text-align: left;
}

.metadata-widget img {
	vertical-align: top;
	margin: 0 5 0 5;
}

.metadata-widget span {
	color:#AAA; 
	vertical-align:top;	
}

.multilingual_readonly {
	background-color:#f6f6f6;
	cursor: pointer;
}