.otModuleHide { display:none; }
.otModuleShow { display:inline; }
.otModuleShowTc { display:table-cell; }
.otModuleShowTr { display:table-row; }
/* 
For a concrete module xxx, add the following entries:

.if-xxx-show { display:inline; }
.if-xxx-show-tr { display:table-row; }
.if-xxx-show-tc { display:table-cell; }
.if-xxx-hide { display:none; }

These entries must be inserted after .otModuleHide and .otModuleShow

Note: The table entries above do not work with IE; for IE, use the following,
which however do not work for other Browsers, (at least Mozilla)
  .if-xxx-show-tr { display:inline; }
  .if-xxx-show-tc { display:inline; }  
*/

