
.buttonAdd
{
}

.buttomAddTo
{
}

.buttonMoveDown
{
	padding-left: 5px;
}

.buttonMoveUp
{
	padding-left: 5px;
}

.buttonRemove
{
	padding-left: 5px;
}

.buttonRemoveFrom
{
}

.buttonUpdate
{
}


.complex
{
}

.complexHeading
{
	background: #CCCCCC;
	text-align: right;
}


.displayArea
{
	color:#000000;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background: #e2e2e2;
	width: 1%;
	padding: 5px 10px 5px 10px;
}


.displayDescription
{
	font-weight: normal;
	font-size: 9px;
	padding-top: 3px;
}


.displayName
{
	white-space: nowrap;
}


.displayName img
{
	padding-left: 3px;
}


.grid
{
	width: 100%;
}

.gridHeading
{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background: #CCCCCC;
	padding: 2px 2px 2px 2px;
}

.gridRow
{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.gridRowColor1
{
	background: #FFFFFF;
}

.gridRowColor2
{
	background: #E2E2E2;
}

.widget, .widget *
{
}

.widgetBoolean
{
}

.widgetCheckBox
{
}

.widgetComplex
{
	background: #E2E2E2;
	width: 1%;
}

.widgetDate
{
}

.widgetDropDown
{
}

.widgetGroup
{
}

.widgetInteger
{
}

.widgetLabel
{
}

.widgetListBox
{
	height: 85px;
	min-width: 260px;
}

.widgetObject
{
}

.widgetRadio
{
}

.widgetReal
{
}

.widgetString
{
}

.widgetText
{
}

.widgetUser
{
}

.widgetUserGroup
{
}