/*
 * 
 *
 */
.notYetOpenBox, .pollInformationBox, .pollInformationBox a {
		background-color:		#FFC78E;
		font-size:				10px;
		font-weight:			bold;
}

.questionNumber {
		text-align:				left;
		font-weight:			bold;
		font-size:				10px;
}

.question {
		text-align:				right;
		font-family:			Tahoma, Arial, Sans-serif;
		font-weight:			bold;
		font-size:				10px;
}

.answerOption {
		font-family:			Tahoma, Arial, Sans-serif;
}

.votes {
		font-size:				xx-small;
}

.commentTable {
		background-color:		#666666;
		font-size:				11px;
}

.commentHeader TD {
		background-color:		#cccccc;
		font-family:			Tahoma, Arial, Sans-serif;
}

.comment {
		font-family:			Tahoma, Arial, Sans-serif;
		background-color:		#ffffff;
}

/*
 *
 *	Use with:
 *		<TR>
 */
.editQuestionEntry {
		background-color:		#ffffff;
}

.editQuestionsTable {
	background-color:			#999999;
}
