.box {
	list-style-type: none; 
	margin: 0; 
	padding: 5px; 
	width: 60%; 
	border: 1px solid #666666; 
}

.ui-state-highlight { 
	height: 1.5em; 
	line-height: 1.2em; 
}

.readonly {
	border: 1px dotted #00609E; 
}

.sortable {
	border: 1px solid #00609E; 
	background-color: #DFE9F0;
	cursor: move;
}

#sortable li { 
	margin: 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 11px; 
	height: 18px; 
}

#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}