/*
	LIVELINK SEARCH STYLESHEET (NETSCAPE)
	
*/

/* ---------------------------  LIVELINK SEARCH STYLES  ---------------------------- */


/* *********************** Search Classes ****************************** */

/*
  * This style is applied to the titles of search option sections
  *
  */
.searchOptionTitle {
		font-size: 			small;
}

/**
 *
 *	These styles are used for the simple result 
 *
 *	Use with: <TABLE> or <TD>
 */
.simpleResultHeader
{
		font-size:        		small;
}


/*
	The style to use for the label text in the Advanced Options section on the search page.
	Based on label class (without border properties) in livelink.css
	
	Use with:
		<TD>
*/
.advancedOptionsText {
		font-size: 			small;
}

/*
 * Defines the style for the result bar table.
 *
 * Use with:
 * <TABLE>
 *
 * See:
 * resultbar/resultbar.html
 */
.resultBarTbl {
 		font-size: 			small;
 }

/*
 *	These styles are used for the search more/search less info buttons on the web search
 *	result display style.
 *
 *	See:
 *		resultlist2.html
 */
.searchButtonML {
		font-size:			xx-small;
}

.bestBetRow1, .bestBetRow1 a {
		font-size: 			small; 
}

.noResultsBox {
		font-size: 			small;
}

/*******************************************Detailed Search Styles *****************************/

.detSearchMainHeader
{
	font-size: 		x-small;
}

.detSearchHeader
{
	font-size:		x-small;
}

.detSearchInputField
{
	font-size:		x-small;
}

.detSearchDisableField
{
	font-size:		x-small;
}