/*
	LIVELINK SEARCH STYLESHEET
	
*/

/* ---------------------------  LIVELINK SEARCH STYLES  ---------------------------- */

/*
 * This class is applied to the browse table on the Display Options page
 *
 * Use with:
 * <TABLE>
 */
.innerTblForeground TD, .innerTblForeground TH {
		padding:			0px;
}

/*
 * This class is applied to component tables on the advanced search page to provide padding.
 *
 * Use with:
 * <TABLE>
 */
.paddedSubTbl {
		background-color:		#FFFFFF;
		border: 			1px solid #999999;
}


.paddedSubTbl TD, .paddedSubTbl TH {
    padding: 5px;
}

/**
 *
 *	This style is used for search result bulk operations row
 *
 *	Use with: <TR>
 */

.bulkOpsHeader {
		background-image:		url( 'fon-table-header-blue.gif' );
		background-repeat:		repeat-x;
		vertical-align:			middle;
}

/**
 *
 *	This style is used for the vertical column divider in search result bulk operations row
 *
 *	Use with: <TH> or <TD>
 */

.bulkOpsHeader .colDivider {
		background-repeat:		no-repeat;
		background-image:		url( 'table-header-divider.gif' );
		height: 			14px;
		width: 				2px;
}

.bulkOpsHeader .upperMenu TD {
		border-bottom:			1px solid #999999;
}

.groupOpsHeader {
		background-image:		url( 'fon-table-header-orange.gif' );
		background-repeat:		repeat-x;
		vertical-align:			middle;
}

.groupOpsHeader TD {
		border-bottom:			1px solid #999999;
}

.groupOpsHeader .topBorder TD {
		border-top:			1px solid #999999;
}

.groupOpsFooter {
		background-image:		url( 'fon-table-header-white.gif' );
		background-repeat:		repeat-x;
		vertical-align:			middle;
}

/**
 *
 *	This style is used for the vertical column divider in search result bulk operations row
 *
 *	Use with: <TH> or <TD>
 */

.groupOpsHeader .colDivider {
		background-repeat:		no-repeat;
		background-image:		url( 'table-header-divider.gif' );
		height: 			14px;
		width: 				2px;
}

/**
 *
 *	These styles are used for the simple result 
 *
 *	Use with: <TABLE> or <TD>
 */

.simpleResultTable {
		padding:			0px;
		width:				100%;
}

.searchResultHeader
{
		border-bottom:			1px solid #B3CBDC;
}

/*
	The style to use for the label text in the Advanced Options section on the search page.
	Based on label class (without border properties) in livelink.css
	
	Use with:
		<TD>
*/
.advancedOptionsText {
		white-space:			nowrap;
		color:				#434343;
		background-color: 		#e2e2e2;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:			left;
}

.advancedOptionsText a:link, .advancedOptionsText:visited {
		text-decoration:		none;
}

.advancedOptionsText a:hover, .advancedOptionsText:active {
		text-decoration:		underline;
}

/*
	Reduce the search result row heights a bit - see livelink.css, resultlistX.html files
*/

.searchResultsListTemplate {
		border:				0px;
}

.searchResultsListTemplate TD {
		padding:			0px;
}

.searchResults .browseRow1, .searchResults .browseRow2, 
.searchResultsListTemplate .browseRow1, .searchResultsListTemplate .browseRow2 {
		height:				20px;
		padding-top:			1px;
		padding-bottom:			1px;
}

.searchResults UL {
		margin-top: 			3px;
		margin-bottom:			3px;
		list-style-type: 		disc;
}

/* disable borders in the internal table (used in both resultlist.html and resultlist2.html) */
.searchResultsListTemplate .searchResultNoBorders .browseRow1 TD, .searchResultsListTemplate .searchResultNoBorders .browseRow2 TD {
		border-top:			0px;
		border-left:			0px;
}

/* enable top and left border (used in both resultlist.html and resultlist2.html) */
.searchResultsListTemplate .browseRow1 TD, .searchResultsListTemplate .browseRow2 TD {
		border-top:			1px solid #e0e0e0;
		border-left:			1px solid #e0e0e0;
}

/* resultlist3.html uses "simpleResultTable" for its outer table class */
.simpleResultTable .browseRow1 TD, .simpleResultTable .browseRow2 TD {
		border-top:			1px solid #e0e0e0;
		border-left:			1px solid #e0e0e0;
		padding-left:			3px;
		padding-right:			3px;
}

/*resultlist3.html uses "simpleResultTabColumn" to drive the generic presentation of regions*/
.simpleResultTabColumn {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 150px;
}


.simpleResultTabColumn ul{
	list-style-type: disc;
}

.simpleResultTabColumn li{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	list-style-position:inside;
	text-align: left;
}

/*
 * Defines the style for the result bar table.
 *
 * Use with:
 * <TABLE>
 *
 * See:
 * 	resultbar.html
 */
.resultBarTbl {
 		font-size: 		11px;
 }
 
 /*
  * Since font-size affects <BR> rendering on IE, we need to do this.
  */  
.resultBarTbl BR {
		font-size: 		2px;
}

/*
 *	These styles are used for the search more/search less info buttons on the web search
 *	result display style.
 *
 *	See:
 *		resultlist2.html
 */
 
 /* Note: font-size is appears here redundantly so IE doesn't render the DIV taller than it needs to be */
.searchButtonDiv {
		font-size: 			9px;
		display: 			block;
		border: 			1px solid #1A80A4;
		padding: 			0px;
}

.searchButtonML {
		font-family:			sans-serif;
		font-size: 			9px;
		background-image: 		url( 'buttonback.gif' );
		background-repeat:		repeat;
		text-align:			center;
		height:				19px;
		border:				0px;
		padding:			0px;
}

/*
 *	This styles are used with the expandable search result row 
 *
 *	See:
 *		resultlist2.html
 */
 
.extraSearchRow {
		padding-top: 			0px; 
		padding-left: 			0px; 
		padding-right: 			0px;
		padding-bottom:			3px;
}

/*
 *	These styles are applied to the search result button bar
 *
 *
 *	See:
 *		countandbuttons.html, bottombuttons.html
 */

.sResultButtonBar {
		text-align: 			right;
		padding: 			4px;
}

.sResultButtonBarText { 
		margin-top: 			3px;
		margin-right: 			2px;		
}

.valueFTEditableCell {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:	 		11px; 
		font-weight:	 		normal;
		width:				90%;
}

/*
 *	The class that defines the styles for every Best Bets item on the search result pages.
 *	
 *	Use with:
 *		<TR>
 *
 *	See:
 *		websbroker/resultlistX.html
 */
.bestBetRow1, .bestBetRow1 a {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			11px; 
		color: 				#333333;
}

/*
 * We don't want to set the background-color on the anchor tags since user overrides don't
 * apply to them.
 */
.bestBetRow1 {
		background-color: 		#FDF5DC;
		height:				21px;
}

.bestBetLabel {
		color: 				#FF0000;
}

/*
 *	This class is applied to the table that shows the no results messages
 *	
 *	Use with:
 *		<TD>
 */
.noResultsBox {
		background-color:		#FFFFFF;
		font-family:	 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-style:	 		normal;
		font-size: 			12px;
		color: 				#000000;
}

/* *********************** Display Options Classes ****************************** */


.previewTable TD {
		margin:				0px;
		padding:			0px;
		background-color:		#f7f8f8;
}

.compDescription {
		padding-left: 			10px;
		font-family: 			Arial,Helvetica,sans-serif;
		white-space:			normal;
		background-color: 		#BFF5FF;
}

.smallGroupDiv { 
/*		border: 			thin solid blue; */
		height: 			100%;
		width: 				240px;
}

.groupDiv { 
/*		border: 			thin solid blue; */
		height: 			100%;
}

.singleButtonCol {
/*		border: 			thin solid red; */
		width: 				20px;
		height: 			100%;
		float:				right;
}

.doubleButtonCol {
/*		border: 			thin solid red; */
		width: 				44px;
		height: 			100%;
		float:				right;
		margin-left:			5px;
}

.smallTableDiv {
		width: 				190px;
/*		border: 			1px dotted green; */
}

.largeTableDiv {
		width: 				260px;
/*		border: 			1px dotted green; */
		float: 				left;
		height:				100%;
}

.mediumTableDiv {
		width: 				190px;
/*		border: 			1px dotted green;  */
		float: 				left;
		height:				100%;
}

.resultFieldsGroupDiv {
/*		border: 			thin solid blue;  */
		height: 			100%;
		width: 				260px;
		align-items:			center;
		display:			flex;
}


.scopeSelectMenu {
		width:				170px;
}

.dropDownMenuText {
		color:				rgb(102, 102, 102);
		white-space:			nowrap;
		padding: 			2px;
}

.resultFieldsGroupDiv a {
		outline:			0;
}

/**************************************** Multi-Fields Sort Styles *****************************/
#customSortTbl TD {
		white-space:			nowrap;
}


.adminSubSectionBar {
		background-color:	#B7B7B7;
		color: 				white;
		width: 				100%;
		text-align:			center;
}

#searchResultsTable {
	background-color: #ffffff;
	border: solid 1px #B3CBDC;
	
	width: 100%;
}

.docLink a {
	color: #11C;
	cursor: pointer;
	font-family: arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	
	text-decoration: underline;
}

.docSummary {
	color: black;	
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: normal;	
	line-height: 16px;
	max-height: 32px;
	overflow: hidden;
	
	width: 600px;
	
	height: expression( this.scrollHeight > 32 ? "32px" : "auto" ); /* sets max-height for IE */
}

.docLocationProperties {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 15px;
	
	padding-bottom: 5px;
}

.search-breadcrumb-trail {
	display:inline
}

a.breadcrumbLink {
	color: #0E774A;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 15px;
	
	text-decoration: none;
}

a.breadcrumbLink:hover {	
	text-decoration: underline;
}

.properties, .properties a, .properties a:visited {
	color: #5B92FF;
	font-size:12px;
	
	text-decoration: none;
}

.properties a:hover {
	text-decoration: underline;
}

.searchFunctionLinks {
	width: 100%;
	text-align:right;
}

#resultlist4TopButtons {
	padding-bottom: 5px;
}

.searchResultImage {
	width: 75px;
	height: 65px;
	text-align: center;
	vertical-align: middle;
	
	padding-top:3px;
	padding-bottom: 2px;
}

.searchResultInfo {
	width: 100px;
	text-align: center;
	vertical-align: top;
	
	padding-top:5px;
	padding-bottom: 10px;
}

.searchResultData {
	vertical-align: top;
	
	padding-top:5px;
	padding-bottom: 10px;
}

.fileSize {
	color: #0E774A;
	font-family: arial, sans-serif;
	font-weight: bold;
}

.docOwner a {
	color: #000000;
	
	text-decoration: none;
}

.docOwner a:hover {	
	text-decoration: underline;
}


/* -----------------------------------------------------------------------

    Search Module Layout

----------------------------------------------------------------------- */

#searchModuleContent {
	display:none;
	height:100%;
}

.searchModuleContainer {
	border: 1px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding:right: 20px;
	width:100%;
}

.searchModuleHeaderTable {
	width:100%;
	padding-right:20px;
}

.searchModuleHeaderColumn {
	padding-right:5px;
}

.searchModuleName {
	font-size:14px;
	color:#0E774A;
}

.searchModuleLine {
	position:relative;
	top:0px;
	height:1px;
	width:100%;
	background-color:#0E774A;
	overflow: hidden;
}

.searchModuleRecord {
	padding-bottom:10px;
}

.searchModuleText, .searchModuleText a, .searchModuleText a:visited {
	color: #11C;
	font-size:11px;
	
	text-decoration: none;
}

.searchModuleText a:hover {
	text-decoration: underline;
}

.profileImage {
	max-width: 60px;
	max-height: 60px;
	
	/* IE Hack */
	_width: 60px;
}

.profileImageContainer {
	vertical-align: top;
}

.searchSidebarOuter {
	width:250px;
}

.searchSidebar {
    border:1px solid #B3CBDC;
    border-top:0;
    background-color:#FFF;
    height:100%;
}

.searchFacetHead {
    height: 14px;
    color: #000000;
    background-color: #EAEEF5;
    margin: 0 0 2px 0;
    padding: 0 0 0 5px;
    background: url(facet_bg.png) repeat-x;
    border: 1px solid #C0D4E3;
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.searchFacetHead a:link, .searchFacetHead a:visited, .searchFacetHead a:hover {
    color: #000000;
    text-decoration: none;
}

.searchFacetHead img {
    border: 0 none;
    margin: 0;
    padding: 0;
    float: right;
}

.searchFacetHeadInfo {
    position: absolute;
    right: 5px;
}

.searchFacetList {
    margin:0;
    padding:0;
    overflow: visible;
    height:100%;
    padding:1em;
}

.facetListClosed {
    position:absolute;
    visibility:hidden;
    display:block;
    height:auto;
}

.facetListOpened {
    position:static;
    visibility:visible;
    display:none;
}

*html .searchFacetList, .searchFacetHead {
    width:250px;
    overflow:hidden;
}

.searchFacetList ul {
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0 0 1em 0;
}

.searchFacetList li{
    margin-bottom:.1em;
    height:auto;
    width:100%;
    position:relative;
}

.searchFacetList a:link, .searchFacetList a:visited {
    text-decoration: none;
    color: #000;
}

.searchFacetList a:hover {
    text-decoration: underline;
    color: #000;
}

.searchFacetList li a {
    position:relative;
    overflow:visible;
    word-wrap:break-word;
}

.searchFacetList li span {
    position:relative;
    overflow:visible;
    word-wrap:break-word;
}

.searchFacetHighlight {
	background-position: 0px -14px;
}

.searchModuleResultDate {
	vertical-align: top;
	width: 45px;
}

.searchModuleSummary {
    color:#8F8F8F;
}

.more_facets {
	display: none;
}

// Number of results per page drop down

.results-menu-select, .results-menu-select div {
    float:left;
}

.results-menu-select div a, .results-menu-select a{
    display:block;
    margin-left:8px;
    cursor:default;
}

.results-menu-select div div span{
    height:1.6em;
    display:block;
}

* html .results-menu-select div div span{
    line-height:.3em;
    float:left;
}

.results-menu-select div div span a{
    padding:.3em 0 0 0;
}

* html .results-menu-select div div{
    padding-left:.6em;
}

* html .results-menu-select div div a{
    margin-left:0;
}

.num-results-menu-select{
    background:#FFF;
    color:#000000;
    border:1px solid #a9b7c6;
    white-space:nowrap;
    text-align:left;
    min-width: 4em;
    width:auto !important;
    width:4em;
    float: right;
    position:relative;
    padding:1px;
    z-index:1;
    clear: none; 
    height: 17px;
}

.display-style-menu-select{
    background:#FFF;
    color:#000000;
    border:1px solid #a9b7c6;
    white-space:nowrap;
    text-align:left;
    min-width: 12em;
    width:auto !important;
    width:12em;
    position:relative;
    padding:1px;
    z-index:1;
    clear: none; 
    height: 17px; 
}

.resultsSelectTitle{
    color:                  #000000;
    text-decoration:        none;
    white-space:            nowrap;
    padding-right:          3px;
    padding-left:           2px;
    font-size:              8pt;
    font-family: 	    Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight:            normal;
}

.resultsSelectTitle a, .resultsSelectTitle a:hover, .resultsSelectTitle a:visited{
    color:                  #000000;
    text-decoration:        none;
    font-size:              8pt;
}

.pageSizeLabel {
    white-space:nowrap;
    float: right;
    position:relative;
    clear:none;
    padding-left: 1em;
    padding-right: 0.5em;
}

.displayStyleMenu{
        visibility:         hidden;
        z-index:            5;
        position:           absolute;
        right:              0px;
        background-color:   #aaaaaa;
        font-family:        Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:          11px;
        padding:            1px;
        border-top:         1px solid #ffffff;
        border-left:        1px solid #ffffff;
        text-align:         left;
}

.displayStyleMenu a{
        text-decoration:    none;
        font-weight:        normal;
        color:              #000000;
}

.displayStyleMenu a:hover, .displayStyleMenu a:visited {
        text-decoration:    none;
        color:              #000000;
        cursor:             default;
}

.searchResultDropDownContainer {
	float:left;
	width:205px;
}

.countAndButtonComponent {
	clear: none; 
	float:right; 
	padding-bottom: 2px;
}

.countAndButtonComponentLeft {
	clear: none; 
	float: left; 
	padding-bottom: 2px;
}

.countAndButtonComponentTextOffset {
	padding-top:4px
}

.resultCountExplanatoryText {
	font-size: 11px;
	font-color: black;
	vertical-align: bottom;
	line-height: 23px;
}

.selectedLayoutMenuItem {
	background-image: url(../check.gif);
	background-repeat:no-repeat;
	background-position: 5px 4px;
}

.standardLinkBarDiv {
	clear: none;
	float:left;
}

.searchPagingFooter {

	padding-top: 5px;
}

.ddContainer {
	float: right;
	position:relative;
	display:inline;
	background: #FFFFFF;
	border: 1px solid #A9B7C6;
	z-index: 1;  //CS Function Menus are 2
	overflow: hidden;
	cursor: default;
}

.ddMenu {
	list-style-type: none;
	display: block;
	background-color: #FFFFFF;	
	margin: 0;
	padding: 0;
}

.ddItem {
	padding: 5px;
	line-height: 15px;
}

.ddItemHighlight, .ddItemHighlight a:hover {
	background-color:	#b3d7e3;
	cursor: pointer;
}

.templateInfoAddToForm {
	float: left; 
	width: 210px;
}

.templateInfoForm {
	float: left;
	padding-left: 10px;
}

.searchPromptSaveOptions {
	float: left;
	clear: left;
	margin-top: 16px;
	width: 210px;
}

.searchPromptSaveOptionsButtons {
	background: #ffffff;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 6px;
}
 
.searchPromptForm {
	margin-left: 226px; 
	margin-right: -20px;
	width: 700px; 
	border: 1px solid #B3CBDC;
}

.searchPromptFormTitleBar {
	line-height: 28px;
	height: 28px;
}

.searchPromptUseForm {
	padding-left: 10px; 
	font-weight: bold;
	height: 28px;
}

.searchPromptTemplateDropDown {
	position: absolute; 
	display: inline; 
	padding-top: 4px; 
	width: 19em;
	z-index: 2;
}

.searchPromptQueryContainer {
	background: #ffffff; 
	padding-top: 10px;
	text-align: center;
}

.searchPromptQueryTable {
	margin-left:auto;
	margin-right:auto;
}

.searchPromptResultStyleContainer {
	text-align:left;
	line-height: 22px;
	height: 22px; 
	margin-bottom: 5px;
}

.searchPromptResultStyleLabel {
	line-height: 22px;
	height: 22px;
}

.searchPromptResultStyleDropDown {
	position: absolute; 
	display: inline; 
	padding-top: 2px; 
	text-align: left;
	z-index: 1;
}

.searchPromptFormBottomBar {
	line-height: 28px; 
	height: 28px;
	text-align: center;
}

.searchPromptWaitMessage {
	margin-left: 226px; 
	width: 700px; 
	padding-top: 5px;
}

.addToSearchFormHighlight {
	font-family: Tahoma;
	font-size: 1.0em;
	color: #000000;
	text-decoration: underline;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	margin: 1px;
	cursor: pointer;
	background: #ffefd3;
	background-image: url( arrow_right16_mo.gif );
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #fac23c;
}

.addToSearchFormLowlight {
	font-family: Tahoma;
	font-size: 1.0em;
	color: #0073ae;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	margin: 1px;
	cursor: pointer;
	background-image: url( arrow_right16_dis.gif );
	background-position: right;
	background-repeat: no-repeat;
	border:1px solid #FFFFFF;
}

.addToSearchFormHighlight a {
	color: #000000;
	text-decoration: underline;
}

.addToSearchFormLowlight a {
	color: #0073ae;
	text-decoration: none;
}

.simpleSearchDisplayStyleDropDown {
	position: absolute; 
	display: inline;
	margin-top: -10px;
	z-index: 1;
}

.searchResetLink {
	float: left;
	display:inline; 
	padding-left: 28px;
}

.searchResetLink a, .searchResetLink a:hover, .searchResetLink a:hover {
	color: #0073AE;
}

.searchButtonLeft {
	float: left;
	line-height: 19px;
	height: 19px;
	width: 2px;
	margin-top:4px;
	display:inline; 
	background-repeat: no-repeat; 
	cursor: pointer;
}

.searchButtonLeftUp {
	background-image: url(btn_bkgd_search_left.gif);
}

.searchButtonLeftDown {
	background-image: url(btn_bkgd_search_left_on.gif);
}

.searchButtonMiddle {
	float: left;
	line-height: 19px;
	height: 19px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top:4px;
	display:inline;
	background-repeat: repeat-x;
	cursor: pointer;
}

.searchButtonMiddleUp {
	background-image: url(btn_bkgd_search_middle.gif);
	color: #ffffff;
}

.searchButtonMiddle a {
	color: #ffffff;
	text-decoration: none;
}

.searchButtonMiddleDown {
	background-image: url(btn_bkgd_search_middle_on.gif);
	color: #fff1d3;
}

.searchButtonMiddleDown a {
	color: #fff1d3;
	text-decoration: none;
}

.searchButtonRight {
	float: left;
	line-height: 19px;
	height: 19px;
	width: 2px;
	margin-top:4px;
	display:inline; 
	background-repeat: no-repeat; 
	cursor: pointer;
}

.searchButtonRightUp {
	background-image: url(btn_bkgd_search_right.gif);
}

.searchButtonRightDown {
	background-image: url(btn_bkgd_search_right_on.gif);
}

.searchDDWidget {
	float: right;
	position: relative;
	display: inline;
}

.SearchResultPageRowPagingSectionCell {

	padding-top: 5px;
}

.dateFacetContainer {
	
	position: relative;
}

.dateFacetTabs {
	margin:0;
	padding:0;
	display:inline;
}

.dateFacetTabs5 li {
	width:42px;
}

.dateFacetTabs4 li {
	width:52px;
}

.dateFacetTabs li {
	text-align: center;
	display: block;
	float: left;
	background: #eee;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	border-bottom: solid 1px #777;
}

.dateFacetTabs li a, .dateFacetTabs li a:link, .dateFacetTabs li a:visited {
	text-decoration: none;
	display: block;
}

.dateFacetTabs li.facetTabsIndent {
	width: 3px;
	white-space: nowrap;
	overflow: hidden;
}

.dateFacetActiveTab4 {
	width: 54px !important;
}

.dateFacetActiveTab {
	padding-top: 1px !important;
	background: #ffffff !important;
	border-top: solid 1px #777 !important;
	border-left: solid 1px #777 !important;
	border-right: solid 1px #777 !important;
	border-bottom: 0px !important;
}

.advFacetValue {
	display:block;
	width:300px;
	font-weight:bold;
	border:1px solid #FFFFFF;
}

.advFacetRow {
	padding:3px !important;
}

.advFacetValue:hover {
	background-color: #FFEFD3;
}

/* Used on the sbroker.mandatorysearchterms page */
.searchTermHeaderBar, .searchTermBody {
 	border: 1px solid #CCCCCC;
}
.searchTermHeader {
	float: left;
	padding: 5px 0px 5px 0px;
	font-size: 11px;
	background: none repeat scroll 0 0 #EDEDED;
	font-family: Tahoma;
	height:	18px;
	font-weight: bold;
	color: #434343;
}
.searchTermBody, .searchTermEnableDiv {
	background: none repeat scroll 0 0 #FFFFFF;
}
.searchTermGrp {
	float: left;
	padding: 5px 0px 5px 3px;
	width: 10%;
}
.searchTerm {
	float: left;
	padding: 5px 2px 5px 2px;
	width: 65%;
}
.searchTermDel, .searchTermVerify {
	cursor: pointer;
	padding: 5px 5px 0 0;
	float:left;
}
.searchTermReport {
	cursor: pointer;
	color: #05447E;
	border: 1px solid #FFFFFF;
}
.searchTermReport:hover{
	background-color: #FFFFD9;
	text-decoration: underline;
	border: 1px solid #ECDA71;
	color: #D39300;
}
.textAsLabel {
	border: medium none;
	padding: 3px 2px 7px 2px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.validateWarning {
	float: left;
	color: #FF0000;
	width: 20%;
	padding-top: 5px;
}
.searchTermCheckboxLabel {
	border-right: 1px solid #CCCCCC;
}
.searchTermButtonBar, .searchTermEnableDiv {
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

/* Force gap between facet sidebar and search results */
.hasSidebar .sidebarOnRight .sidebarOpen #MainTableAndPaging
{
	padding-right:.75em !important;
}

.noResultsTextContainer {
	float:left;
	position:relative;
	left:50%;
}

.noResultsText {
	float: left;
	position: relative;
	left: -50%;
	padding-top: 30px;
	padding-bottom:30px;
	font-size: 10pt;
}
/* Manage Search Agents Administration Page*/
.toggle {
	width:10%; 
	padding:5px 0px 0px 0px;
}
.toggle, .onToggle, .onToggleSelected, .offToggle, .offToggleSelected {
	float: left;
	text-align:center;
	font-size: 8px;
	line-height: 18px;
	cursor: pointer;
	overflow: hidden;
}
.onToggle, .offToggle {
	background: none repeat scroll 0 0 #e2e2e2;
 	color: gray;
}
.onToggleSelected {
	background: none repeat scroll 0 0 #0072aa;
	color: #ffffff;
}

.offToggleSelected {
	background: none repeat scroll 0 0 #0072aa;
	color: #ffffff;
}

.offToggle {
	border-right:1px solid gray;
}

.searchAgentHeader {
	background-color:#0072aa;
	font-weight:bold;
	text-align:center;
	color:#ffffff;
	border-radius:6px 6px 0px 0px;
	padding: 10px;
	text-transform: uppercase;
}
.performRequest {
	width:200px;
	border: 1px solid black;
	background-color:#ffffff;
	display:none;
	z-index:1000;
	padding: 1px;
    	vertical-align: middle;
}

<!--[if IE]>

.searchMenuItem {
	height:13px;
	margin:0px;
	width: 100%;
}

<![endif]-->


<!--[if !IE]>

.searchMenuItem {
	height: 13px;
	width: 100%;
}

<![endif]-->