/*
	LIVELINK SIMPLE SEARCH STYLESHEET
	
*/

/* *********************** Simple Search Classes ********************** */

/*
 * This class is applied to the container of the Simple Search form itself
 *
 * Use with:
 * <DIV>
 */
.simpleSearch
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:		 	11px; 
	font-weight:	 	normal;
}

.simpleSearch A,
.simpleSearch INPUT,
.simpleSearch SELECT,
.simpleSearch TABLE,
.simpleSearch TEXTAREA
{
	font-family:		inherit;
	font-size:		100%;
}

/*
 * These classes are applied to the inner table on the Simple Search page
 *
 * Use with:
 * <TABLE>
 */
.simpleSearchInnerTable
{
	width:				100%;
	padding:0px;
}

.simpleSearchInnerTable TD
{
	vertical-align:		bottom;
	text-align:			left;
	white-space:		nowrap;
}

.simpleSearchInnerTable TD,
.simpleSearchInnerTable TH
{
	padding: 0px;
}

/*
 * This class is applied to the Show checkbox cell on the Simple Search Config page
 *
 * Use with:
 * <TD>
 */
TD.simpleSearchCheckboxCell
{
	width:				1%;
	text-align:			center;
}

/*
 * This class is applied to label cells in the inner tables on the Simple Search Config page
 *
 * Use with:
 * <TD>
 */
TD.simpleSearchInnerTableLabel
{
	width:				1%;
}

TD.simpleSearchDateLabel
{
	vertical-align:		top;
}

/*
 * This class is applied to the element that contains the Simple Search title and instructions
 *
 * Use with:
 * <TD>
 */
.simpleSearchHeader
{
	font-weight:		normal;
	text-align:			center;
	padding-bottom:			5px;
}

/*
 * This class is applied to the element that contains the Simple Search title
 *
 * Use with:
 * <DIV>
 */
.simpleSearchTitle
{
	font-size:			1.5em;
	font-weight:		normal;
}

/*
 * These styles are derived from livelink.css
 */

.simpleSearchTblBackground
{
	background-color:	#999999;
}

.simpleSearchTblForeground
{
	background-color:	#FFFFFF;
}

.simpleSearchTblForeground TD,
.simpleSearchTblForeground TH
{
	padding:			5px;
}

.simpleSearchBoxTitleBar 
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:			bold;
	font-size:			11px;
	color:				#000000;
	background-image:		url( '../fon-table-header-gray.gif' );
	background-repeat:		repeat-x;
	text-align:			center;
	padding:			3px;
	padding-left:			10px;
}

.simpleSearchLabel
{
	width:				15%;
	white-space:		nowrap;
	color:				#434343;
	background-color: 	#e2e2e2;
	border-left: 		1px solid #ffffff;
	border-top: 		1px solid #ffffff;
	border-right: 		1px solid #999999;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align:			left;
	font-weight:		bold;
	font-size: 			1.0em;
	vertical-align:		top;
}

.simpleSearchValueEditable
{
}

.simpleSearchValueStatic
{
}

.simpleSearchCellDivider
{
	background-image:	url( '../table-header-divider.gif' );
	background-repeat:	no-repeat;
	width:				2px;
	height:				19px;
}

.simpleSearchHorizontalCellDivider TD,
simpleSearchHorizontalCellDivider TH,
TD.simpleSearchCellDivider,
.simpleSearchCellDivider
{
	padding:			0px;
}

.simpleSearchLabelHorizontalDivider
{
	background-color:	#b4b4b4;
}

.simpleSearchButtonBar
{
	background-image:	url( '../fon-table-header-gray.gif' );
	background-repeat:	repeat-x;
	height:				18px;
	text-align:			center;
	padding:			5px;
}

INPUT.simpleSearchSaveButton, INPUT.simpleSearchCancelButton, INPUT.simpleSearchButton
{
	color:				#000000;
	font-size: 			0.9em;
}

.simpleSearchExplanatoryText
{
	font-size:			1.0em;
	color:				#000000;
}

/*
 * These styles are derived from search.css
 */
.simpleSearchPaddedSubTbl
{
	background-color:		#FFFFFF;
	border: 			1px solid #999999;
	border-spacing: 	0px;
}

.simpleSearchValueFTEditableCell
{
	width:				100%;
}

.simpleSearchFormDiv
{
	border:		1px solid #B3CBDC;
	width:		710px;
	margin-left:	auto;
	margin-right:	auto;
	text-align:	left;
}

