#dialogs{ 
background-color: #FFFFFF; 
border-style: outset; 
border-width: thin; 
border-color: white; 
height: 0px; 
width: 0px; 
top: 0px; 
padding: 0px 0px 0px 0px; 
left: 200px; 
position: absolute; 
z-index: 1; 
visibility: hidden;
}

