body {
    font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Main DIV, encapsulate everything */
.container {
    border: solid black thin;
    font-size: 2vw;
	width: 95%;
    color: #456395;
	margin: 0 auto;
	background-color: white;
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.rowcontainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

/* alert boxes, font is red */
input.alert {
	font: inherit;
	text-align: left;
	padding: 3px;
	margin: 3px;
	width: 35%;
	color: #e44317;
	border-style: none;
	background-color: white;
}

/* read only fields (displays the results) */
input.readonly {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 2.2vw;
	text-align: left;
	width: 30%;
	color: #000000;
	background-color: #e2f1f6;
	border-style: none;
}

/* Text input */
input.textbox1 {
    font-family: "Lucida Console", Monaco, monospace;
	width: 30%;
	font-size: 2vw;
}

/* number input */
input.numbox1 {
    font-family: "Lucida Console", Monaco, monospace;
	width: 30%;
	font-size: 2vw;
}

/* The title */
legend {
    font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 3vw;
	background-color: #84c6df;
	color: #27424b;
	text-align: center;
	border: solid black thin;
	width: 100%;
}

/* Labels on the left */
label.field {
    font: inherit;
	text-align: left;
	padding: 0px;
	width: 35%;
}

