a:hover, a:visited{
	text-decoration:none;
}

.tab_topleft,.tab_topright,.tab_label{
	padding-top:4px;
	float:left;
	width:16px;
	height:24px
}

.tab_label{
	background-color:#FFFFFF;
	width:auto;
	text-align:center;
	border-top: 1px solid #333366;		
}

a.tab_link, .tab_highlighted, a.listview_nav, .listview_nav_highlighted, .calview_nav_highlighted, a.calview_nav,  a.listview_paging{
	text-decoration:none;
	color:#333366;
}

.tab_highlighted{
	font-weight:bold;	
}

.calview_nav_highlighted{
	font-weight:bold;	
}

.listview_nav_highlighted{
	font-weight:bold;
}

.tab{
	float:left;
	margin-right:10px;
	margin-bottom:0px;
	margin-top:0px;
	padding:0px;
}

a.tablink_highlighted{
	font-weight:bold;
}

td.cal_box{
	background-color:#FFFFFF;
	border: 1px solid #333366;
	padding:10px;
}

td.cal_nav_right, td.cal_nav_left, td.cal_nav_center div.cal_nav_center{
	color:#333366;
	vertical-align:middle;
	margin:0px;
}

td.cal_nav_center{
	width:34%;
	text-align:center;
}

td.cal_nav_right{
	width:33%;
	text-align:right;
}

td.cal_nav_leftt{
	width:33%;
}

td.cal_nav_left, div.cal_nav_center{
	font-weight:bold;
	font-size:16px;
}
div.cal_nav_center{
	width:100%;
	text-align:center;
	margin:20px;
}

table.year_view{
	margin-top:10px;
}

table.month_view{
	margin-top:10px;
	background-color:#333366;
}

table.week_view{
	margin-top:10px;
	border-top: 1px solid #333366;
	padding:4px;
}

table.day_view{
	margin-top:10px;
	border-top: 1px solid #333366;
	padding:4px;
}

table.list_view, table.cal_view{
	width:80%;
}

table.month{
	border: 1px solid #333366;
	width:238px;
}

td.month_title_box{
	background-color:#DEDEFF;
	border-bottom: 1px solid #333366;
	padding:2px;
	font-weight:bold;
	color:#333366;
	text-align:center;
}

td.month_curent_week_day, td.month_week_day{
	color:#333366;
	width:30px;
}

td.month_curent_week_day{
	font-weight:bold;
}

td.yearview_month_day{
	color:#333366;
	text-align:center;
	width:30px;
}

td.month_header{
	background-color:#DEDEFF;
	color:#333366;
	text-align:center;
	font-weight:bold;
}

td.month_day, td.month_day_highlighted, td.month_day_deselected{
	background-color:#FFFFFF;
	text-align:left;
	vertical-align:top;
	height:80px;
}

td.month_day_highlighted{
	background-color:#FFFFCC;
}

td.month_day_deselected{
	background-color:#F3F3F3;
}

div.month_day_index, div.month_day_index_highlighted, div.month_day_index_deselected{
	color:#333366;
	width:100%;
	text-align:right;
}

div.month_day_index_highlighted{
	font-weight:bold;
}

div.month_day_index_deselected{
	color:#AAAAAA;
}

div.month_day_content{
	width:100%;
	text-align:left;
	vertical-align:top;
}

td.listview_nav_left, td.listview_nav_middle, td.listview_nav_right{
	line-height:30px;
	border-bottom: 1px solid #333366;
	width:33%;
	color:#333366;
}

td.listview_nav_middle{
	text-align:center;
}

td.listview_nav_right{
	text-align:right;
}

td.listview_content{
	height:30px;
}

table.listview{
	margin-top:10px;
}

td.listview_header, td.listview_entry{
	padding:4px;
	line-height:16px;
}

td.listview_header{
	background-color:#DEDEFF;
	color:#333366;
	font-weight: bold;
}

tr.eventRow1{
	background-color:#FFFFFF;
}

tr.eventRow2{
	background-color:#F3F3F3;
}

td.weekview_day, td.weekview_day_highlighted, td.weekview_day_label, td.weekview_day_label_highlighted{
	width:100%;
	height:30px;
}

td.weekview_day, td.weekview_day_highlighted{
	border-bottom: 1px solid #333366;
}

td.weekview_day_highlighted{
	background-color:#FFFFCC;
}

td.weekview_day_label, td.weekview_day_label_highlighted{
	color:#333366;
	font-weight: bold;
}

td.weekview_day_label_highlighted{
	padding:4px;
	background-color:#FFFFCC;
}

.weekview_event_date, .weekview_event_content, .weekview_event_title{
	margin:0px;
	padding-left:4px;
	padding-right:4px;
}

.weekview_event_title{
	font-weight:bold;
}

td.dayview_time_label, td.dayview_time{
	border-bottom: 1px solid #333366;
}

td.dayview_time_label{
	color:#333366;
	font-weight: bold;
}

table.addquickevent{
	margin-top:20px;
	margin-bottom:20px;
	border: 1px solid #333366;
	width:60%;
}

td.addquickevent_title{
	background-color:#DEDEFF;
	border-bottom: 1px solid #333366;
	padding:2px;
	font-weight:bold;
	color:#333366;
	text-align:center;
}

hr.divider{
	width:100%;
	color:#333366;
}

div.labels{
	float:left;
	border: 1px solid #333366;
	margin:2px;
	padding:4px;
	color:#333366;
	background-color:#DEDEFF;
	line-height:20px;
	height:20px;
}

div.theLabel{
	float:left;
	margin:2px;
	padding:4px;
}

div.month_day_event{
	border: 1px solid #333366;
	margin:2px;
	padding:2px;
	color:#333366;
	background-color:#DEDEFF;
}

div.week_day_event{
	border: 1px solid #333366;
	margin:4px;
	padding:2px;
	color:#333366;
	background-color:#DEDEFF;
}

div.day_event, div.day_all_day_event{
	border: 1px solid #333366;
	margin-bottom:4px;
	padding:2px;
	color:#333366;
	background-color:#DEDEFF;
}

div.listview_labels{
	border: 1px solid #333366;
	width:100px;
	text-align:center;
	color:#333366;
	background-color:#DEDEFF;
}

div.eventDate, td.eventDate, span.eventDate{
	/*cursor:pointer;*/
}

div.yearview_month_current_day{
	font-weight:bold;
	border-style:double;
	border-width:medium;
	background-color:#FFFFCC;
}

div.yearview_month_mixed, div.yearview_month_mixed2{
	color:#333366;
	background-color:#FF6666;
}

div.yearview_month_mixed{
	border: 1px solid #333366;
}

div.yearview_month_event, div.yearview_month_event2{
	color:#333366;
	background-color:#DEDEFF;
}

div.yearview_month_event{
	border: 1px solid #333366;
}
