/* Copyright 2011 Resonate KT Limited */

div.tablesection table.browseView {
	border-collapse: collapse;
	width: 100%;
}
div.tablesection table.browseView {
	border: #999999 1px solid;
	margin: 5px auto;
}
div.tablesection table td {
	padding: 2px 5px;
	vertical-align:top;
}
div.tablesection table td, div.tablesection table td a {
	white-space: nowrap;
}
div.tablesection table.browseView tbody td {
	border-bottom: 1px solid #DEDFDE;
}
/* The column headers, including the blue bar separating the columns */
div.tablesection table.browseView thead tr.browseListHeader  {
	border-top: #9C9A9C 1px solid;
	border-bottom: #A5C9E5 1px solid;
	line-height: 1.618em;
/* Golden Ratio */
	font-weight: bold;
}
div.tablesection table.browseView thead tr.browseListHeader td {
	border-left: #A5CBE7 1px solid;
}
div.tablesection table.browseView thead tr.browseListHeader td:first-child {
	border-left: none;
}
/* Remove dotted outline on buttons */
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
	border: 0px;
}
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus {
	outline: none;
}
.minWidth {
	width: 1%;
}