.WRButton {
	color: #ffffff;
	font-size: 11px;
	border: none;
	padding: 3px;
	background-color: #52ADFC;
	font-weight: strong;
}
.buttonBar {
	padding-bottom: 8px;
	font-size: 11px;
}
.undoRedo {
	padding: 1px;
    	vertical-align: -5px;
}
.note {
	visibility:hidden;
	position:absolute;
	min-width:1px;
	text-align:left;
	background-color:#eee;
	top:0;
	left:0;
	background:#ffc;
	border:1px solid #000;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	padding:10px;
}

.wrcat_actionbackground {
	font-size:14px;
	font-family:tahoma;
	border-left:1px solid #B7B7B7;
	border-top:1px solid #B7B7B7;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding-left:21px;
	background-color:#EFEFEF;
	height:24px;
	color:#000;
}

#controltagselector,#subtagselector,#datatagselector {
	width:120px;
}

#div_search {
	background:#ffc;
	background-color:#ffc;
	border:1px solid #000;
	color:#000;
	display:none;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	min-width:1px;
	padding:10px;
	position:absolute;
	text-align:left;
}

#wreditor {
	width:100%;
}

#wreditor img {
	border:0;
}

#wreditor textarea {
	font-family:"Courier New",Courier,monospace;
	width:100%;
}

#wreditor tr.section td.label:hover {
	color:red;
	cursor:pointer;
}