body {
		margin:10px 10px 0px 10px;
		padding:0px;
		}
		
div.banner{
background:#F2F2F2;
		height:40px;

}
		


div.sectionleft{

border-left: solid #CCCCCC;
border-right: outset #CCCCCC;
border-top: solid #CCCCCC;
border-bottom: outset #CCCCCC;
border-width: 2px;

}

div.sectionright{
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
border-bottom: 2px solid #F2F2F2;
border-left:1px solid #F2F2F2;
}

div.sectionmiddle{
border-bottom: 2px solid #F2F2F2;
border-right: 1px solid #F2F2F2;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;

}
ul.sectionlist 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
list-style-image: url("../arrow.gif")
}

ul.sectionaction 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
list-style-image: url("../action.gif");
}

div.sectionheadermiddle,div.sectionheaderright{
font-family: Arial,Helvetica,Sans-serif;
font-size: 9pt;
margin-top: 10px; 
margin-bottom: 7px;
color : white;
text-align: center;
height: 16px;
background-image: url(../label.gif); 

}

div.sectionheaderleft{
font-family: Arial,Helvetica,Sans-serif;
font-size: 10pt;
padding-top: 3px;
background:#787878;
color : black;
text-align: center;
height: 16px;
font-weight: bold;
}

img.sectionheader{

float: left;
width:16px ;
height:16;
}


a 		{
		text-decoration: none;
		color:black;		
		}
a:hover		{
		text-decoration: underline;
		
		}		
		
#banner {
		background:#fff;
		border-top:1px solid #000;
		border-right:1px solid #000;
		border-left:1px solid #000;
		voice-family: "\"}\"";
		voice-family: inherit;
		height:50px;
		}	
<!-- styles for browse view -->
table.browseview{
	border-collapse: collapse; 
}
tr.browseview_header{
}
td.browseview_header{
	padding: 2px; 	
	
}
tr.browseview{
	background-color:#FF0000;
}
th.browseview{
	background:#CCFFCC;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 10px;
	font-weight:normal;
	color: #black;
	align: center;
	padding: 2px; 
}

td.browseviewheader{
	background:#CCFFCC;
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-size: 10px;
	font-weight:normal;
	color: black;
	padding: 2px; 
}

tr.browseview1{
	background-color:#00FFFF;
}

tr.browseview2{
	background-color:#CCEE00;
}

td.browseview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 10px;
	color: black; 
}

<!-- styles for browse view -->
table.categoryview{
	border-collapse: collapse; 
	background:#CCFFCC;
}
tr.categoryview{

}
td.categoryview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 12px;
	color: black; 
	font-style: italic

}

table.attributeview{
	border-collapse: collapse; 
}
tr.attributeview{

}
td.attributevalueview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 12px;
	color: black; 
	font-style: italic;
	text-align: left;
	background:#CCCCCC;

}

td.attributelabelview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 12px;
	color: green; 
	font-style: italic;
	text-align: left;
	background:#CCFFCC;

}

table.setview{

	
}
tr.setview{
background:#CCFFFF;

}
td.setview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 12px;
	color: black; 
	font-style: italic;
	background:#EECCCC;

}



ul.consolelist 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
list-style-type: none;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

li.consolelistcurrent 
{
font-weight: bold;
}
		
