/*
  This is the stylesheet for the comm module's
  navigation console.
  
  For convinience, note that the indentation in this file
  (roughly) mirrors the HTML structure of console itself.
  Also note that HTML tags are in ALL CAPS and class names
  are in small caps.
*/

/* This DIV tag is a wrapper to achieve a MOAB-esque shadow effect */
DIV.comm_console_back {
	width:152px;
	background-image: url( "../../form-shadow-right.gif" );
	background-repeat: repeat-y;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

	DIV.comm_console_front {
		width:152px;
		border: solid #AAAAAA;
		border-width: 1px;
		background-color:	#FFFFFF;
	}

		.comm_console_header {
			background-image: url( "../../fon-table-header-gray.gif" );
			background-repeat: repeat-x;
			background-color: #FFFFFF;
			border-bottom: 1px solid #AAAAAA;
			text-align: left;
			padding: 5px;
		}

		UL.comm_console_list_seperator {
			font-size: 8pt;
			font-family: Arial,Helvetica,Sans-serif;
			list-style-type: none;
			margin: 5px 0px 5px 0px;
			padding: 0px;
			text-align: left;
			padding-top:5px;		
			border-top: 1px solid #AAAAAA;			
		}

		UL.comm_console_commlist_seperator {
			font-size: 8pt;
			font-family: Arial,Helvetica,Sans-serif;
			list-style-type: none;
			margin: 5px 0px 5px 0px;
			text-align: left;
			border-top: 1px solid #AAAAAA;			
			border-bottom: 1px solid #AAAAAA;	
			padding: 0px;
			padding-top:5px;		
			padding-bottom:5px;		
		}

		UL.comm_console_list {
			font-size: 8pt;
			font-family: Arial,Helvetica,Sans-serif;
			list-style-type: none;
			margin: 5px 0px 5px 0px;
			padding: 0px;
			text-align: left;
		}
		UL.comm_console_subcommlist {
			font-size: 8pt;
			font-family: Arial,Helvetica,Sans-serif;
			list-style-type: none;
			margin: 0px 0px 5px 0px;
			padding: 0px;
			text-align: left;
		}

			LI.comm_console_list_item {
				padding: 0px 10px 0px 10px;
			}

			LI.comm_console_list_item_highlight {
				font-weight: bold;
				background-color:#DCDCDC;
				padding: 0px 10px 0px 10px;
			}

			LI.comm_console_list_subitem_highlight {
				background-color:#DCDCDC;
				padding: 0px 10px 0px 10px;
			}

				/* Only anchor tags under a console list item should
				   behave differently from other anchor tags on the page */
				LI.comm_console_list_item A,
				LI.comm_console_list_item_highlight A {
					text-decoration: none;
				}
				
				UL.comm_console_list A:hover,
				LI.comm_console_list_item_highlight A:hover {
					text-decoration: underline;
				}
		
		.myCommMenu {
			position: absolute;
			visibility: hidden;
			z-index: 5;
			border: 1px solid #AAAAAA;
		}	
		.comm_menuitem {
		}
		
		.CommSubMenu {
		}
		
		a.MenuItemLink
		{
    		   z-index: 500;
 		   display: block;
		   padding-bottom:2px;
		   padding-top:2px;
			TEXT-DECORATION: None;
		}
		a.MenuItemLink:link
		{
			width:100%;
			TEXT-DECORATION: None;
		}
		a.MenuItemLink:visited
		{
			width:100%;
			TEXT-DECORATION: None;
		}
		
		a.MenuItemLink-active,
		a.MenuItemLink-active:hover,
		a.MenuItemLink:hover
		{
			TEXT-DECORATION: None;
    			background: #e5e1da;
		}
