body {
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	margin:0px 0px 0px 0px;
	padding:0px;
}
		
div.banner{
background:#F2F2F2;
		height:40px;

}
		
div.left{
width: 300px;
position: absolute;
bottom: 30px;
right: 140px

}

div.sectionleft{

border-left: solid #CCCCCC;
border-right: outset #CCCCCC;
border-top: solid #CCCCCC;
border-bottom: outset #CCCCCC;
border-width: 2px;

}

div.sectionright{
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}

div.sectionmiddle{
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}

td.hometoplevel{
border-right: 1px solid #CCC;
}

ul.sectionlist 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
list-style-image: url("../arrow.gif")
}

ul.section 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
}

div.calWeek{
padding-top: 0px;
padding-left: 10px;
padding-right: 10px;
width:100%;
}

ul.calsection 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
padding-left: 30px;
}

.calTitle{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:			12px;
	color:				#666666;
	width:100%;
	font-weight: bold;
	border-bottom: solid #666666;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom:0px;
	padding-right:0px;
	text-indent:5px;
	margin:0px;
	line-height: 20px;
}

.calEntry{
	width:100%;
}

.comm_calSection{
	width:98%;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:0px;
	margin-top:0px;
	padding-bottom:10px;
}

label.calTimeFrame{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 10pt;
	font-weight:normal;
	color: black;
	background:#E6E6E6;
	width:100%;
	font-weight: bold;
	text-align: center;
}

label.calDate{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	text-align: left;
}

label.calDateHomepage{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	color: black;
	text-align: left;
}

div.calHomepage{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	color: black;
	text-align: left;
	text-align:		left;
	margin-left:	15px;
}

ul.sectionaction 
{
padding-top:5px;
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
list-style-image: url("../action.gif");
}
div.sectiontopiccontent{
	font-size: 9pt;
	font-family: Arial,Helvetica,Sans-serif;
	margin-left: 5px;
	margin-bottom: 5px;
	
}

div.sectionheadermiddle,div.sectionheaderright{
font: 10px/12px verdana, arial, georgia, sans-serif;
color : #666;
margin-top: 7px; 
margin-bottom: 0px;
text-align: left;
height: 16px;
font-weight: bold;
border-bottom: 1px solid #ccc;
padding:5px;
}

div.sectionheaderleft{
font-family: Arial,Helvetica,Sans-serif;
font-size: 9pt;
padding-top: 3px;
background:#787878;
color : black;
text-align: center;
height: 16px;
font-weight: bold;
}

img.sectionheader{

float: left;
width:16px ;
height:16px;
border-width: 0px;
margin-left:0px;
margin-right:3px;
}


a 		{
		text-decoration: none;
		color:blue;		
		}
		
a.addsubcommunity {
		font-family: Verdana, Arial, Helvetica, Sans-serif;
		text-decoration: underline;
		}
		
a:hover		{
		text-decoration: underline;
		
		}		
		
#banner {
		background:#fff;
		border-top:1px solid #000;
		border-right:1px solid #000;
		border-left:1px solid #000;
		voice-family: "\"}\"";
		voice-family: inherit;
		height:50px;
		}	
/* styles for browse view  */
table.browseview{
	border-collapse: collapse; 
}
tr.browseviewheader{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;

}

tr.browseview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;

	
}

label.browseview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	margin-left: 20px; 
}

label.closed{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight:normal;
	color: black;
	text-align: center;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

p.browseviewinfo{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	margin-left: 20px; 
	margin-top: 2px;
}

th.browseview{
	background:#E1E1E1;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px; 
}

td.browseviewheader{
	background: #FFFFFF;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px; 
}

tr.browseview1{
	background-color:#FFFFFF;
}

tr.browseview2{
	background-color:#FFFFFF;
}

td.browseview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 8pt;
	color: black; 
}

/*  styles for browse view  */
table.categoryview{
	border-collapse: collapse; 
	background:#CCCCCC;
	width: 100%;
}
tr.categoryview{

}
td.categoryview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	color: black; 
	font-weight: bold;
}

table.attributeview{
	border-collapse: collapse; 
}
tr.attributeview{

}
td.attributevalueview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	color: black; 
	text-align: left;
	background:#FFFFFF;

}

td.attributelabelview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	color: black; 
	text-align: left;
	background:#E1E1E1;

}

table.setview{

	
}
tr.setview{
background:#CCFFFF;

}
td.setview{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	color: black; 
	font-style: italic;
	background:#E1E1E1;
	text-align: center;

}



ul.consolelist 
{
font-size: 9pt;
font-family: Arial,Helvetica,Sans-serif;
list-style-type: none;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

li.consolelistcurrent 
{
font-weight: bold;
}

img.spotlight{
	height: 32px;
   width: 32px;
}	

IMG.guidedtour{
	border-width: 0px;
	clear: left;
	padding:2px;
}

table.spotlight{
font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
color : black;
text-align: left;
height: 35px;
padding-right: 5px;

}

td.spotlighttitle{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	
}

td.spotlightsummary{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight:normal;
}	

td.welcomecomm{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-indent: 30px;
	text-align: right;
}

td.welcomeuser{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-indent: 30px;
	text-align: right;
	border-bottom: thin solid #ccc;
	border-bottom-width: 1;
}

td.facilitatortitle{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	
}

td.facilitatorsectiontitle{
			background-image: url( "../../fon-table-header-gray.gif" );
			background-repeat: repeat-x;
			background-color: #FFFFFF;
			border: 1px solid #AAAAAA;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	height: 30px;
	text-indent:10px;
}

td.facilitatorsubsectiontitle{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	
}

td.facilitatorsubsectioninstruction{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	
}

td.createcommunitysectiontitle{
			background-image: url( "../../fon-table-header-gray.gif" );
			background-repeat: repeat-x;
			background-color: #FFFFFF;
			border-bottom: 1px solid #AAAAAA;
			font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size: 9pt;
			font-weight: bold;
			height: 30px;
			text-indent:10px;
}

.comm_intr_box{
	background:#E1E1E1;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	border: solid #AAAAAA;
	border-width:		1px;
	margin-left: 10px;
	margin-right:10px;
	margin-top:0px;
	margin-bottom:10px;
	width: 490px
}

.comm_instr_maintitle{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin:0px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
}

.comm_pad{
	margin:10px 0px 0px 10px;
}

.comm_act_subitem{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align:left;
	padding: 0px 0px 0px 0px;
	margin:10px 0px 10px 20px;
}

.comm_instr_subtitle{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-align:left;
	padding: 0px 0px 0px 0px;
}

.comm_instr_desc{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.comm_section_border{
	margin:10px 5px 10px 5px;
	text-indent:10px;
	text-align:left;
	border-bottom: thin solid Gray;
	border-bottom-width: 1;
	padding-bottom:10px;
	padding-top:0px;
	padding-left:0px;
}

.comm_section_noborder{
	margin:5px 5px 5px 5px;
	text-indent:10px;
	text-align:left;
	padding: 0px 0px 0px 0px;
}

.comm_box_border{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:			10px;
	color:				black;
	background:			#FFFFFF;
	width:				98%;
	border: 			solid #AAAAAA;
	border-width:		1px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left:0px;
	text-align:left;
}

.comm_box_header{
	background-image: url( "../../fon-table-header-gray.gif" );
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border-bottom: 1px solid #AAAAAA;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-indent:10px;
	width:100%;
	margin: 0px 0px 5px 0px;
	padding: 6px 0px 6px 0px;
}

td.mailarchiveintructionsection{
	text-align: center;
}

table.mailarchiveinstruction{
	background:#E1E1E1;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	border-right: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	margin-left: 20px; 
	height: 120px;
	width: 500px
}

td.qasectiontitle{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight: bold;
	border-bottom: thin solid Gray;
	border-bottom-width: 1;
}

td.qainstructiontitle{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

td.qaintructionsection{
	text-align: left;
}

table.qainstruction{
	background:#E1E1E1;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	border-right: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	margin-left: 20px; 
	height: 120px;
	width: 500px
}

table.qalist{
	background:#FFFFFF;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	margin-left: 20px; 
	text-align: left;
}

td.qalisttitle{
	background:#FFFFFF;
	color: blue;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

table.qadisplay{
	background:#FFFFFF;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	margin-left: 20px; 
	text-align: left;
}

td.qatotal{
	background:#FFFFFF;
	color: black;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	margin-left: 20px; 
}

FORM.nospace{
	margin:0px 0px 0px 0px;
}

table.commcreate{
	background:#FFFFFF;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	border-right: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	margin-left: 20px; 
	width: 600px;
}

table.commhello{
	background: White;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: Black;
	padding: 2px;
	border-right: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	width: 250px;
	text-align: center;
}

table.commhellotop{
	background: #AC0000;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: Black;
	padding: 2px;
	width: 100%;
	text-align: center;
	border-bottom: 10px solid Black;
}

td.commhellotitle{
	background: #AC0000;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 14pt;
	font-weight:bold;
	color: White;
	text-align: center;
}

td.commhellobottom{
	background: #AC0000;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 8pt;
	font-weight:bold;
	color: White;
	text-align: center;
}

td.commcreatesection{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border-bottom: thin solid Gray;
	border-bottom-width: 1;
}

td.commcreateinputsection{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	background-color: #E6E6E6;
}

td.commcreatesubsection{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

td.commcreatetitle{
	background:#CCCCCC;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:bold;
	color: black;
	text-align: center;
	border-bottom: thin solid Gray;
	border-bottom-width: 1;
}

td.commcreateinstructionsection{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: justify;
}

td.commcreatesectionsmallbold{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	margin-left: 20px; 
}

td.commcreatebutton{
	font-family: Sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

table.commcreatesubsection{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	padding: 2px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

TD.commupcomingevents{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight:normal;
	color: black;
	width: 60%;
}

TD.commupcomingevents_date{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	color: black;
	width: 40%;
}

.rowheaderBlue{
  border-bottom:1px solid #AAAAAA;
  border-top:1px solid #AAAAAA;
	background-image: url( "../../fon-table-header-blue.gif" );
	background-repeat: repeat-x;
}

.divCollapsible
{
    width: 100%;
    margin-right: 1px;
    height: 70px;
    position: relative;
    overflow: hidden;
    top: 0px;
    left: -2px;
    table-layout: fixed;
}

.divCollapsibleControlBox
{
    width: 70px;
    height: 9px;
    position: absolute;
    right: 5px;
    bottom: 4px;
    cursor: hand;
    background-repeat: no-repeat;
    background-position:left center;
    padding-left:14px;
}
.divExpand
{
    background-image:url("../box-expand.gif");
}

.divCollapse
{
    background-image:url("../box-collapse.gif");
}