/* CSS Document */
.digest_section{
  border:1px solid #AAAAAA;
  margin-bottom:20px;
}

.digest_header{
	background-image: url( "../../fon-table-header-blue.gif" );
	background-repeat: repeat-x;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:			12px;
  height:30px;
  text-align:center;
  padding-top:8px;
  border-bottom:1px solid #AAAAAA;
}

.digest_data{
  padding-left:5px;
}

.digest_no_data{
  height:30px;
  text-align:center;
  padding-top:10px;
  background:#FFFFFF;
}

.digest_daterange{
  text-align:      center;
	font-family:     Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:     bold;
	font-size:       12px;
	margin-bottom:   20px;
}
