.metricrow {
	padding-left:5px;
	line-height:26px;
	border-bottom: 1px solid #AAAAAA;
}

.metricheader {
	text-align:center;
	line-height:16px;
	font-size:10pt;
  border-bottom:1px solid #AAAAAA;
	background-image: url( "../../fon-table-header-blue.gif" );
	background-repeat: repeat-x;
}

.metric_node {
  float:left;
  width:45%;
	height:26px;
	padding-left:5px;
	margin-top:2px;
}
