.console{
	width:152px;
}

.consoletop div.topleft, .consoletop div.topcenter, .consoletop div.topright{
	float:left;
	height:5px;
	margin:0px;
	padding:0px;
	line-height:0px;
}

.consoletop div.topleft{
	width:5px;
	background-image: url(../box-corner-top-left.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.consoletop div.topcenter{
	width:142px;
	background:#FFFFFF;
	border-top:1px solid #CCCCCC;
}

.consoletop div.topright{
	width:5px;
	background-image: url(../box-corner-top-right.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.consolebottom div.bottomleft, .consolebottom div.bottomcenter, .consolebottom div.bottomright{
	float:left;
	height:7px;
	margin:0px;
	padding:0px;
	line-height:0px;
}

.consolebottom div.bottomleft{
	width:5px;
	background-image: url(../box-corner-bottom-left.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.consolebottom div.bottomcenter{
	width:140px;
	background:#FFFFFF;
	background-image: url(../box-bottom.gif);
	background-repeat:repeat-x;
}

.consolebottom div.bottomright{
	width:7px;
	background-image: url(../box-corner-bottom-right.gif);
	background-repeat:no-repeat;
	background-position:right;
}


.consoletitle, .consolebody{
	background-color:#FFFFFF;
	border-left:1px solid #CCCCCC;
	background-image: url(../box-right.gif);
	background-repeat:no-repeat;
	background-position:right;
	margin:0px;
	padding-left:5px;
	padding-right:7px;
	padding-bottom:2px;
	padding-top:0px;
}

.consoletitle div.title{
	text-align:center;
	width:100%;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#666666;
}

.consoletitle div.divider{
	background-color:#666666;
	width:100%;
	margin-top:2px;
	height:1px;
}

.consolebody div.divider{
	width:100%;
	margin-bottom:2px;
	margin-top:2px;
	background-color:AAAAAA;
	height:1px;
}

.consolebody p{
	margin-top:0px;
	margin-bottom:4px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	text-transform: capitalize;
}

div.menuItem{
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:0px;
	color:#05447e;
	float:none;
}

div.menuItemTxt{
	float:left;
}

div.menuItemTxt a{
	color:#05447e;
}

div.menuItemTxt a:hover{
	text-decoration:none;
}

div.menuItemImg{
	text-align:right;
	background-image: url(../submenuarrow.gif);
	background-repeat:no-repeat;
	background-position:right;
	margin-right:4px;
}

div.subMenuItem{
	position:absolute;
	left:150px;
	padding:4px;
	margin:0px;
	border:1px solid #CCCCCC;
	z-index:500;
	background-color:#FFFFFF;
	visibility:hidden;
}

div.subMenuItem a{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
	line-height:16px;
	display:block;
	white-space:nowrap;
}

div.subMenuItem a:hover{
	background-color:#DCDCDC;
	text-decoration:none;
	color:#05447e;
}


