#dialogs{ 
background-color: #CCCCFF; 
border-style: outset; 
border-width: thin; 
border-color: white; 
height: 60px; 
width: 200px; 
top: 400px; 
padding: 4px 4px 4px 4px; 
left: 200px; 
position: absolute; 
z-index: 1; 
visibility: hidden;
}

