.if-llespro-h-agd-show { display:inline; }
.if-llespro-h-agd-showblock { display:block; }
.if-llespro-h-agd-show-trff { display:inline;    }  /* table rows in firefox (before ie! sigh) */
.if-llespro-h-agd-show-trie { display:table-row; }  /* table rows in ie */
.if-llespro-h-agd-show-tcff { display:inline; }
.if-llespro-h-agd-show-tcie { display:table-cell; }
.if-llespro-h-agd-hide { display:none; }
