
/*
	DEFAULT LIVELINK WORKFLOW STYLESHEET
	
*/

/* *****************  All Livelink Workflow Classes ********************** */


/*
	The style to use for the label part of the label/value pair
        that is a radio button - width needs to be 1% instead of the typical label that 
        is 15%.
	
	Use with:
		<TD>
*/
.radiolabel {
		width:					1%;
		white-space:			nowrap;
		color:					#434343;
		background-color: 		#e2e2e2;
		border-left: 			1px solid #ffffff;
		border-top: 			1px solid #ffffff;
		border-right: 			1px solid #999999;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:				left;
		font-weight:			bold;
		font-size: 				11px;
}

/*
	The style to use for the initiated message that gets display when
	initiating a workflow. It is the same as the logoutLabel, however
	we want it to wrap, since these are possibly customized messages
*/
.initLabel TD {
		text-align:				center;
		font-weight:			bold;
		font-size: 				11px;
		padding-top:			20px;
		padding-bottom:			20px;
		padding-right:			8px;
		padding-left:			8px;
}

/*
	The style to use for descriptive or instructional help messages.
*/
.helpDescription, .helpDescription TD, .helpDescription A {
		background-color:		#E9D5F7;
}
