/*
	DEFAULT PROSPECTOR STYLESHEET
	
*/

/**
 *	Used to display a status of inactive
 *
 *	Use with:
 *		<SPAN>
 */
.inactive {
	color:				#006600;
}

/**
 *	Used to display a status of active
 *
 *	Use with:
 *		<SPAN>
 */
.active {
	color:				#660000;	
}

/**
 *	Used to display a status of expired
 *
 *	Use with:
 *		<SPAN>
 */
.expired {
	color:				#000000;
}

.resultTable {
	background-image:		url( '../fon-table-header-blue.gif' );
	background-repeat:		repeat-x;
}

.resultTable TD {
	padding:			3px;
}

.resultTable .cellDivider {
	padding:			0px;
}

.prospectorCellDivider TD {
	padding:			0px;
}

.resultSize {
		text-align:				right;
}

.resultDateFound {
		text-align:				center;
}


/**
 *
 *	This style is used for the score text in prospector results.
 *
 *	Use with: <SPAN>
 */
.score {
		font-weight:			bold;
		color:				#606060;
}

/*******  Overridden styles **************/

/**
 *	Add padding: 0px to browseListHeader for use with resultcolumns.html inside Propsector result tables.
 *	See prospectorbrowse.html, prospectorsnapshotbrowse.html, and prospectorview.html
 */
.browseListHeader TD{
	padding:			0px;
}
