body {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:12px;
        margin: 0px;
        margin-left: 6px;
}

p {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:12px;}

p.tiny {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:10px;}

p.footer {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:10px;
    		text-align:center;
		}

p.legalnotice {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin-top:12px;}

p.LOT {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin-bottom:0pt;
        margin-top:0pt; }

p.xdiv { 
        font-size:18px; 
        font-weight:bold }


#footer
		{
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:10px;
        text-align:center;
		}

td, th {
         font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
         font-size:12px;
      }

th                       { background-color:silver; }
th.gray1, tr.gray1, td.gray1 { background-color:#d7ebff }
th.gray2, tr.gray2, td.gray2 { background-color:#BADCFC }
th.gray3, tr.gray3, td.gray3 { background-color:#91bef0 }
th.gray4, tr.gray4, td.gray4 { background-color:#2e8cd1; color:#EFF7FF }
th.gray5, tr.gray5, td.gray5 { background-color:#0058b0; color:#EFF7FF }
th.black, tr.black, td.black { background-color:#000000; color:#EFF7FF }


td.lidist {
         width:1em;
}

ul {
         font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
         font-size:12px;}

body.idx,
body.idx2,
body.toc {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
         background-color:#c7e6f9;
         margin-left:0pt;
         font-size:12px;}

#toc2showntocentry, 
#toc2 {
        font-size:12px;
        font-weight:bold;
        margin-left:15px;
        margin-top:8px;
        margin-bottom:4px}

#toc3showntocentry, 
#toc3 {
        font-size:12px;
        font-weight:normal;
        margin-left:15px;
        margin-top:4px;
        margin-bottom:2px}

#toc4showntocentry, 
#toc4 {
        font-size:10px;
        margin-left:15px;
        font-weight:normal;
        color:#085f95;}

#toc5showntocentry, 
#toc6showntocentry, 
#toc7showntocentry, 
#toc8showntocentry, 
#toc9showntocentry, 
#toc5,#toc6,#toc7,#toc8,#toc9 {
        font-size:10px;
        font-weight:normal;
        margin-left:16px;
        color:#085f95;}

a.active,
a.active:visited,
a.active:active,
a.active:link {
      font-weight:bold;
      color:#990033;
}

div.LOT-SUB-TOC a,
a.x:link, a.x:active, a.x:visited,
a.totoc:link, a.totoc:active, a.totoc:visited,
a.navheader:link, a.navheader:active, a.navheader:visited,
a.navheaderpart:link, a.navheaderpart:active, a.navheaderpart:visited,
a.navheaderchapt:link, a.navheaderchapt:active, a.navheaderchapt:visited,
a.navheadersect1:link, a.navheadersect1:active, a.navheadersect1:visited,
a.navheadersect2:link, a.navheadersect2:active, a.navheadersect2:visited,
a.navheadersect3:link, a.navheadersect3:active, a.navheadersect3:visited,
a.navheadersect4:link, a.navheadersect4:active, a.navheadersect4:visited,
a.navheadersect5:link, a.navheadersect5:active, a.navheadersect5:visited,
a.navheadersect6:link, a.navheadersect6:active, a.navheadersect6:visited,
a.navheadersect7:link, a.navheadersect7:active, a.navheadersect7:visited,
a.navheadersect8:link, a.navheadersect8:active, a.navheadersect8:visited,
a.navheadersect9:link, a.navheadersect9:active, a.navheadersect9:visited {
         text-decoration:none;
         color:#ffffff;
}

a.totoc:link, a.totoc:active, a.totoc:visited,
a.navheader:link, a.navheader:active, a.navheader:visited,
a.navheaderpart:link, a.navheaderpart:active, a.navheaderpart:visited,
a.navheaderchapt:link, a.navheaderchapt:active, a.navheaderchapt:visited {
         color:#ffffff;
}

a.navheadersect1:link, a.navheadersect1:active, a.navheadersect1:visited,
a.navheadersect2:link, a.navheadersect2:active, a.navheadersect2:visited,
a.navheadersect3:link, a.navheadersect3:active, a.navheadersect3:visited,
a.navheadersect4:link, a.navheadersect4:active, a.navheadersect4:visited,
a.navheadersect5:link, a.navheadersect5:active, a.navheadersect5:visited,
a.navheadersect6:link, a.navheadersect6:active, a.navheadersect6:visited,
a.navheadersect7:link, a.navheadersect7:active, a.navheadersect7:visited,
a.navheadersect8:link, a.navheadersect8:active, a.navheadersect8:visited,
a.navheadersect9:link, a.navheadersect9:active, a.navheadersect9:visited {
         color:#ffffff;
}

div.LOT-SUB-TOC a,
div.LOT-SUB-TOC a:visited,
#NAVHEADCELL,
#toc2,#toc3,#toc4,#toc5,#toc6,#toc7,#toc8,#toc9,
a.toc:link, a.toc:visited,
a.toc2:link, a.toc2:visited,
a.toc3:link, a.toc3:visited,
a.toc4:link, a.toc4:visited,
a.toc5:link, a.toc5:visited,
a.toc6:link, a.toc6:visited,
a.toc7:link, a.toc7:visited,
a.toc8:link, a.toc8:visited,
a.toc9:link, a.toc9:visited {
         font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
         font-size:10px;
         letter-spacing:0.2pt;
         line-height:1.1;
         text-decoration:none;
         color:#5566cc; }

a.toc2:link, a.toc2:visited, #toc2 {
        color:#000099;
        letter-spacing:0.2pt; }

a.toc3:link, a.toc3:visited, #toc3 {
        padding-top:1pt;
        color:#000099;
        letter-spacing:0.2pt; }

a.toc4:link, a.toc4:visited, #toc4 {
        color:#000099;
        letter-spacing:0.2pt; }

a.toc1:link, a.toc1:visited {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:12px; 
        font-weight:bold;
        color:#000099;
        background-color:#BADCFC;
        text-decoration:none;
        padding-left:5pt;
        padding-right:8pt;
        margin-left:0pt;
        margin-right:0pt;
        letter-spacing:0.2pt; }

#toc1showntocentry, 
#toc1 {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:12px; 
        font-weight:bold;
        background-color:#BADCFC;
        padding-left:6px;
        padding-right:10px;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px; margin-bottom:0px;
        padding-top:3px; padding-bottom:3px;
        text-decoration:none;
        letter-spacing:0.2pt;
        border-style:none; border-width:thin; }

#widencell {
        font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:17px; 
        font-weight:bold;
        color:#c7e6f9;
        letter-spacing:0.2pt;
        }

a.toc:active,
a.toc1:active,
a.toc2:active,
a.toc3:active,
a.toc4:active,
a.toc5:active,
a.toc6:active,
a.toc7:active,
a.toc8:active,
a.toc9:active  {
         font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
         text-decoration:none;
         color:#990033; font-weight:bold }

a.x:link {
         font-weight:normal;
         font-style:normal;
         color:#000099; }
a.x:visited {
         font-weight:normal;
         font-style:normal;
         color:#7079aa; }
a.x:active {
         font-weight:bold;
         color:#990033; }

a.minor:link {
         text-decoration:none; }
a.minor:visited {
         text-decoration:none; }
a.minor:active {
         text-decoration:none; }

a.blind:link, a.blind:visited, a.blind:active {
         color:#000000;
         text-decoration:none; }

b.tooltip,
a.addinfo {
         color:#008800;
         font-weight:bold;
         text-decoration:none; }

a.ix-nav:link, a.ix-nav:visited, a.ix-nav:active {
         font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
         font-size:12px;
         font-weight:normal;
         font-style:normal;
         color:#000099;
         text-decoration:none; }

a:link {
         color:#000099; }
a:visited {
         color:#9090ba; }
a:active {
         color:#006666; }

a.navheader:hover, a.navheaderpart:hover,
a.navheaderchapt:hover, a.navheadersect1:hover,
a.navheadersect2:hover, a.navheadersect3:hover,
a.navheadersect4:hover, a.navheadersect5:hover,
a.navheadersect6:hover, a.navheadersect7:hover,
a.navheadersect8:hover, a.navheadersect9:hover {
        color:#fffae8;
        text-decoration:underline;
}


a:hover, a.minor:hover, a.x:hover, a.toc:hover, a.toc1:hover,
a.toc2:hover, a.toc3:hover, a.toc4:hover, a.toc5:hover,
a.toc6:hover, a.toc7:hover, a.toc8:hover,
a.toc9:hover, a.x:hover, a.totoc:hover {
        color:#990033;
        text-decoration:underline;
}

strong {
        background-color:#FFCC33;
       }
       
p.bridgehead-boldpara {
  font-weight:bold;  
}
       
h1.localtoc,
h2.localtoc,
h3.localtoc,
h4.localtoc,
p.bridgehead-subheading1,
h1 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
       	font-size:16px;
      	font-weight:bold;
      	color:#000000; }

h1.IDX2,
h1.TOC {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
       	font-size:16px;
      	font-weight:normal;
        margin-bottom:0px;
        padding-left: 10px;
        padding-bottom:0px;
        color:#ffffff; }

h1.title {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
       	font-size:16px;
      	font-weight:normal;
        margin-bottom:0px;
	      color:#000000; }

p.bridgehead-subheading2,
h2 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:bold;
      	font-size:14px;
      	color:#000000; }
h2.book {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:bold;
      	font-size:20px;
        margin-top:0px;
        color:#000000; }

h2.revnumber {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:bold;
      	font-size:14px; }

p.bridgehead-subheading3,
h3 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:bold;
      	font-style:italic;
      	font-size:12px;
      	color:#000000; }

p.bridgehead-subheading4,
p.bridgehead, h4 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:bold;
      	font-size:12px;
      	color:#000000; }

p.bridgehead-subheading5,
h5 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-size:12px;
      	font-style:italic;
        margin-bottom:0pt;
        margin-top:0pt;
	      color:#000000; }

p.bridgehead-subheading6,
h6 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-size:12px;
      	font-style:italic;
        margin-left:0px;
        margin-bottom:0px;
        margin-top:0px;
        color:#000000; }

p.h5 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:bold;
      	font-size:12px;
      	margin-bottom:4px;
      	color:#000099; }

p.navheader,
p.navheaderpart,
p.navheaderchapt {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:normal;
      	font-size:10px;
        color:#000099; }

p.navheadersect1,
p.navheadersect2,
p.navheadersect3,
p.navheadersect4,
p.navheadersect5,
p.navheadersect6,
p.navheadersect7,
p.navheadersect8,
p.navheadersect9 {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	font-weight:normal;
      	font-size:10px;
	}

p.navheaderpart,
p.navheaderchapt,
p.navheadersect1,
p.navheadersect2,
p.navheadersect3,
p.navheadersect4,
p.navheadersect5,
p.navheadersect6,
p.navheadersect7 {
        padding-top:0px;
        padding-bottom:0px;
        margin-left:6px;
        margin-bottom:0px;
        line-height:1;
        margin-top:0px; }

td.prevnext {
        margin-bottom:0px;
        margin-top:0px; 
        }

hr.warning, hr.caution {
        color:#ff3333; }

hr {
        color:#000099; }

table.ix-nav, p.ix-nav {
         margin-left:15px}

p.xdt {
         font-weight: bold;
         text-indent: 0px;
}

p.xdd {
         margin-left: 5px;
         text-indent: 0px;
         font-style:normal;
}

dt.x {
        font-weight: bold; }
dd.x {
        font-style:italic;
        margin-left: 20px; }

tt    {
	      font-family: typewriter;
}

tt.error    {
      	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
      	color:#ff0000;
}

dt.vl {
        margin-top:18px;
        margin-bottom:0px;
}

dt.inactive,
dd.inactive,
p.inactive,
p.vlli-inactive,
p.inactive2ul,
li.inactive,
tt.inactive {
         color:#aaaaaa; }

tt.interface, tt.command, tt.literal {
       letter-spacing:-0.5pt}

tt.refnum {
         font-size:70%;
         font-style:italic; }

table.note, table.tip, table.important, table.warning, table.caution {
       background-color:#fff9e1;
       margin-top:0px;
       margin-bottom:20px; }

table.warning, table.caution {
       background-color:#ffdddd;
       border-color: #FF0000; }

table.important {
       background-color:#ffdddd; }

#toc1showntocentry, 
#toc2showntocentry, 
#toc3showntocentry, 
#toc4showntocentry, 
#toc5showntocentry, 
#toc6showntocentry, 
#toc7showntocentry, 
#toc8showntocentry, 
#toc9showntocentry, 
#showntocentry {
        color:#990033;
        background-color:#E2F2FC; 
}

font.showntocentry {
        color:#990033;
}

font.ttlpgh1 {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:22px;
}

font.ttlpgh2 {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:15px;
}

font.ttlpgh3 {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:45px;
	font-size:15px;
}

font.ttlpgh4 {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:24px;
  color:#990033;
}

b.warning,
b.caution,
p.warning,
p.caution {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px; }

table.caution td {
  padding-left:12px;
}

p.cautiontext,
p.warningtext {
	font-size:12px; }

p.important, p.note, p.tip {
       padding-left:7px;
       margin-top:3px;
       margin-bottom:8px; }

ul.important, ul.note, ul.tip {
       margin-top:0px;
       margin-bottom:8px;
       }

.TABVERSPACE {
       font-size: 2px;
       margin-top:0px;
       margin-bottom:0px; }
       
p.vlli-inactive,
p.vlli {
   margin-top:4px;padding-top:4px;
   margin-bottom:4px;padding-bottom:4px;
}

p.before-ul {
   margin-bottom:4px;padding-bottom:4px;
}

p.compact {
   margin-top:0px;padding-top:0px;
   margin-bottom:0px;padding-bottom:0px;
}

ul.compact {
   margin-bottom:12px;padding-bottom:12px;
}

div.example,
table.example {
  background-color:#fff9e1;
  margin-bottom: 15px;
}

a:link.docstat2, 
a:visited.docstat2,
a:active.docstat2 {
  color:#0000ff;
} 

a:link.docstat1, 
a:visited.docstat1,
a:active.docstat1 {
  color:#0000ff;
  text-decoration:none;
} 

a:link.docstat2, 
a:visited.docstat2,
a:active.docstat2 {
  color:#0000ff;
  text-decoration:underline;
} 

td.vlterm {
  vertical-align: top;
  padding-right: 10px;
}  

td.percontscell,
td.focontscell,
td.iconcell {
  vertical-align: top;
  padding-right: 10px;
  padding-right: 10px;
}  

td.vlitem {
  vertical-align: top;
  padding-left: 10px;
}  

.remark {
  color:#aa0000;
  font-weight:bold;
  font-style:italic;
  font-size:smaller;
}

div.NAVHEADERTTLPG,
div.NAVHEADER {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

div.NAVHEADER {
  background-image:url("fon-header-xhtm.gif");
  border-bottom: 1px groove black;
  border-right: 1px groove black;
  width:100%;
}

table.NAVHEADER {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width:97%;
}

table.NAVFOOTER {
  background-image:url("footer-bg-xhtm.gif");
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  height:32px;
  width:100%;
  vertical-align:bottom;
  border-bottom: 1px groove black;
  border-right: 1px groove black;
}

div.PAGECONTENT {
  margin-bottom: 0px;
  padding-right: 10px;
  border-top: 1px groove grey;
  border-right: 1px groove black;
}  

div.TOCHEADER {
  background-image:url("fon-header-xhtm.gif");
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
  width:100%;
}

div.LEGALNOTICE {
  padding-top: 10px;
  font-size:10px;
}

div.LEGALNOTICE p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:10px;
}

div.FOOTNOTELIST {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:#EFF7FF;
  border-top: 1px groove grey;
  border-right: 1px groove black;
}

table.buttbar,
td.totoc {
  background-image:url("tocbut-back.gif");
  height:18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

table.informaltable th, table.informaltable td,
table.table th, table.table td {
  border-bottom: 1px solid  #888888;
  border-left: 0px none white;
  border-right: 0px none white;
  cellspacing:2;
  cellpadding:2;
}

table.informaltable, table.table {
  border-top: 1px solid #888888;
  border-left: 0px none white;
  border-right: 0px none white;
  cellspacing:2;
  cellpadding:2;
}

table.note th, table.note td,
table.tip th, table.tip td,
table.warning th, table.warning td,
table.caution th, table.caution td,
table.important th, table.important td,
 {
  border-bottom: 0px double;
}  

.informaltable .lidist td, 
.lidist {
  border-bottom: 0px none white;
  border-top: 0px none white;
}

a.totocAct {
  background-image:url("tocbut-back-act.gif");
   background-color:#dddddd;
}  

hr.bookttltop { margin-top: 10px }
hr.bookttlbot { margin-bottom: 20px }

p.toc-like  {  margin-left : 0px;
               margin-top  : 0px;
}

p.toc-like1  { font-weight : bold;
               margin-left : 0px;
               margin-top  : 10px;
               margin-bottom  : 0px;
}
p.toc-like2  { display: list-item;
               list-style  : circle none outer;
               font-weight : bold;
               margin-left : 20px;
               margin-top  : 5px;
               margin-bottom  : 0px;
}
p.toc-likeN  { display: list-item;
               list-style  : disc none outer;
               margin-left : 40px;
               margin-top     : 0px;
               margin-bottom  : 0px;
}

pre.screen-inline  {
               margin-top     : 8px;
               margin-bottom  : 8px;  
               margin-left    : 12px;
}

;;;;;;;;;;;;;;;;;;;;;;;;;;;

.currentView {
 font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-style: normal;
 font-size: 10px;
 color: #4973aa
}

.small {
 font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-style: normal;
 font-size: 10px;
}

.clr11fon {
	background-color:#7C7C7C;
}

.clr11box {
	background-color:#4C4C4C;
}

.MastheadTable  {
	width : 100%;
	background-color : #039;
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.MastheadTitle  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : white;
}

.MastheadTitle1  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : white;
}

.MastheadTitle2  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	color : white;
}

.draftmarking  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	font-weight : bold;
	color : white;
	padding : 3px;
	margin : 3px;
	border : 1px solid white;
}

.gui  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}

.code  {
	font-family : courier, monospace;
	font-size : 12px;
}

.codevar  {
	font-family : courier, monospace;
	font-size : 12px;
	font-style : italic;
}


.TabFontSelected  {
	font-style: normal;
	 font-size: 10px;
	 color: #4973aa;
	}

.NSTabFontSelected  {
	font-style: normal;
	font-size: 10px;
	color: #4973aa;
}

.NSTabFontNormal  {
	font-style: normal;
	font-size: 10px;
	color: #4973aa;
}

.TabFontNormal  {
	font-style: normal;
 	font-size: 10px;
 	color: #4973aa;
}

.TabFontNormal:hover  {
	font-style: normal;
	font-size: 10px;
	color: red;
}

.Copyright  {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 	font-style: normal;
	font-size: 10px;
 	font-weight: normal;
 	color: #58595b;
}

.CopyrightTable  {
	width : 100%;
}

.CopyrightCell  {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}

a.to-gloss a.to-gloss:active, 
a.to-gloss:visited, a.to-gloss:link,
.to-gloss  {
  color:#008800;
  text-decoration:none;
}

.bh1sep {
  padding-top: 10px;
  margin-top: 30px;
  border-top: 2px solid #5F779E;
  border-bottom: 1px solid #9Faaaf;
  padding-bottom: 10px;
}

.bhsep1top {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2px solid #5F779E;
  padding-bottom: 5px;
}

.bhsep2top {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #9Faaaf;
  padding-bottom: 5px;
}

.bhsep1bot {
  padding-top: 10px;
  border-bottom: 2px solid #5F779E;
  padding-bottom: 10px;
}

.bhsep2bot {
  padding-top: 10px;
  border-bottom: 1px solid #9Faaaf;
  padding-bottom: 10px;
}

hr.subheading1 {
  color:#5F779E;
  height:2px;
}  
hr.subheading2 {
  color:#9Faaaf;
  width:50%;
  height:1px;
  padding-bottom:0pt;
  margin-bottom:0pt;
  text-align:left;
}  

.otModuleHide { 
  display:none; 
}

.otModuleShow1 { 
  display:inline; 
}


table.locator td {
    margin : 2px;  
    padding : 2px;  
    padding-left : 6px;  
    padding-right : 6px;  
    border: 1px solid #99CCFF;
}

table.locator td.spacer {
    border: 0px;
}

hr.locatorpath {
    width:100%;
    height: 1px; 
    color:#CDE5FD;  
    margin: 0px;
    padding: 0px;
    text-align:center;

}

table.locator {
  display:none;
}

table.locatorShow {
  display:none;
}


table.locator * p.locatorpathTitle,
table.locator * p.locatorpathLast,
table.locator * p.locatorpath {
  margin : 0px;    
  padding-top : 2px;    
  padding-bottom : 4px;    
  font-size:8pt;
  color:#666666;
}

table.locator * p.locatorpathTitle,
table.locator * p.locatorpath {
    border-bottom : 1px solid #CDE5FD;  
}

img.locatorButt {
  text-align:right;
  margin-right: 0px;
  padding-left: 15px;
  position:relative;
  float:right;
  top:-40px;  
}

.locatsep {
  color:#99CCFF;
  font-weight:bold;  
}

span.boxed-platform {
  background-color  : #CAD8FE;
/*  font-weight       : bold; */
  color             : #336699;
  font-family       : Arial, sans-serif;
  padding           : 0px 2px 0px 2px;  
  border            : 1px solid #336699;
}

span.boxed-optional {
  background-color  : #d0d0d0;
/*  font-weight       : bold; */
  color             : #666666;
  font-family       : Arial, sans-serif;
  font-size         : 8pt;
  padding           : 2px 3px 2px 3px;  
}

