/********************** BLUE JOURNAL STYLE *******************/
/* This Stylesheet is used to control the Blue Journal Style */
/*****************************************************************/

BODY {
    BACKGROUND: url("../bg-grid.gif") #ebebeb;
    COLOR: #000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    HEIGHT: 100%;
    TEXT-ALIGN: center;
}

HTML
{
}

/*********************** DEFAULT LINK STYLE *******************/
/* These link and link-related tags are the default styles.   */
/* The "class" defintions override and augment these ones.    */
/* They replace the LINK, VLINK and ALINK attributes of BODY. */
/**************************************************************/

A:link    {
	FONT-WEIGHT: 900;
    COLOR: #777;
    TEXT-DECORATION: none;
}
 
A:visited {
	FONT-WEIGHT: 900;
    COLOR: #999;
    TEXT-DECORATION: none;
}

A:hover
{
    FONT-WEIGHT: 900;
    COLOR: #555
}

A:active  {
	FONT-WEIGHT: 900;
    COLOR: #555;
}

/********************** DEFAULT TABLE STYLE *******************/
/* These Table and Table-related tags are the default styles. */
/* The "class" defintions override and augment these ones.    */
/**************************************************************/

TABLE {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

TD {
	padding: 0;
}

/********************** DEFAULT LIST STYLE *******************/
/* These list and list-related tags are the default styles.  */
/* The "class" defintions override and augment these ones.   */
/**************************************************************/

UL {
	padding: 0;
	margin: 0;
}

LI {
    LINE-HEIGHT: 1.6
}

/*************************************************************/
/******************** STRUCTURAL STYLES **********************/
/*************************************************************/

/*************************************************************/
/*************** BROWSE VIEW: Structural Classes *************/
/*************************************************************/

/************ Browse View: Main Structural Classes ***********/

DIV.main {
	width: 80%;
    BACKGROUND: #61a9fc;
    TEXT-ALIGN: center;
    MARGIN: 0px;
    PADDING: 7px;
    BORDER: #000 1px solid;
}

	DIV.nav_widget {
		width: 100%;
	    BACKGROUND: #a1d9fc;
	    TEXT-ALIGN: center;
	    MARGIN: 0px;
	    PADDING: 7px;
	    BORDER: #000 1px solid;
	}
		
		TABLE.nav_widget {
		    BACKGROUND: #a1d9fc;
	    	TEXT-ALIGN: center;
		    MARGIN: 0px;
		    PADDING: 10px;
		}

	TABLE.main {
	    WIDTH: 100%;
	    MARGIN: 10px 0px 0px 0px;
	    PADDING: 0px 0px 0px 0px;
	    BACKGROUND: #a1d9fc;
	    BORDER: #000 1px solid;
	    TEXT-ALIGN: left;
	}
	
	
		TD.main_left {
		    WIDTH: 100%;
		    PADDING: 0px 5px 0px 5px;
			vertical-align: top;
		}
	
		TD.main_right {
		    WIDTH: 242px;
		    PADDING: 0px 10px 0px 11px;
		    BACKGROUND: url("../bg-side.gif") #f8f8f8 repeat-y;
			vertical-align: top;
		}
	
/*********** Browse View: Console Structural Classes ********/

TABLE.console {
    WIDTH: 242px;
    MARGIN: 5px 0px 15px 0px;
    PADDING: 0px 0px 0px 0px;
    COLOR: #AAA;
    LINE-HEIGHT: 20px;
    FONT-SIZE: 12px;
}

	TD.console_header {
		width: 100%;
		font-weight: bold;
		font-size: 125%;
		padding: 3px 2px 2px 2px;
	    TEXT-ALIGN: center;
		border-top: 1px dashed #888;
		border-bottom: 1px dashed #888;
	    COLOR: #888;
		text-transform: uppercase;
	    BACKGROUND: #FBFBFB;
		display: none;
	}

	TD.console_tagline {
		/* display: none; */
		font-style: italic;
		padding: 3px 2px 2px 2px;
		text-transform: uppercase;
		line-height: 125%;
	}

	TD.console_metadata {
		/* white-space: nowrap;	*/
		padding: 3px 2px 2px 2px;
		line-height: 125%;
	}

	TD.console_action {
		/* white-space: nowrap; */
		padding: 3px 2px 2px 2px;
	}

		IMG.console_action_img {
			width: 16px;
			height: 16px;
			border-width: 0;
			background-color: transparent;
			vertical-align: middle;
		}

/**** Browse View: Mini-reports Structural Classes ****/

TABLE.minireport {
    WIDTH: 242px;
    MARGIN: 5px 0px 15px 0px;
    PADDING: 0px 0px 0px 0px;
    FONT-SIZE: 12px;
    COLOR: #AAA;
    LINE-HEIGHT: 20px;
}

	TD.minireport_header {
		width: 100%;
		font-weight: bold;
		font-size: 125%;
		padding: 3px 1px 3px 1px;
		text-transform: uppercase;
	    TEXT-ALIGN: center;
		border-top: 1px dashed #888;
		border-bottom: 1px dashed #888;
		/* white-space: nowrap; */
	    COLOR: #888;
	    BACKGROUND: #FBFBFB;
	}

	TD.minireport_body {
		padding: 2px 3px 2px 2px;
	}

		UL.minireport_list {
			margin: 2px;
			padding: 0px;
			text-align: left;
			/* list-style-image: url("../current.gif"); */
			list-style-type: none;
		}

			LI.minireport_item {
				margin: 0px 0px 3px 0px;
				padding: 0px;
			}

		INPUT.minireport_searchbox {
			width: 190px;
		}

/********* Browse View: Child Structural Classes *********/

TABLE.child_list {
	width: 100%;
}

	TD.child_list_header {
		padding: 10px 3px 10px 3px;
	    FONT-SIZE: 15px;
	    COLOR: #0f7fd0;
	    text-align: center;
		white-space: nowrap;
	}

		SPAN.child_list_header {
			font-weight: bold;
		}
	
		SPAN.child_list_header_view {
			padding-left: 5pt
		}

		DIV.child_list_action {
			margin: 3px 0px 0px 0px;
			white-space: nowrap;
			/* float: left; */
			padding: 0px 5px 0px 0px;
			word-spacing: -2px;
			font-size: 13px;
		}

			SPAN.child_list_action_control {
				padding-right: 0px;
			}

	TABLE.sort_banner {
		width: 100%;
		font-weight: bold;
	    FONT-SIZE: 18px;
		margin: 8px 0px 8px 0px;
	    BACKGROUND: #86cdf9;
		COLOR: #fff;
	    BORDER: #5fbef9 1px solid;
		text-align: center;
	}

	TD.entry_seperator {
	}

	TABLE.child_empty {
		width: 100%;
		margin: 10px 0px 10px 0px;
	    FONT-SIZE: 15px;
	    COLOR: #0f7fd0;
	    text-align: center;
	}

	TABLE.child {
		width: 100%;
		margin: 10px 0px 10px 0px;
	    FONT-SIZE: 13px;
	    COLOR: #0f7fd0;
		border-left: 1px solid #0f7fd0;
		border-bottom: 1px solid #0f7fd0;
	}

		TD.child_header_left {
			width: 55%;
			text-align: center;
			FONT-SIZE: 15px;
			border-top: 1px solid #0f7fd0;
			border-right: 1px solid #0f7fd0;
			padding: 5px 3px 0px 3px;
			/* white-space: nowrap; */
		}

			DIV.child_byline {
				white-space: nowrap;
			}

		TD.child_header_right {
			width: 45%;
			vertical-align: top;
			border-bottom: 1px solid #0f7fd0;
			white-space: nowrap;
			padding: 5px 3px 0px 3px;
		}

			TABLE.child_rating {
				width: 100%;
				text-align: right;
				white-space: nowrap;
			    FONT-SIZE: 13px;
			    COLOR: #0f7fd0;
			}

		TD.child_body {
		    COLOR: #0f7fd0;
			padding: 15px 10px 5px 10px;
			border-right: 1px solid #0f7fd0;
		}

		TD.child_footer {
			padding: 5px;
			border-right: 1px solid #0f7fd0;
		}

			DIV.child_action {
				margin: 3px 0px 0px 0px;
				white-space: nowrap;
				float: left;
				padding: 0px 5px 0px 0px;
				word-spacing: -2px;
				font-size: 13px;
			}

				SPAN.child_action_control {
					padding-right: 0px;
				}

					IMG.child_action_img {
						width: 16px;
						height: 16px;
						border-width: 0;
						background-color: transparent;
						vertical-align: middle;
					}

			SPAN.child_function_menu {
				margin: 0px 0px 0px 2px;
			}

		TD.child_attachments {
			width: 100%;
			padding: 5px;
			border-right: 1px solid #0f7fd0;
		}

			TABLE.child_attachments {
			    FONT-SIZE: 13px;
			    COLOR: #0f7fd0;
			}
			
				TD.child_attachments_header {
					/* font-size: 85%; */
					/* font-weight: bolder; */
					/* font-style: italic; */
					text-decoration: underline;
					padding: 0px 0px 5px 0px;
				}

				TD.child_attachments_item {
					width: 1%;
					white-space: nowrap;
				}

				TD.child_attachments_action {
					padding-left: 9px;
					word-spacing: 6px;
					white-space: nowrap;
				}

/*************************************************************/
/*************** CREATE VIEW: Structural Classes *************/
/*************************************************************/

/************ Create View: Main Structural Classes ***********/

TABLE.main_in {
	width: 1%;
	background-color: #61a9fc;
	border: 3px solid #61a9fc;
    FONT-SIZE: 15px;
    COLOR: #0f7fd0;
}

	TD.main_in_header {
		font-weight: bold;
		font-size: 18px;
		background-color: #86cdf9;
		text-align: center;
		padding: 2px;
		border-top: 3px solid #61a9fc;
		border-bottom: 3px solid #61a9fc;
		color: #fff;
	}
	
	TD.main_in_label {
		background-color: #a1d9fc;
		border-bottom: 1px solid #61a9fc;
		vertical-align: middle;
		text-align: center;
		padding: 3px 7px 3px 7px;
		font-weight: bold;
	}

	TD.main_in_input {
	    BACKGROUND: url("../bg-side.gif") #f8f8f8 repeat-y;
		padding: 8px;
		/* white-space: nowrap; */
		border-bottom: 1px solid #61a9fc;
		vertical-align: middle;
	}

/********** Create View: New Field Structural Classes ********/

TABLE.richtext_in {
	width: 100%;
	/* border: 5px solid #DEDEDE; */
	border-bottom: 1px solid #61a9fc;
}

	TD.richtext_in_header {
		/* display: none; */
		background-color: #a1d9fc;
		/* border-top: 1px solid #F2F2F2; */
		padding: 5px 1px 5px 1px;
		font-weight: bold;
	    FONT-SIZE: 15px;
    	COLOR: #0f7fd0;
		text-align: center;
	}

	TD.richtext_in_controls {
		width: 1px;
	    BACKGROUND: url("../bg-side.gif") #f8f8f8 repeat-y;
		/* background-color: #a1d9fc; */
		padding: 0px 5px 5px 8px;
	}

		TABLE.richtext_in_control_row {
			width: 100%;
			margin: 5px 0px 5px 5px;
		}

			TD.richtext_in_control_seperator {
				padding-right: 10px;
			}

			TD.richtext_in_control {
				text-align: left;
				padding-right: 3px;
			}

				IMG.richtext_in_button_img {
					border-width: 0;
				}

	TD.richtext_in_footer {
		/* display: none; */
		border-top: 2px solid #f8f8f8;
	}

/***********************************************************/
/*************** INFO VIEW: Structural Classes *************/
/***********************************************************/

TABLE.info_main {
	width: 600px;
	border: 5px solid #5fbef9;
}

	TD.info_header {
		padding: 6px 0px 6px 6px;
	    BACKGROUND: #86cdf9;
		COLOR: #fff;
	    BORDER: #5fbef9 1px solid;
	}

		SPAN.info_header_heading {
		    FONT-SIZE: 18px;
			font-weight: bold;
		}

		SPAN.info_header_instruction {
		    FONT-SIZE: 15px;
		}

	TD.info_body {
		background-color: #a1d9fc;
		padding: 25px 50px 5px 50px;
	    FONT-SIZE: 13px;
    	COLOR: #0f7fd0;
		border-bottom: 1px solid #5fbef9;
	}

		UL.info_body_list {
			margin: 0pt 0pt 0pt 15pt;
			padding: 0pt;
			text-align: left;
			list-style-image: url("../current.gif");
		}

			LI.info_body_item {
				margin: 0pt 0pt 10pt 0pt;
				padding: 0pt;
			}

				SPAN.info_body_paragraph {
				}

					SPAN.info_body_rating {
						font-weight: bold;
					}

					SPAN.info_body_journalname {
						font-weight: bold;
					}

	TD.info_footer {
		padding: 10px 0px 10px 0px;
		text-align: center;
	    BACKGROUND: url("../bg-side.gif") #f8f8f8 repeat-y;
	}

		INPUT.info_footer_button {
			margin: 0pt 3pt 0pt 0pt;
		}

/************************************************************/
/********************** TEMPLATE CLASSES ********************/
/************************************************************/

/*************************************************************/
/**************** BROWSE VIEW: Template Classes **************/
/*************************************************************/

/********** Browse View: New Field Template Classes **********/

.newfield_richtext {
	/* color: pink; */
}

/********** Browse View: Container Template Classes **********/

.container_otname {
	font-weight: bold;
	font-size: 105%
}

.container_otname_label {
}

.container_otcomment {
}

.container_otcomment_label {
}

.container_otcreatedby {
}

.container_otcreatedby_label {
}

.container_otcreatedate {
}

.container_otcreatedate_label {
}

.container_otratable {
}

.container_otratable_label {
}

.container_otdiscussable {
}

.container_otdiscussable_label {
}

.container_otsubscribable {
}

.container_otsubscribable_label {
	text-transform: lowercase;
}

/********** Browse View: Entry Template Classes **********/

.entry_otname {
	font-weight: bold;
	font-size: 15px;
}

.entry_otname_label {
}

.entry_otcreatedby {
	font-size: 13px;
}

.entry_otcreatedby_label {
	font-size: 13px;
}

.entry_otcreatedate {
	font-size: 13px;
	/* display: none; */
}

.entry_otcreatedate_label {
	display: none;
}

.entry_otratable {
}

.entry_otratable_label {
	text-transform: lowercase;
}

.entry_otdiscussable {
}

.entry_otdiscussable_label {
	text-transform: lowercase;
}

.entry_otpublish {
	color: red;
}

.entry_otpublish_label {
}

/*************************************************************/
/**************** CREATE VIEW: Template Classes **************/
/*************************************************************/

/********** Create View: New Field Template Classes **********/

.newfield_richtext_in {
}

.newfield_richtext_in_label {
}

.newfield_text_in {
}

.newfield_text_in_label {
}

.newfield_textarea_in {
}

.newfield_textarea_in_label {
}

/********** Create View: System Field Template Classes **********/

.system_otname_in {
	width: 400px;
	margin-left: 3px;
}

.system_otname_in_label {
}

.system_otcomment_in {
	width: 400px;
	height: 150px;
	margin-left: 3px;
}

.system_otcomment_in_label {
}

.system_otpermission_in {
	margin: 5px;
	margin-left: 3px;
    FONT-SIZE: 15px;
   	COLOR: #0f7fd0;
}

.system_otpermission_in_label {
}

.system_otdiscussable_in {
}

.system_otdiscussable_in_label {
}

.system_otratable_in {
}

.system_otratable_in_label {
}

.system_otsubscribable_in {
}

.system_otsubscribable_in_label {
}

.system_otshowentry_in {
	width: 40px;
	margin-left: 3px;
}

.system_otshowentry_in_label {
}

.system_otorderby_in {
	margin-left: 3px;
}

.system_otorderby_in_label {
}

.system_otlink_in {
	margin-left: 3px;
	width: 370px;
}

.system_otlink_in_label {
}

.system_ottheme_in {
	margin-left: 3px;
}

.system_ottheme_in_label {
}

.system_otattachment_in {
	width: 200pt;
	margin-left: 1pt;
	font: 10pt Arial,Helvetica,Sans-serif;
	font-weight: normal;
	font-style: normal;
}

.system_otattachment_in_label {
	font: 10pt Arial;
	font-weight: normal;
	font-style: normal;
}

.system_otfileattachment_in {
	width: 263pt;
	margin-left: 1pt;
	font: 10pt Arial;
	font-weight: normal;
	font-style: normal;
}

.system_otfileattachment_in_label {
}

.system_otpublish_in {
}

.system_otpublish_in_label {
}


/******************************** Comments ********************************/

TD.Comments {
	width: 100%;
	border-right: 1px solid #0f7fd0;
	padding: 5px;
}

TABLE.CommentList {
	width: 100%;
	margin: 0pt 0pt 0pt 0pt;
}

TD.CommentList {
	/* border-right: 2px solid black;*/
}

TABLE.CommentBox {
	width: 100%;
	/* background-color: black; */
	border: 1px solid black;
	border-right: 1px solid black;
	padding: 10pt;
}

TD.CommentBox {
	width: 100%;
	padding: 1px;
	margin: 0px;
	/* border: 1px solid black; */
	padding: 3pt;
}

TABLE.CommentHL {
	width: 100%;
	padding: 10pt;
	margin: 0pt;
	background-color: #ffcc99;
	/* border: 1px solid black; */
	border-bottom: 1px solid black;
	font-weight: bold;
}

TD.CommentHL {
	width: 100%;
	padding: 3pt;
}

TABLE.CommentBody {
	width: 100%;
	padding: 3px;
	background-color: #ffffff;
	/* border: 1px solid black; */
}

TD.CommentBody {
	width: 100%;
	vertical-align: top;
	text-align: left;
	background-color: #ffffff;
	padding: 3pt;
}