/* site css */
header, footer {
	background-color: lightgray;
	border: solid 1px black;
	border-radius: 3px;
	text-align: center;
	/*font-family: Georgia, "Times New Roman", Times, serif; */
}

header nav {
	float: right;
	margin-right: 5px;
}

header nav li {
	display: inline;
	font-size: 12px;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
	background-color: #69C;
}

section {
	text-align: center;
}

a {
	color: blue;
}

html, body {
	padding: 0;
	margin: 0;
}

footer {
	font-size: 10px;
	padding: 2px;
}

.container {
	width: 450px;
	margin: 0 auto;
	background-color: white;
	padding: 5px;
}