
	TD.main_title {
		width: 100%;
		vertical-align: top;
		padding: 0px 0px 0px 5px;
		border-collapse: collapse;
		text-transform: capitalize;
		font-size: 12pt;
		font-weight: bold;
	}

	TD.main_tagline {
		width: 100%;
		vertical-align: top;
		padding: 10px 0px 5px 5px;
		border-collapse: collapse;
		text-transform: capitalize;
	}

	TD.main_subtitle {
		width: 100%;
		vertical-align: top;
		padding: 10px 0px 5px 5px;
		border-collapse: collapse;
		text-transform: capitalize;
		font-size: 11pt;
		font-weight: bold;
	}

	TD.main_content {
		width: 100%;
		vertical-align: top;
		padding: 0px 0px 5px 5px;
		border-collapse: collapse;
	}
	
	TD.main_filterwords {
		width: 100%;
		vertical-align: top;
		padding: 10px 0px 15px 5px;
		border-collapse: collapse;
		font-size: 10pt;
	}
	
	TD.printview_filterwords {
		width: 100%;
		vertical-align: top;
		padding: 5px 0px 0px 10px;
		border-collapse: collapse;
		font-size: 10pt;
	}


/********* Browse View: Topic Structural Classes *********/

TABLE.faq_topic_list {
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
}

	TABLE.faq_topic {
		width: 100%;
		margin: 0px 0px 0px 0px;
		border-collapse: collapse;
	}

		TD.faq_topic_title {
			padding: 10px 0px 0px 10px;
			text-transform: capitalize;
			font-size: 10pt;
		}
	
		TD.faq_entry_link {
			padding: 0px 0px 0px 5px;
			font-size: 9pt;
		}

			UL.faq_entry_list {
				font-size: 9pt;
				text-align: left;
				/* list-style-image: url("../current.gif"); */
				margin: 5px 0px 0px 30px;
			}
	
				LI.faq_entry_item {
					font-size: 8pt;
					padding: 0px 0px 3px 0px;
				}

/********* Browse View: Child Structural Classes *********/

TABLE.child_list {
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
}
	
	TD.child_list_header {
		 padding: 0px 0px 10px 0px;
	}

		SPAN.faq_title {
			text-transform: capitalize;
			font-size: 12pt;
			font-weight: bold;
		}

		DIV.child_list_action {
			white-space: nowrap;
			display: inline;
			margin-left: 5pt;
		}

			SPAN.child_list_action_control {
				padding-right: 0pt;
			}

		TD.sort_banner {
			width: 100%;
			text-transform: capitalize;
		}
	
	SPAN.child_function_menu {
		vertical-align: bottom;
	}

		IMG.child_function_menu_img {
			vertical-align: bottom;
		}

	TABLE.child_attachments {
		width: 100%;
		margin: 0px 0px 0px -6px;
	}

		TD.child_attachments_header {
			font-weight: bold;
			font-style: normal;
			width: 100%;
		}

		TD.child_attachments_item {
			width: 1%;
			white-space: nowrap;
		}

		TD.child_attachments_action {
			padding-left: 6pt;
			white-space: nowrap;
		}

	DIV.child_byline {
		padding: 0px 0px 10px 0px;
	}
	
	TD.child_expiry {
		padding: 0px 0px 10px 5px;
	}

		SPAN.child_expiry_label {
			font-weight: bold;
			font-style: normal;
		}
	
		SPAN.child_expiry_date {
			padding: 0px 0px 0px 5px;
		}
	
	SPAN.child_expired {
		color: red;
		padding: 0px 0px 0px 5px;
		font-size: 7pt;
	}

	TD.child_referencelink {
		padding: 0px 0px 0px 5px;
	}

		SPAN.child_referencelink_label {
			font-weight: bold;
			font-style: normal;
		}
	
		SPAN.child_referencelink_link {
			padding: 0px 0px 0px 5px;
		}
	
	TD.child_credits {
			padding: 0px 0px 0px 5px;
		}
	
			SPAN.child_credits_label {
				font-weight: bold;
				font-style: normal;
			}
		
			SPAN.child_credits_user {
				padding: 0px 0px 0px 5px;
		}
	
/************************************************************/
/********************** TEMPLATE CLASSES ********************/
/************************************************************/

/*************************************************************/
/**************** BROWSE VIEW: Template Classes **************/
/*************************************************************/

/********** Browse View: New Field Template Classes **********/

.newfield_richtext {
}

.newfield_richtext_label {
	font-weight: bold;
}

/********** Browse View: Container Template Classes **********/

.entry_otname_label {
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

.entry_otcreatedby_label {
	text-transform: capitalize;
}

.entry_otcreatedby {
}

.container_otcomment {
	text-transform: none;
}
