.customContentTitle {
	text-align:			center;
	background-color:	#999;
	padding:			5px;
}

.customContentTitle a, .customContentTitle a:visited {
		color:			#fff;
		font-weight:	bold;
}

.customContentTitle img {
		vertical-align:	text-bottom;
}

.layoutTable TD {
	text-align:		center;
	border-right:	1px solid #999;
	border-bottom:	1px solid #999;
}

.layoutTable TEXTAREA {
	font-size:			11px;
	color:				#000;
	background-color:	#ddd;
	width:				100%;
}

.sectionTitleBar {
		background-image:	url( '../fon-table-header-yellow.gif' );
		background-repeat:	repeat-x;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.sectionTitle {
		text-align:	center;
		padding:	8px;
}
.sectionTitle a {
		font-weight:	bold;
		font-size:		12px;
}

.sectionTitle img {
		vertical-align:	text-bottom;
}

.contentSectionTitleBar {
		padding:		3px;
		font-weight:	bold;
		font-size:		10px;
		text-align:		center;
}

/* Styles for editlivelinkcomponents.html */
.additem {
		background:		none;
		padding-left:	20px;
}

