.customContentTitle {
	text-align:			center;
	background-color:	#999;
	padding:			5px;
}

.customContentTitle a, .customContentTitle a:visited {
		color:			#fff;
		font-weight:	bold;
}

.customContentTitle img {
		vertical-align:	text-bottom;
}

.layoutTable TD {
	text-align:		center;
	border-right:	1px solid #999;
	border-bottom:	1px solid #999;
}

.layoutTable TEXTAREA {
	font-size:			x-small;
	color:				#000;
	background-color:	#ddd;
	width:				100%;
}

.sectionTitleBar {
		background-image:	url( '../fon-table-header-yellow.gif' );
		background-repeat:	repeat-x;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.sectionTitle {
		text-align:	center;
		padding:	8px;
}
.sectionTitle a {
		font-weight:	bold;
		font-size:		small;
}

.sectionTitle img {
		vertical-align:	text-bottom;
}

.contentSectionTitleBar {
		padding:		3px;
		font-weight:	bold;
		font-size:		small;
		text-align:		center;
}

/* Styles for editlivelinkcomponents.html */
.additem {
		margin:		0 20px 5px 20px;
		background:	none;
		float:		left; 
		width:		130px;
}

.additem input {
		position:	relative;
		top:		2;
		clear:		both;
}

.addItemMenuSelect table td {
		padding:	2px;
		margin:		0;
}

.addItemMenuSelect table {
		width:			50px;
		padding:		0;
		border-spacing:	0;
		height:			17px;
		width:			103px;
}

.addItemMenuSelect {
		margin:	0 0 5px 0;
		float:	left;
}
