/*
 *
 *	LIVELINK STYLESHEET: Item Template module
 *
 *
*/

/*
 *	
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/processstatus.html, itemtemplate/processstatus.html
 */
.statusTblForeground {
		background-color:	#FFFFFF;
}

/*
 *	
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/processstatus2.html
 */
.statusErrTblForeground {
		background-color:	#CCCC99;
}

/*
 *	Defines the styles to apply to the text in a header row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/namesubstitution.html, itemtemplate/filteing.html
 */
.browseListHeaderText {
		text-align:		left;
		font-size:		11px;
}

/*
 *	Defines the styles to apply to the table content with many text columns.
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/namesubstitution.html
 */
.browseText {
		text-align:		left;
		font-size:		11px;
}

/*
 *	Defines the styles to apply to the description box row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/namesubstitution.html
 */
.descriptionCommentBox {
		background-color: 		#F3F3F3;
}

/*
 *	Defines the styles to apply to the text display on top of page for description
 *	or instruction
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/namesubstitution.html
 */
.descriptionComment {
		text-align:		left;
		font-size:		10px;
}

/*
 *	
 *	Use with:
 *		<SPAN>
 *
 *	See:
 *		itemtemplate/processstatus.html
 *		itemtemplate/processstatus2.html
 */
.itemNameProcess {
		color:			#000099;
		font-weight:	bold;
		font-size:		12px;
}

/*
 *	
 *	Use with:
 *		<SPAN>
 *
 *	See:
 *		itemtemplate/processstatus2.html
 */
.errorTextProcess {
		color:			#FF0000;
		font-weight:	bold;
		font-size:		12px;
}

/*
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/processstatus2.html
 */
.errorListProcess {
		color:			#000000;
		font-size:		11px;
}
