.button
{
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	padding: 0px 5px 0px 5px;
}

.column
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
	padding: 5px 10px 5px 10px;
	background: #CCCCCC;
}

.text
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
}

.heading
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#FFFFFF;
	padding: 5px 10px 5px 10px;
	background: #666666;
}

.row1
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
	padding: 5px 10px 5px 10px;
	background: #FFFFFF;
}

.row2
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
	padding: 5px 10px 5px 10px;
	background: #EEEEEE;
}

.link
{ 
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color:#000000;
}

td#column_small_center
{
	width: 1%;
	text-align: center;
	white-space: nowrap;
}


