/*
	WEBSYSTEMOBJ STYLESHEET	
*/

/* 
	Partition Map table body cell divider
*/
.browseListHeader .cellDividerPM {
		background-repeat:	no-repeat;
		width:			2px;
		height:			24px;
}

TD.cellDividerPM, .cellDividerPM {
		padding:		0px;
}

.cellDividerPM {
		border-left: 		1px solid #999999;
}

/*
 * This style is applied to read and write IPool tables on the data flow process create pages
 * Use with:
 * <TABLE>
 */
.outlinedTbl {
		background-color:		#FFFFFF;
		border: 			1px solid #999999;
}

/*
 * Search Manager regions tab
 */
.regionsListHeader 
{
		background-color:		#EDEDED;
		background-repeat:		repeat-x;
		font-size: 			11px;
}

.regionsList
{
	border-spacing:		0;
	width:			100%;
}

.regionsList .regionsListHeader TD
{
	border-bottom: 		solid 1px #A5C9E5;
	padding:		0 .35em 0 .35em;
	white-space: 		nowrap;
	border-left: 		solid 1px #A5C9E5;
}

.regionsList .regionsListHeader .browseListHeaderRegionName
{
	border-left:		none;
}

.regionsList .browseItemName
{
	width:			40%;
	white-space: 		normal;
}

.regionsList .browseItemRegionName
{
	width:			10%;
	white-space: 		normal;
}

.regionRow
{
	height:			24px;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 		11px;
}

tr.highlightedRegionRow {
	background: none repeat scroll 0 0 #FFF2D4;
	padding: 0 1px 0 1px;
	color: #05447E;
}


/*
 * Other styles
 */

.adminBoxTitleBar 
{
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight:		bold;
		font-size:			11px;
		color:				#000000;
		background-image:	url( '../fon-table-header-gray.gif' );
		background-repeat:	repeat-x;
		text-align:			center;
		padding:			3px;
		padding-left:		10px;
}


.valueEditableCell {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:		 		11px; 
		font-weight:	 		normal;
		width:				100%;
		height:				100%;
}


/**
 *	Minimum height of the region state estimate display <DIV>
 *
 *	Use with: <DIV>
 *
 *	See: diskmemoryedit.html
 */
.regionStateEst
{
		min-height:			45px;
		height:				auto !important;
     		height:				45px; 
}

/**
 *	Used to format text in a title.
 *
 *	Use with: <SPAN>
 *
 *	See: license.html
 */
.titleText {
	color:					#555555;
	font-weight:				bold;
}

/*
 * Spider Project AJAX window - see: spiderprojectsframe.html
 */
.spiderProjects {
	width:					1%;
	border:					1px;
}

.spiderProjects a {
	color: 					#05447e;
	text-decoration: 			none;
}

.spiderProjects a:hover {	
	text-decoration: 			underline;
}

#spiderTbl td, #partitionModeTbl td {
	white-space:				nowrap;
}

