/*
	DEFAULT COLLECTIONS STYLESHEET
	
*/

/**
 *	Admin page section title
 *
 *	See admindownloadsettings.html
 *
 *	Use with:
 *		<TD>
 */
.adminSectionTitle
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:		12px;
	color:			black;
	height:			21px;
	background-image:	url( '../fon-table-header-gray.gif' );
	background-repeat:	repeat-x;
	text-align:		center;
}

.collectionStatusBoxHeader TD, .collectionStatusBoxHeader {
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:		12px;
	color:			#666666;
}

.collectionStatusBoxTitleBar
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:		12px;
	color:			#666666;
	background-image:	url( 'fon-table-header-yellow.gif' );
	background-repeat:	repeat-x;
	text-align:		left;
	padding:		3px;
	padding-left:		10px;
}

.collectionNavBar
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:		13px;
	text-decoration: 	none;
	padding:		5px;
}

a.collectionNavBar:hover
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:		13px;
	background-color:	#f7f7f7;
	padding:		1px;
	color:			#000000;
	cursor:			default;
	font-weight:		normal;
	border: 		1px solid #ffb531;
	text-decoration: 	none;
	padding:		3px;
}

a.collectionNavBar:visited
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: 			#05447e;
	font-size:		13px;
	text-decoration: 	none;
	padding:		5px;

}

.collectionNavBarSelected
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:		13px;
	padding:		5px;
}

.collectionPaginationBar 
{
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	font-size:		12px;
	color:			#000000;
	background-image:	url( '../fon-table-header-gray.gif' );
	background-repeat:	repeat-x;
	padding:		3px;
	padding-left:		10px;
}

.collectionPaginationBarEdit {
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:		11px; 
	font-weight:		normal;
	text-align:		center; 
		
}

.collectionModalDiv {
	font-family: 		Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 		11px;
	overflow:		hidden;
	padding:		2px;
	border:			0;
}

/*
 * Defines the styles to apply to the Versions items in a collection browse  header row.
 *
 * Use with:
 * <TD>
 *
 */
.browseListHeaderVersions {
	text-align: 		left;
	font-size: 		11px;
}

/*
 *	Used for checkbox and radio button columns on Configure Make Disk Images Settings page
 */
.browseListHeaderButton {
	text-align:		center;
}

.browseItemButton {
	text-align:		center;
}

.aggregateTable {
	border: 		1px solid #999999;
	width: 			1%;
	display: 		table;
}

.collectionsBrowseAndSidebarContainer{
	clear:			both;
}

.disableMultiButtons{
	cursor: 		auto;
	color: 			#808080;
}

.entireCollectionCheckboxDiv{
	float:			left;
	padding-right:		5px;
}

.entireCollectionCheckbox{
	float:			left;
}

.numSelectedContainer{
	float:			right;
  	line-height: 		1.8em;
    	display: 		block;
    	padding: 		0em 0.6em 0em 0.6em;
    	background-color:	#d2e4a3;
    	border:			1px solid #8dc63f;
}


.progressBarContainer{
	border:			1px solid #ccc;
	width:			400px;
	height:			25px;
	border-radius:		3px;
	box-shadow:		3px 3px 3px #ccc;
}

.progressBarProgress{
	width:			0px;
	height:			25px;
	background:		url('/img/style/images/menu_background_sprite.png') repeat-x scroll left top #C0E1F8;
	border-radius:		3px;
}
