/********************** STANDARD FORUM STYLE *******************/
/* This Stylesheet is used to control the Forums */
/*****************************************************************/

	TABLE.forum_browse {
		width: 100%;
		margin: 0px 0pt 5px 0pt;
		border: 1;
		border-style: solid;
		border-width: 2px;
		border-color: gray;
	}

		TD.forum_browse {
			vertical-align: top;
			white-space: nowrap;
		}

			DIV.forum_browse_byline {
				text-align: center;
			}
			
			DIV.forum_browse_commentscount {
				text-align: center;
			}

			TABLE.forum_browse_rating {
				width: 100%;
				text-align: right;
				color: #808080;
				white-space: nowrap;
			}

/*****************************/
/* for comment view			 */
/*****************************/
table.commentContainer {
			/*background-color: white;*/
			/*border-color:gray;
			border-style:solid;
			border-width:1px;*/
			border-collapse: collapse;
			width:100%;
			padding: 0;
			margin-bottom: 5px;
	     }

td.commentBcard {
				width: 150px;
				background-color: #DCDCDC;
				padding: 10px 10px 10px 10px;
				vertical-align: top;
				border-left: 1px solid gray;
				border-top: 1px solid gray;
				border-bottom: 1px solid gray;
				}

td.commentBcardHighlight {
				background-color: #FFEBCD;
				}

td.commentContent {
				text-align: left;
				background-color: white;
				padding: 10px 10px 5px 10px;
				border-top: 1px solid gray;
				border-right: 1px solid gray;
				}


td.commentControls {
				text-align: right;
				background-color: white;
				padding: 5px 5px 5px 5px;
				border-right: 1px solid gray;
				border-bottom: 1px solid gray;
				}			
				
p.commentTitle {
				font-size: 10pt;
				font-weight: bold;
				}
				
p.commentText {
				}

.termsOfUse {
				font-size: 8pt;
				color: #666666;
				}

.noCommDir {
		margin-left: 20px;
		font-size: 9pt;
		color: black;
		margin-top: 15px;
		}

.unanswered {
		margin-left: 20px;
		font-size: 9pt;
		color: DimGray;
		margin-top: 15px;
		}
		
.answered {
		margin-left: 20px;
		font-size: 9pt;
		color: #333399;
		font-weight: bold;
		margin-top: 11px;
		}

.unansweredNoMessage {
		margin-left: 20px;
		font-size: 8pt;
		color: DimGray;
		margin-top: 5px;
		}

.byLineNew {
		font-size: 8pt;
		color: gray;
		margin-left: 10px;
		}

.separator {
		margin-left: 40px;
		margin-top: 5px;
		border-top: 1px solid;
		border-color: #e6e6e6;
		width: 90%;
		}
.questionTitle {
		margin-left: 40px;
		margin-top: 5px;
		width: 90%;
		}

.questionBody {
		margin-left: 50px;
		margin-top: 5px;
		width: 90%;
		}

.AskQuestion {
		margin-left: 280px;
		font-size: 11pt;
		color: DimGray;
		font-weight: bold;
		margin-top: 15px;
		}
		
.urgentStatus {
		color: red;
		}
/*********************** comment reply quote ***************************/

SPAN.commentQuote {
	border: 1px solid gray;
	width: 90%;
	padding: 10px;
	margin: 5 2 2 5;
	color: gray;
}			

SPAN.commentQuotedInfo {
	color: gray;
}		

DIV.commentQuote {
	border: 1px solid gray;
	width: 90%;
	padding: 10px;
	margin: 5 2 2 5;
	color: gray;
}			

DIV.commentQuotedInfo {
	color: gray;
}		

SPAN.ForumTopicPreview {
	color: gray;
}