/********************* FORUMS FRONTPAGE STYLE ********************/
/*                                                               */
/* This Stylesheet is used to control the so-called "frontpage"  */
/* mini-reports.  It introduces a modular set of styles to be    */
/* used whenever one of the reports are rendered.                */
/*                                                               */
/*****************************************************************/

/*************************************************************/
/******************** STRUCTURAL STYLES **********************/
/*************************************************************/

/*********** Report: Recent Forum Topics ********/

TABLE.recentforumtopics {
}

	A.recentforumtopics_title {
		font-size: 9pt;
		padding: 0px 5px 5px 0px;
		font-weight: bold;
	}
	
	TD.recentforumtopics_body {
		font-size: 9pt;
		padding: 0px 5px 5px 3px;
	}
	
		SPAN.recentforumtopics_body_date {
		}
	
		SPAN.recentforumtopics_body_abstract {
			padding-left: 5px;
		}
	
		SPAN.recentforumtopics_body_bloglink {
			font-size: 8pt;	
			padding-left: 0px;
			white-space: nowrap;		
		}
	
/*********** Report: Forums Hot Topics ********/

TABLE.recentforumtopics {
}

	A.forumshottopics_title {
		font-size: 9pt;
		padding: 0px 5px 5px 0px;
		font-weight: bold;
	}
	
	TD.forumshottopics_body {
		font-size: 9pt;
		padding: 0px 5px 5px 3px;
	}
	
		SPAN.forumshottopics_body_date {
		}
	
		SPAN.forumshottopics_body_abstract {
			padding-left: 5px;
		}
	
		SPAN.forumshottopics_body_bloglink {
			font-size: 8pt;	
			padding-left: 0px;
			white-space: nowrap;		
		}
		
/******************************** MOAB tables shadows ********************************/

TABLE.shadow1 {
	text-align: center;
	width:	100%;
	border: none;
}

	TD.shadow1 {
		width: 100%;
	}
	
		TABLE.shadow2 {
			width: 100%;
			border: none;
		}
		
			TD.shadow2 {
			}
			
				TABLE.shadowheader {
					width: 100%;
					background-repeat: repeat-x;
					background-image: url("../fon-table-header-gray.gif");
					border: none;
				}
				
					TD.shadowheader {
						width: 100%;
						vertical-align: bottom;
						text-align: left;
					}
	
			TD.shadowpre3 {
			}
			
				TABLE.shadow3 {
					width: 100%;
					border: 0;
				}
			
	TD.shadowpost3 {
		background-repeat: repeat-y;
		width: 2;
		background-image: url("../form-shadow-right.gif");
	}
	
		DIV.shadowpost3 {
			border: none;
			width: 2;
			height: 2;
			background-image: url("../form-shadow-right.gif");
		}
	
	TD.shadowpostdiv {
		width: 100%;
		background-image: url("../form-shadow-bottom.gif");	
	}
	
	TD.shadowpostdiv2 {
		height: 2;
		vertical-align:	top;
		width: 100%;
		background-image: url("../block-shadow-bottom-right.gif");		
	}
