/*
 * 
 *
 */
.instruction{
		background-color:		#CCDDDD;
		font-size:				10px;
		font-weight:			bold;
}
.nickerror {
		color:					#434343;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:				left;
		font-size: 				13px;
}

