
/*
	Hit Highlighting STYLESHEET
	
*/

/* ---------------------------  HIT HIGHLIGHTING STYLES  ---------------------------- */

/*
 * The search result page hit highlighting style.
 *
 */
.hh {
		font-weight: 		bold;
}

.hhSelected {
		background: 		#FFFF88;
		font-weight: 		bold;
}

/*
 * Used to display the search items.
 *
 * See:
 *	webhh/hhframe.html
 */
.searchTerms {
		font-size:		x-small;
}

/*
 * Used to display the links to move between hits.
 *
 * See:
 *	webhh/hhframe.html
 */
.hitLinks a {
		font-size:		11px;
}

#haveHits {
		visibility:		hidden;
		position:		relative;
		margin-top: 		5px;
}

