.aLabel
{
	color: #666666;
}

.versionLabel
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
}

.name
{
	color: #dc7200;
	font-size: 18px;
	font-weight: bold;
}

/*
 *	Major icon background classes
 */
.majorIconLeft
{
	background-image: url( majoriconleft.gif );
	background-position: bottom right;
	background-repeat: no-repeat;
	width: 10px;
	height: 80px;
}

.majorIconCenter
{
	background-image: url( majoriconcenter.gif );
	background-position: bottom;
	background-repeat: repeat-x;
	height: 80px;
}

.majorIconRight
{
	background-image: url( majoriconright.gif );
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 10px;
	height: 80px;
}

/*
 *	Major text classes
 */
.majorText
{
	text-align: center;
}

.majorTextWithMinorVersion
{
	background-image: url( majoriconcenter.gif );
	text-align: center;
	padding: 3px 0px 10px 0px;
}

/*
 *	Minor icon background classes
 */
.minorIconLeft
{
	background-image: url( minoriconleft.gif );
	background-position: top right;
	background-repeat: no-repeat;
	width: 10px;
	height: 80px;
}

.minorIconCenter
{
	background-image: url( minoriconcenter.gif );
	background-position: top;
	background-repeat: repeat-x;
	text-align: center;
	height: 80px;
}

.minorIconRight
{
	background-image: url( minoriconright.gif );
	background-position: top left;
	background-repeat: no-repeat;
	width: 10px;
	height: 80px;
}

/*
 *	Primary/secondary action box classes
 */
.actionBox, .actionBox a
{
	background-color: #ccffff;
	font-weight: bold;
	line-height: 150%;
	text-decoration: none;
}

.actionBox a:hover
{
	text-decoration: underline;
}

.actionBox hr {
	color: #aadddd;
}

.actionBox .smallText, .actionBox .smallText a {
	font-weight: normal;
}

.secondaryActionBox
{
	background-color: #dddddd;
}

.secondaryActionBoxLink, .secondaryActionBoxLink a
{
	background-color: #dddddd;
	text-decoration: none;
}

.secondaryActionBoxLink a:hover
{
	text-decoration: underline;
}

/*
 *	Action button classes
 */
.buttonLeft
{
	background-image: url( buttonleft.gif );
	background-position: center right;
	background-repeat: no-repeat;
	width: 8px;
	height: 25px;
}

.buttonCenter, .buttonCenter a, .buttonCenter a:visited
{
	background-image: url( buttoncenter.gif );
	background-position: center;
	background-repeat: repeat-x;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.buttonCenter a:hover
{
	color: #981b1e;
	text-decoration: underline;
}

.buttonRight
{
	background-image: url( buttonright.gif );
	background-position: center left;
	background-repeat: no-repeat;
	width: 8px;
	height: 25px;
}
