/*
	DEFAULT LIVELINK ADMIN STYLESHEET
	
*/

/* *****************  All Livelink Admin Classes ********************** */

/*
 *	This style is applied to text that is used to describe status
 * 	values which are "good"
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.statusTextGood {
	color:						#33CC33;
}

/*
 *	This style is applied to text that is used to describe status
 * 	values which are "bad"
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.statusTextBad {
	color:						#FF0000;
}

/*
 *	This style is applied to text that is used to describe status
 * 	values which are neither good nor bad
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.statusTextUnknown {
	color:						#0000FF;
}

/*
 *	This class is applied to text that is used to display log contents.
 *
 *	Use with:
 *		<PRE>
 *
 */
.logText {
}

/** 
 * 	Used to format the decimal part of statistics in reports.
 * 
 *	Use with:
 * 		<SPAN>
 *
 *	See:
 *		recommender/report.html
 */
.decimalText {
	font-size:			x-small;
}

/** 
 * 	Used to format descriptive text under configuration names.
 * 
 *	Use with:
 * 		<SPAN>
 *
 *	See:
 *		websovmgmt/smconfig.html
 */
.smallDescriptiveText {
	font-family:			Arial,Helvetica,sans-serif;
	font-size:			x-small;
}

/* ***********************  BROWSE CLASSES  ****************************** */

/*
 *	Defines the styles to apply to a left-aligned custom browse column 
 *	header row
 *
 *	Use with:
 *		<TD>
 *
 */
 .browseListAdminHeaderLeftAlign {
		text-align:				left;
}

/*
 *	Defines the styles to apply to a center-aligned custom browse column 
 *	header row
 *
 *	Use with:
 *		<TD>
 *
 */
.browseListAdminHeaderCenterAlign {
		text-align:				center;
}

/*
 *	Defines the styles to apply to a left-aligned custom browse column 
 *	row
 *
 *	Use with:
 *		<TD>
 *
 */
.browseListAdminItemLeftAlign {
		text-align:				left;
}

/*
 *	Defines the styles to apply to a center-aligned custom browse column 
 *	row
 *
 *	Use with:
 *		<TD>
 *
 */
.browseListAdminItemCenterAlign {
		text-align:				center;
}


/* *********************** HEADER CLASSES ***************************** */

/*
 *	A wide bar that has text in it labelling a section of the page.
 *
 *	Use with:
 *		<TR>
 */
.adminSectionBar {
	background-color:		#999999;
	color:				white;
	width:				100%;
	text-align:			center;
}

/*
 *	A tall, narrow bar used on the left side of a set of rows to mark
 *	them as a section.
 *
 *	Use with:
 *		<TD>
 */
 .verticalSectionBar {
	background-color:		#999999;
	color:				white;
	text-align:			center;
 }
