/*
	DEFAULT LIVELINK ADMIN STYLESHEET
	
*/

/* *****************  All Livelink Admin Classes ********************** */

/*
 *	This style is applied to text that is used to describe status
 * 	values which are "good"
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.statusTextGood {
	color:						#33CC33;
}

/*
 *	This style is applied to text that is used to describe status
 * 	values which are "bad"
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.statusTextBad {
	color:						#FF0000;
}

/*
 *	This style is applied to text that is used to describe status
 * 	values which are neither good nor bad
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.statusTextUnknown {
	color:						#0000FF;
}

/*
 *	This class is applied to text that is used to display log contents.
 *
 *	Use with:
 *		<PRE>
 *
 */
.logText {
}

/** 
 * 	Used to format the decimal part of statistics in reports.
 * 
 *	Use with:
 * 		<SPAN>
 *
 *	See:
 *		recommender/report.html
 */
.decimalText {
	font-size:			xx-small;
}

/** 
 * 	Used to format descriptive text under configuration names.
 * 
 *	Use with:
 * 		<SPAN>
 *
 *	See:
 *		websovmgmt/smconfig.html
 */
.smallDescriptiveText {
	font-family:			Arial,Helvetica,sans-serif;
	font-size:			xx-small;
}

/* ***********************  BROWSE CLASSES  ****************************** */

/*
 *	Defines the styles to apply to a left-aligned custom browse column 
 *	header row
 *
 *	Use with:
 *		<TD>
 *
 */
 .browseListAdminHeaderLeftAlign {
		text-align:				left;
}

/*
 *	Defines the styles to apply to a center-aligned custom browse column 
 *	header row
 *
 *	Use with:
 *		<TD>
 *
 */
.browseListAdminHeaderCenterAlign {
		text-align:				center;
}

/*
 *	Defines the styles to apply to a left-aligned custom browse column 
 *	row
 *
 *	Use with:
 *		<TD>
 *
 */
.browseListAdminItemLeftAlign {
		text-align:				left;
}

/*
 *	Defines the styles to apply to a center-aligned custom browse column 
 *	row
 *
 *	Use with:
 *		<TD>
 *
 */
.browseListAdminItemCenterAlign {
		text-align:				center;
}


/* *********************** HEADER CLASSES ***************************** */

/*
 *	A wide bar that has text in it labelling a section of the page.
 *
 *	Use with:
 *		<TR>
 */
.adminSectionBar {
	background-color:		#999999;
	color:				white;
	width:				100%;
	text-align:			center;
}

/*
 *	A tall, narrow bar used on the left side of a set of rows to mark
 *	them as a section.
 *
 *	Use with:
 *		<TD>
 */
 .verticalSectionBar {
	background-color:		#999999;
	color:				white;
	text-align:			center;
 }

/*
 *	The gradient bar on the admin pages that is a section divider
 */
.adminBoxTitleBar 
{
	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:			bold;
	font-size:			11px;
	color:				#000000;
	background-image:		url( 'fon-table-header-gray.gif' );
	background-repeat:		repeat-x;
	text-align:			center;
	padding:			3px;
	padding-left:			10px;
}

/* *********************** LANGUAGE CLASSES ***************************** */

/*
 *	The header of the installation summary page
 */
 
 .summaryPageHeading
 {
 	font-weight:bold;
 	font-size:10pt;
 	line-height:2.0;
 }
 
 .sectionHeading{
 	font-weight:bold;
 	font-size:8pt;
 	line-height:2.0;
 	padding-top:6px;
	padding-top:4px;
 }

 .sectionHeading > .bodyText{
	font-weight:normal;
 }
 
 .summaryList{
 	margin-top:0px;
 	margin-bottom:0px;
 }
 
 .summaryListItem
 {
 	line-height:1.5;
 }
 
 
 .summaryTextarea
 {
 	width:90%;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow:-moz-scrollbars-vertical; 	
 }
 
 .bodyText
 {
 	line-height:1.5;
 }

 .installTableContentRow
 {
	line-height:17px;
 }
 
 .footnote-link
 {
 	text-decoration: none;
 }
 .footnote-link:active,
 .footnote-link:hover
 {
 	text-decoration: underline;
 }
 
 .even-Row
 {
 	background-color: #DDD;
 }

 .columnSubHeading
 {
	font-weight: normal;
 }
 
 .updatedBrowse .dateFormatTable td
 {
 	border: 0;
 }
 
 .dateFormatTable .contentRow
 {
  	height: 22px;
 }
 
 .dateFormatTable .contentRow td *
 {
 	vertical-align: middle;
 }
 
 .sampleDate
 {
 	font-weight: bold;
 }
 
 .subSectionHeading
 {
 	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 	color:				#555;
 	font-weight:			bold;
 }
 
 .adminLabel
 {
 	font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 	background-color:		#CCC;
 	font-size:			10pt;
 	
 }